@charset "UTF-8";
.title{
	font-size: 32px;
}
.neck{
	
}
.left{
	float: left;
	width: 30%;
}
.right{
	float: left;
	width: 70%;
}
.bottom{
	clear: both;
}
.playersinfo{
	float: left;
	width: 50%;
}
.logs{
	float: left;
	width: 50%;
}
.moves{
	clear: both;
}