@charset "UTF-8";
button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(160,32,240);
	border-radius: 8px;
	
	background: rgb(160,32,240);
}

button:disabled{
	outline: none;
	color: rgb(12,137,24);
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(160,32,240);
	border-radius: 8px;
	
	background: white;
}

.card-hand{
	height: 320px;
	width: 210px;
	border: none;
	position: relative;	
	border: 5px solid rgb(160,32,240);
	border-radius: 16px;
	background-image:url("/image/Architect/Cards/WoodCutter.png");
	background-size: cover;
}

.card-title{
	position: relative;
	left: 105px;
	margin-left: -40px;
	top: 0px;
	width: 80px;
	font-size: 20px;
	text-align: center;
	color: white;
	background-color: black;
}