@charset "UTF-8";
button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(160,32,240);
	border-radius: 8px;
	
	background: rgb(160,32,240);
}

button:disabled{
	outline: none;
	color: rgb(160,32,240);
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(160,32,240);
	border-radius: 8px;
	
	background: white;
}

.building-reveal{
	height: 108px;
	width: 192px;
	border: none;
	position: relative;	
	border: 3px solid black;
	border-radius: 16px;
}

.building-reveal-title{
	position: relative;
	left: 96px;
	margin-left: -36px;
	top: 0px;
	width: 72px;
	font-size: 15px;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.7);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.building-reveal-score{
	position: absolute;
	top: -5px;
	left: 8px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	-webkit-text-stroke: 1px black;
}

.building-reveal-price-div{
	position: absolute;
	bottom: 0px;
	width: 186px;
	text-align: center;
	background-color: rgba(127,127,127,0.7);
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}

.building-reveal-price-div table{
	margin: 0 auto;
}

.card-hand{
	height: 240px;
	width: 157px;
	border: none;
	position: relative;	
	border: 3px solid black;
	border-radius: 16px;
}

.card-hand-title{
	position: relative;
	left: 78px;
	margin-left: -36px;
	top: 0px;
	width: 72px;
	font-size: 15px;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.7);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.card-hand-res-div{
	position: absolute;
	bottom: 0px;
	width: 151px;
	background-color: rgba(127,127,127,0.7);
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}

.card-hand-res-need-div{
	bottom: 0px;
	width: 151px;
	background-color: rgba(220,0,0,0.3);
}

.card-hand-res-provide{
	bottom: 0px;
	width: 151px;
	background-color: rgba(127,127,127,0.7);
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}

.card-hand-res-div table{
	margin: 0 auto;
}

.card-hand-res{
	height: 28px;
	width: 28px;
}

.play-details{
	text-align: center;
	height: 32px;
}

.resource{
	height: 40px;
	width: 40px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}