@charset "UTF-8";
.tabs{
	background: linear-gradient(black, darkslategray, darkslategray, darkslategray, black);
}

.nav-tabs .nav-link.active{
	background: darkslategray;
	color: white;
}

.tabcontent button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid darkslategray;
	border-radius: 8px;
	
	background: darkslategray;
}