@charset "UTF-8";
button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid darkslategrey;
	border-radius: 8px;
	
	background: darkslategrey;
}

button:disabled{
	outline: none;
	color: darkslategrey;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid darkslategrey;
	border-radius: 8px;
	
	background: white;
}

.icon{
	height: 100px;
	width: 100px;
}

.icon-small{
	height: 80px;
	width: 80px;
}

.icon-choose:hover{
	filter:brightness(120%) drop-shadow(0px 0px 10px yellow);
}

.town-place{
	background-color: white;
	width: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid black;
	position: absolute;
	text-align: center;
	opacity: 0.8;
	border-radius: 5px;
}

.place-div{
	top: 100px;
	left: 120px;
	height: 400px;
	width: 720px;
	position: absolute;
	background: white;
	border-radius: 10px;
}

.place-img{
	height: 400px;
	width: 720px;
	border: 3px solid #ddd;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
}

.place-content{
	position: absolute;
	top: 30px;
	left: 30px;
	height: 340px;
	width: 660px;
}

.town-place:hover{
	border: 2px solid gold;
	background-color: LightGoldenRodYellow;
	cursor: pointer;
}

.dig-button{
	font-size: 21px;
	padding: 5px;
	width: 220px;
	background-color: yellow;
	border: 2px solid black;
	border-radius: 10px;
	position: absolute;
	bottom: 0px;
	left: 220px;
	padding-left: 15px;
}

.dig-button:hover{
	cursor: pointer;
	border: 2px solid gold;
}

.dig-button img{
	width: 40px;
	height: 40px;
	padding-botton: 5px;
}

.digging {
	width: 220px;
	text-align: center;
	top: 60px;
	left: 220px;
	position: absolute;
}

.account-info{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 60px;
	width: 405px;
}

.account-info td{
	width: 135px;
}

.account-category {
	height: 60px;
	width: 130px;
	background-color: rgba(255,255,0,0.8);
	border-radius: 30px;
	padding: 5px;
	float: right;
	border: 2px solid black;
}

.account-category img{
	height: 50px;
	width: 50px;
	padding-bottom: 5px;
}

.account-category span{
	height: 50px;
	padding-top: 10px;
	padding-right: 15px;
	float: right;
	font-size: 18px;
	font-weight: bold;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}