@charset "UTF-8";
.tabs{
	background: linear-gradient(black, rgb(0,0,102), rgb(0,0,102), rgb(0,0,102), black);
}

.nav-tabs .nav-link.active{
	background: rgb(0,0,102);
	color: white;
}

.tabcontent button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(0,0,102);
	border-radius: 8px;
	
	background: rgb(0,0,102);
}

.tabcontent button:disabled{
	outline: none;
	color: rgb(0,0,102);
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(0,0,102);
	border-radius: 8px;
	
	background: white;
}


.citadelstext{
	font-weight: bold;
	color: rgb(0,0,102);
}

.newsImg{
	height: 320px;
	width: 210px
}