@charset "UTF-8";
.winnerInfo{
	position: absolute;
	left: 50%;
	height: 600px;
	width: 850px;
	margin-left: -425px;
}

.cupDiv{
	position:absolute;
	top: 50%;
	left: 50%;
	height: 600px;
	width: 500px;
	margin-left: -250px;
	margin-top: -300px;
}

.cup{
	height: 150px;
	width: 150px;
}

.built {
	float: left;
	height: 112px;
	width: 74px;
	position: relative;
}
.qsmark{
	position: absolute;
	user-select:none;
	float: left;
	bottom: 2px;
	left: 2px;
}
.beautify{
	position: absolute;
	user-select:none;
	float: left;
	left: 15px;
}
body {
	background-color: rgb(0,0,102);
}


button{
	outline: none;
	color: rgb(0,0,102);
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(0,0,102);
	border-radius: 8px;
	border-color: #dddddd;
	background: white;
}