@charset "UTF-8";
html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body{
	background: url("/image/Dominion/background/BaseArt.jpg") no-repeat center center;
	background-size:cover;
	background-attachment: fixed;
	height: 100%;
	margin: 0;
	padding: 0px;
	color: white;
}
button {
	color: white;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	background: transparent;
}
button[disable]{
	color: gray;
	border-color: grey;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	background: transparent;
}
.base{
	float: left;
	height: 105px;
	width: 70px;
}
.base-number{
	position: relative;
	top:0%;
	left:0%;
	background-color:red;
	color:white;
	width: 30%;
	text-align: center;
}
.kindom{
	float: left;
	height: 157px;
	width: 105px;
}
.kindom-number{
	position: relative;
	top:0%;
	left:0%;
	background-color:red;
	color:white;
	width: 20%;
	text-align: center;
}

.kindom-question{
	position: relative;
	top:0%;
	right:0%;
}
.plus{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.choosehand{
	position: relative;
	top: 18px;
	left: 11px;
	height: 80px;
	width: 80px;
}
.chooserevealed{
	position: relative;
	top: 28px;
	left: 11px;
	height: 80px;
	width: 80px;
}
.chooserevealedtop{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.choosehand-number{
	position: relative;
	top: 26px;
	left: 33px;
	color: white;
	font-weight:500;
	font-size:24px;
}
.viewed{
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px;
}
.supply{
	position: relative;
	height: 70%;
	padding-top: 2px;
	background-color: rgba(0,0,0,0.8);
}
.player{
	position: relative;
	height: 30%;
	background-color: rgba(0,0,0,0.8);
}
.sidecontent{
	border: 1px solid white;
	overflow-y: scroll;
	overflow:auto;
	height: 350px;
	padding-left: 10px;
}
.hand{
	position: absolute;
	bottom: 0%;
	left: 50%;
	height: 160px;
	width: 600px;
	margin: 0,0,0,-300px;
}