@charset "UTF-8";
.base{
	float: left;
	height: 105px;
	width: 70px;
}
.base-number{
	position: relative;
	top:0%;
	left:0%;
	background-color:red;
	color:white;
	width: 30%;
}
.kindom{
	float: left;
	height: 157px;
	width: 105px;
}
.kindom-number{
	position: relative;
	top:0%;
	left:0%;
	background-color:red;
	color:white;
	width: 20%;
}

.kindom-question{
	position: relative;
	top:0%;
	right:0%;
}
.choosehand{
	position: relative;
	top: 18px;
	left: 11px;
	height: 80px;
	width: 80px;
}
.chooserevealed{
	position: relative;
	top: 28px;
	left: 11px;
	height: 80px;
	width: 80px;
}
.chooserevealedtop{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.choosehand-number{
	position: relative;
	top: 26px;
	left: 33px;
	color: white;
	font-weight:500;
	font-size:24px;
}
.viewed{
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px;
}
.hand{
	position: absolute;
	bottom: 0%;
	left: 50%;
	height: 160px;
	width: 600px;
	margin: 0,0,0,-300px;
}