@charset "UTF-8";
.tabs{
	background: linear-gradient(black, darkgreen, darkgreen, darkgreen, black);
}

.nav-tabs .nav-link.active{
	background: darkgreen;
	color: white;
}

.tabcontent button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid darkgreen;
	border-radius: 8px;
	
	background: darkgreen;
}

.tabcontent button:disabled{
	outline: none;
	color: darkgreen;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid darkgreen;
	border-radius: 8px;
	
	background: white;
}

.gardenwartext{
	font-weight: bold;
	color: darkgreen;
}

.newsImg{
	height: 320px;
	width: 210px
}