@charset "UTF-8";
.tabs{
	background: linear-gradient(black, rgb(23,44,60), rgb(23,44,60), rgb(23,44,60), black);
}

.nav-tabs {
    border-bottom: 1px solid rgb(200,149,31);
}

.nav-tabs .nav-link{
	color: rgb(23,44,60);
}

.nav-tabs .nav-link.active{
	background: rgb(23,44,60);
	color: rgb(230,179,61);
}

.tabcontent{
	color: rgb(23,44,60);
	
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid rgb(200,149,31);
}

.gravepsychotext{
	font-weight: bold;
	color: rgb(23,44,60);
}

.newsImg{
	height: 320px;
	width: 210px
}

.tabcontent button{
	outline: none;
	color: rgb(230,179,61);
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(23,44,60);
	border-radius: 8px;
	
	background: rgb(23,44,60);
}