@charset "UTF-8";
.nav-tabs .nav-link.active{
	background: rgb(0,100,100);
	color: white;
}

.citadelstext{
	font-weight: bold;
	color: rgb(0,0,102);
}

.citadelshovertext{
	font-weight: bold;
	color: rgb(0,0,102);
	text-decoration: underline;
}

.newsImg{
	height: 320px;
	width: 210px
}