@charset "UTF-8";

body {
	margin: 0px;
	height: 100%;
}

html {
	height: 100%;
}

.header{
	background-color: blue;
	width: 100%;
}

.title{
	padding-left: 10px;
	padding-bottom: 10px;
	color: white;
}

.tabcontent{
	width: 100%;
}

.sidebar{
	width: 15%;
	float: left;

}

.content{
	width: 85%;
	float: left;
}
