@charset "UTF-8";

@font-face{
     font-family: 'qishu'; 
     src:url('/font/AaQiShu-2.woff') format('woff')
}

@font-face{
     font-family: 'yzgc'; 
     src:url('/font/YeZiGongChangAoYeHei-2.woff') format('woff')
}

button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(0,150,255);
	border-radius: 8px;
	
	background: rgb(0,150,255);
}

button:disabled{
	outline: none;
	color: rgb(0,150,255);
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(0,150,255);
	border-radius: 8px;
	
	background: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.card{
	position: relative;
	float: left;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	/* cursor: pointer; */
}

.card-size-hand{
	height: 320px;
	width: 210px;
	border-radius: 10px;
}

.card-size-news{
	zoom: 1.5
}
