@charset "UTF-8";
button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(126,33,18);
	border-radius: 8px;
	
	background: rgb(126,33,18);
}

button:disabled{
	outline: none;
	color: rgb(126,33,18);
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid rgb(126,33,18);
	border-radius: 8px;
	
	background: white;
}

.role {
	height: 160px;
	width: 105px;
	position: relative;
}

.target{
	position: absolute;
	user-select:none;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -45px;
	height: 80px;
	width: 80px;
	background:url("/image/Onenight/target.png");
	background-size:cover;
}

.exchange{
	position: absolute;
	user-select:none;
	right: 0px;
	bottom: 0px;
	height: 60px;
	width: 60px;
	background:url("/image/Onenight/exchange.png");
	background-size:cover;
}