@charset "UTF-8";
button{
	outline: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid orangered;
	border-radius: 8px;
	
	background: orangered;
}

button:disabled{
	outline: none;
	color: orangered;
	font-size: 16px;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border: 2px solid orangered;
	border-radius: 8px;
	
	background: white;
}

.play-checked{
	position: absolute;
	user-select:none;
	right: 5px;
	bottom: 5px;
	height: 40px;
	width: 40px;
	z-index: 100;
	background:url("/image/Threechaodoms/checked.png");
	background-size:cover;
}

.play-not-checked{
	position: absolute;
	user-select:none;
	right: 5px;
	bottom: 5px;
	height: 40px;
	width: 40px;
	z-index: 100;
	background:url("/image/Threechaodoms/not-checked.png");
	background-size:cover;
}

.checked{
	height: 20px;
	width: 20px;
	z-index: 100;
	background:url("/image/Threechaodoms/checked.png");
	background-size:cover;
}

.not-checked{
	height: 20px;
	width: 20px;
	z-index: 100;
	background:url("/image/Threechaodoms/not-checked.png");
	background-size:cover;
}

.jail{
	position: absolute;
	user-select:none;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -45px;
	height: 80px;
	width: 80px;
	z-index: 100;
	background:url("/image/Threechaodoms/jail.png");
	background-size:cover;
}

.exchange{
	position: absolute;
	user-select:none;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -55px;
	height: 100px;
	width: 100px;
	z-index: 100;
	background:url("/image/Threechaodoms/exchange.png");
	background-size:cover;
}

.exile{
	position: absolute;
	user-select:none;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -55px;
	height: 100px;
	width: 100px;
	z-index: 100;
	background:url("/image/Threechaodoms/kick.jpg");
	background-size:cover;
}

.play-button{
	position: absolute;
	top: 225px;
	width: 105px;
	margin-left: -45px;
	left: 50%;
	z-index: 100;
	
}

.mark-grid{
	width: 25px;
	border: 1px solid black;
	text-align: center;
}

.chaos-grid{
	color:"grey";
}

.logs{
	border: 1px solid;
	overflow-y: scroll;
	overflow:auto;
	height: 400px;
	width: 301px;
	padding-left: 10px;
}

.tomb-nav{
	position: absolute;
	bottom: 2px;
	color: white;
	z-index: 100;
}

.game-end-table td{
	border: 1px solid black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}