<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Architect</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/architectTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/architectOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/architectCreateGameController.js"></script>
<body ng-app="architectCreateGameApp" ng-controller="architectCreateGameCtrl">
	<button ng-click="goto('architect')">back</button>
	<button ng-click="addbot()">add bot</button>
	<button ng-click="startGame()" ng-show="lord == username">start game</button>
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	<table>
		<tr ng-repeat="p in players">
			<td>{{p.name}}</td>
		</tr>
	</table>
	<div>
		<input type="checkbox" ng-checked="settings[0]==1" ng-click="includeBonus()">
		<label>额外卡牌</label>
	</div>
	<!-- 
	<div>
		{{gamedata}}
	</div>
	 -->
</body>
</html>