<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Architect</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/architectTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/architectOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/architectEndGameController.js"></script>
<body ng-app="architectEndGameApp" ng-controller="architectEndGameCtrl">
	<button ng-click="goto('architect')">back</button>
	<button ng-click="addbot()">add bot</button>
	<table>
		<tr>
			<td>player</td>
			<td>score</td>
		</tr>
		<tr ng-repeat="p in players">
			<td>{{p.name}}</td>
			<td>{{p.score}}</td>
		</tr>
	</table>
	<!-- 
	<div>
		{{gamedata}}
	</div>
	 -->
</body>
</html>