<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Architect</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/architectTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/architectOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/architectCreateGameController.js"></script>
<body ng-app="architectCreateGameApp" ng-controller="architectCreateGameCtrl">
	<button ng-click="goto('architect')">back</button>
	<button ng-click="addbot()">add bot</button>
	<button ng-click="startGame()">start game</button>
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	<!-- 
	<div>
		<table>
			<tr ng-repeat="p in playerNames track by $index">
				<td>{{p}}</td>
				<td><span ng-show="$index == curPlayer">起始玩家</span></td>
				<td><button ng-show="username == lord && $index != curPlayer" ng-click="setStartPlayer($index)">设为起始玩家</button></td>
				<td><button ng-show="lord == username && $index != '0'" ng-click="kick($index)">踢</button></td>
			</tr>
		</table>
		<p>每名玩家初始红包数量：{{initialRevealedMoney}}</p>
	</div>
	<div ng-show="username == lord">
		<p>你可以调整每名玩家初始红包数量：</p>
		<button ng-repeat="t in initialMoneyOptions" ng-click="setInitialRevealedMoney(t)">{{t}}</button>
	</div>
	 -->
</body>
</html>