<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Architect</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/architectTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/architectOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/architectGameController.js"></script>
<body ng-app="architectGameApp" ng-controller="architectGameCtrl">
	<button ng-click="goto('architect')">back</button>
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	<div>
		<div>
			<table>
				<tr>
					<td ng-repeat="c in revealedCards track by $index">
						<div class="card-hand noselect" ng-style="c.cardStyle" ng-click="clickRevealedCard($index)">
							<div class="card-hand-title noselect">{{c.name}}</div>
							<div class="card-hand-res-div noselect">
								<table>
									<tr>
										<td ng-repeat="r in c.provideResStyles track by $index">
											<div class="card-hand-res" ng-style="r"></div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td ng-repeat="c in revealedCards track by $index" class="play-details">
						<button ng-click="hire($index)" ng-show="shownHireDetails == $index">招募</button>
					</td>
				</tr>
			</table>
		<!-- 
		<div>
			<span ng-repeat="c in revealedCards track by $index"><button ng-click="hire($index)">{{c.name}}</button></span>
		</div>
		 -->
		<div>
			<span ng-repeat="p in players[myIndex].play track by $index">{{p.name}}</span>
		</div>
		<div>
			<table>
				<tr>
					<td ng-repeat = "a in players[myIndex].warehouseArr track by $index">
						<div class="resource" ng-style="players[myIndex].warehouseStyles[$index]"></div>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<button ng-click="rest()">休整</button>
		</div>
		<div>
			<table>
				<tr>
					<td ng-repeat="c in hand track by $index">
						<div class="card-hand noselect" ng-style="c.cardStyle" ng-click="clickHand($index)">
							<div class="card-hand-title noselect">{{c.name}}</div>
							<div class="card-hand-res-div noselect">
								<table>
									<tr>
										<td ng-repeat="r in c.provideResStyles track by $index">
											<div class="card-hand-res" ng-style="r"></div>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td ng-repeat="c in hand track by $index" class="play-details">
						<button ng-click="play($index)" ng-show="shownPlayDetails == $index">打出</button>
					</td>
				</tr>
			</table>
		</div>
		
	</div>
	
	<div>
		{{gamedata}}
	</div>
	<!-- 
	<div>
		<table>
			<tr ng-repeat="p in playerNames track by $index">
				<td>{{p}}</td>
				<td><span ng-show="$index == curPlayer">起始玩家</span></td>
				<td><button ng-show="username == lord && $index != curPlayer" ng-click="setStartPlayer($index)">设为起始玩家</button></td>
				<td><button ng-show="lord == username && $index != '0'" ng-click="kick($index)">踢</button></td>
			</tr>
		</table>
		<p>每名玩家初始红包数量：{{initialRevealedMoney}}</p>
	</div>
	<div ng-show="username == lord">
		<p>你可以调整每名玩家初始红包数量：</p>
		<button ng-repeat="t in initialMoneyOptions" ng-click="setInitialRevealedMoney(t)">{{t}}</button>
	</div>
	 -->
</body>
</html>