<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Belltower</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/belltowerTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/belltowerOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/belltowerGameController.js"></script>
<body ng-app="belltowerGameApp" ng-controller="belltowerGameCtrl">
	<button ng-click="goto('belltower')">back</button>
	<!-- 
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	 -->
	<div ng-show="status==ASSIGNROLE">
		<div>
			<table>
				<tr>
					<td ng-repeat="gn in groupNames track by $index">{{gn}}</td>
				</tr>
				<tr>
					<td ng-repeat="g in groupNumbers track by $index">
						<button ng-disabled="g == 0" ng-click="subtractGroupNumber($index)">-</button>
						<span>{{g}}</span>
						<button ng-disabled="canSubmitGroupNumbers()" ng-click="addGroupNumber($index)">+</button>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<button ng-click="submitGroupNumbers()" ng-disabled="canSubmitGroupNumbers() == false">进入第一夜</button>
		</div>
	</div>
	<div ng-show="status==INGAME">
		<div>
			<span>第{{gamedata.numDay}}天</span>
			<span ng-show="phase==NIGHT">夜晚</span>
			<span ng-show="phase==DAY">白天</span>
		</div>
		<div>
			<table>
				<tr ng-repeat="p in players track by $index">
					<td>
						<button ng-click="choosePlayer($index)">{{p.displayName}}</button>
					</td>
					<td>
						<span ng-show="chosenPlayer == $index">已选择</span>
						<span ng-show="chosenPlayer != $index">未选择</span>
					</td>
					<td>
						<button ng-show="showNoNominate" ng-click="nominate($index)" ng-disabled="p.nominated == true">指控该玩家</button>
					</td>
				<tr>
			</table>
		</div>
		<div ng-show="phase==DAY">
			<div>{{nominateMessage}}</div>
			<div>
				<span>{{userNVMsg}}</span>
				<button ng-show="showNoNominate" ng-click="nominate(-1)">不指控</button>
				<button ng-show="showNoVote" ng-click="vote(true)">投票</button>
				<button ng-show="showNoVote" ng-click="vote(false)">不投票</button>
			</div>
		</div>
		<div ng-show="phase==NIGHT">
			<div>
				<div ng-repeat="ins in gamedata.myRole.instructions track by $index">{{ins}}</div>
			</div>
			<div ng-show="gamedata.confirmedNight == false">
				<button ng-click="confirmNight()" ng-disabled="canConfirmNight() == false">确认</button>
			</div>
			<div ng-show="gamedata.confirmedNight">
				你已确认，正等待其他玩家确认。
			</div>
		</div>
		<div ng-show="phase==EXECUTION">
			<div>{{gamedata.executionMsg}}</div>
			<div>
				<button ng-click="confirmDay()">确认</button>
			</div>
		</div>
	</div>
	<div ng-show="status==ENDGAME">
		<div>游戏结束</div>
		<div>
			胜利方：
			<span ng-show="gamedata.winFaction==HUMAN">人类</span>
			<span ng-show="gamedata.winFaction==DEVIL">恶魔</span>
		</div>
	</div>
	<!-- 
	<div>
		<p ng-repeat="p in players">{{p.name}}</p>
	</div>
	 -->
	{{gamedata}}
</body>
</html>