<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Belltower</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/belltowerTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/belltowerOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/belltowerCreateGameController.js"></script>
<body ng-app="belltowerCreateGameApp" ng-controller="belltowerCreateGameCtrl">
	<button ng-click="goto('belltower')">back</button>
	<button ng-show="username==lord" ng-click="startGame()">start game</button>
	<button ng-show="username==lord" ng-click="addBot()">add bot</button>
	<!-- 
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	 -->
	<div>
		<div style="float:left; width: 500px;">
			<table>
				<tr>
					<td>用户名</td>
					<td>游戏中显示</td>
					<td>头像</td>
				</tr>
				<tr ng-repeat="p in players track by $index">
					<td>{{p.name}}</td>
					<td>{{p.displayName}}</td>
					<td>
						<img ng-src="image/Belltower/Icons/{{p.icon.character}}.png" class="icon"/>
					</td>
				</tr>
			</table>
		</div>
		<div style="float:left; width: 500px;">
			<!-- 
			<div ng-repeat="x in gamedata.myAvailableCharacters track by $index">
				<img ng-src="image/Belltower/Icons/{{x}}.png" class="icon" style="float: left" ng-click="changeIcon(x)"/>
			</div>
			 -->
			<div>
				更换头像
			</div>
			<div>
				<table>
					<tr ng-repeat="i in [0,1,2,3,4]">
						<td ng-repeat="j in [0,1,2,3]" style="padding: 10px;">
							<img class="icon" ng-show="charsCurPage[i][j] == 'x'" src="image/Belltower/empty.png" style="opacity: 0.2;"/>
							<img class="icon icon-choose" ng-show="charsCurPage[i][j] != 'x'" ng-src="image/Belltower/Icons/{{charsCurPage[i][j]}}.png" 
								ng-click="changeIcon(charsCurPage[i][j])" style="cursor:pointer"/>
						</td>
					</tr>
				</table>
			</div>
			<div>
				<button ng-disabled="canFlipCharPage(-1) == false", ng-click="flipCharPage(-1)">&lt;</button>
				<span>{{curPage}}/{{numPages}}</span>
				<button ng-disabled="canFlipCharPage(1) == false", ng-click="flipCharPage(1)">&gt;</button>
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
	<div>
		<span>你可以修改你游戏中显示的姓名：</span>
		<input type="text" ng-model="displayName">
		<button ng-click="changeDisplayName()">提交</button>
	</div>
	<!-- 
	<div>
		<button ng-click="changeIcon(0)">更换头像0</button>
		<button ng-click="changeIcon(1)">更换头像1</button>
	</div>
	 -->
	
	
	{{gamedata}}
</body>
</html>