<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Belltower</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/belltowerTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/belltowerOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/belltowerGameController.js"></script>
<body ng-app="belltowerGameApp" ng-controller="belltowerGameCtrl">
	<button ng-click="goto('belltower')">back</button>
	<!-- 
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	 -->
	<div ng-show="status==ASSIGNROLE">
		<div>
			<table>
				<tr>
					<td ng-repeat="gn in groupNames track by $index">{{gn}}</td>
				</tr>
				<tr>
					<td ng-repeat="g in groupNumbers track by $index">
						<button ng-disabled="g == 0" ng-click="subtractGroupNumber($index)">-</button>
						<span>{{g}}</span>
						<button ng-disabled="canSubmitGroupNumbers()" ng-click="addGroupNumber($index)">+</button>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<button ng-click="submitGroupNumbers()" ng-disabled="canSubmitGroupNumbers() == false">进入第一夜</button>
		</div>
	</div>
	<div ng-show="status==INGAME">
		<div>
			<table>
				<tr ng-repeat="p in players track by $index">
					<td>
						<button ng-click="choosePlayer($index)">{{p.name}}</button>
					</td>
					<td>
						<span ng-show="chosenPlayer == $index">已选择</span>
						<span ng-show="chosenPlayer != $index">未选择</span>
					</td>
				<tr>
			</table>
		</div>
	</div>
	
	<div ng-show="status==INGAME">
		<div ng-show="phase==NIGHT">
			<button ng-click="confirmNight()">确认</button>
		</div>
	</div>
	
	<div>
		<p ng-repeat="p in players">{{p.name}}</p>
	</div>
	{{gamedata}}
</body>
</html>