<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Belltower</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/belltowerTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/belltowerOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/lib/angular-sanitize.js"></script>
<script src="/js/app/belltowerMainController.js"></script>
<body ng-app="belltowerMainApp" ng-controller="belltowerMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<button ng-click="goto('pokewhat')">宝可纳尼</button>
		<button ng-click="goto('gravepsycho')">盗墓惊魂</button>
		<button ng-click="goto('onenight')">狼人不杀</button>
		<button ng-click="goto('architect')">雕梁画栋</button>
		<!-- 
		<button ng-click="goto('pokerworld')">棋牌世界</button>
		<button ng-click="goto('gardenwar')">花园战争</button>
		 -->
		<button ng-click="goto('threechaodoms')">混沌三国</button>
		<button style="padding-top: 0px; color: darkslategray; font-size: 24px; background-color:white">小恶魔杀</button>
	</div>
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">规则</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#shopstab" ng-click="hideTablesTab()">小镇</a>
				    </li>
				</ul>
			</div>
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>小恶魔杀</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>状态</td>
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="rulestab" class="content container tab-pane fade">
					<h2><b>规则</b></h2>
					
				</div>
				<div id="shopstab" class="content container tab-pane fade noselect">
					<div><h2><b>小镇</b></h2></div>
					<div style="background-image:url('/image/Belltower/town.jpg'); background-size:cover; height: 600px; width: 960px; position: relative">
						<div class="account-info">
							<table>
								<tr>
									<td>
										<div class="account-category">
											<img src="/image/Belltower/coin.png">
											<span>{{accountInfo.money}}</span>
										</div>
									</td>
									<td>
										<div class="account-category">
											<img src="/image/Belltower/diamond.png">
											<span>{{accountInfo.diamond}}</span>
										</div>
									</td>
									<td>
										<div class="account-category">
											<img src="/image/Belltower/chest.png">
											<span>{{accountInfo.key}}</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
						
						<div ng-click="openPlace('mine')" class="town-place" style="left: 20px; bottom: 20px;" ng-show="shownPlace == ''">
							矿场
						</div>
						<div ng-click="openPlace('market')" class="town-place" style="left: 140px; bottom: 220px;" ng-show="shownPlace == ''">
							市集
						</div>
						<div ng-click="openPlace('locksmith')" class="town-place" style="right: 270px; bottom: 160px;" ng-show="shownPlace == ''">
							开锁店
						</div>
						<div ng-click="openPlace('home')" class="town-place" style="right: 150px; bottom: 100px;" ng-show="shownPlace == ''">
							自宅
						</div>
						
						<div class="place-div" ng-show="shownPlace != ''">
							<img ng-src="/image/Belltower/{{shownPlace}}.jpg" class="place-img">
							<div ng-show="shownPlace == 'mine'" class="place-content">
								<h3>矿场</h3>
								<div ng-show="showReward == false && loadingReward == false && accountInfo.money>=88" ng-click="dig()" 
									class="dig-button">
									<span>挖掘（花费88</span>
									<img src="/image/Belltower/coin.png">
									<span>)</span>
								</div>
								<div ng-show="showReward == false && loadingReward == false && accountInfo.money<88" 
									style="width:360px; left: 150px; bottom: 50px;position: absolute;text-align:center;font-size: 21px;">
									<span>挖掘需要花费88</span>
									<img src="/image/Belltower/coin.png" style="height: 40px; width:40px;">
									<span>，你的钱不够。</span>
								</div>
								<div ng-show="loadingReward" class="digging">
									<div>
										<img src="/image/Belltower/mining.gif" style="height: 153px; width: 270px;"/>
									</div>
									<div>
										正在挖掘。。。
									</div>
								</div>
								<div ng-show="showReward" class="digging">
									<div>
										<img ng-src="{{rewardImg}}" class="icon"/>
									</div>
									<div>{{rewardMsg}}</div>
									<button ng-click="showReward = false">谢谢</button>
								</div>
								
							</div>
							<div ng-show="shownPlace == 'home'" class="place-content">
								<h3>自宅</h3>
								<div
									style="width:360px; left: 150px; bottom: 20px;position: absolute;text-align:center;font-size: 21px;">
									<span>施工中，敬请期待</span>
								</div>
							</div>
							<div ng-show="shownPlace == 'market'" class="place-content">
								<h3>市集</h3>
								<div
									style="width:360px; left: 150px; bottom: 20px;position: absolute;text-align:center;font-size: 21px;">
									<span>施工中，敬请期待</span>
								</div>
							</div>
							<div ng-show="shownPlace == 'locksmith'" class="place-content">
								<h3>开锁店</h3>
								<div
									style="width:360px; left: 150px; bottom: 20px;position: absolute;text-align:center;font-size: 21px;">
									<span>施工中，敬请期待</span>
								</div>
							</div>
							<div style="position: absolute; top: 30px; right: 30px">
								<button ng-click="closePlace()">离开</button>
							</div>
						</div>
					</div>
					<!-- 
					<div>
						<button ng-click="dailyReward()">奖励</button>
						<button ng-click="cleanAccount()">清空</button>
					</div>
					
					{{accountInfo}}
					 -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>