<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsGameController.js"></script>
<body ng-app="citadelsGameApp" ng-controller="citadelsGameCtrl">
	<button ng-click="goto('citadels')">back</button>
	<h1>Citadels Game</h1>
	<p>{{username}}</p>
	<button ng-click="taketwo()">take two</button>
	<button ng-click="startGame()">start</button>
	<p>{{gamedata}}</p>
	<div id="hand">
		<button ng-repeat="c in hand track by $index" ng-click="build($index)" ng-disabled="buildable[$index] == 'n'">{{c}}</button>
	</div>
</body>
</html>