<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsCreateGameController.js"></script>
<body ng-app="citadelsCreateGameApp" ng-controller="citadelsCreateGameCtrl">
	<button ng-click="goto('citadels')">back</button>
	<button ng-click="startGame()">start game</button>
	<button ng-click="addBot()">add bot</button>
	<p>{{gamedata}}</p>
	<table>
		<tr ng-repeat="name in playerNames track by $index">
			<td>{{name}}</td>
			<td ng-show="$index != crown"><button ng-click="giveCrown($index)">Give Crown</button></td>
			<td ng-show="$index == crown">Has Crown</td>
		</tr>
	</table>
</body>
</html>