<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsMainController.js"></script>
<body ng-app="citadelsMainApp" ng-controller="citadelsMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">Home</button>
		<button style="padding-top: 0px; color: rgb(0,0,102); font-size: 24px; background-color:white">Citadels</button>
		<!-- 
		<button ng-click="goto('coslash')">Coslash</button>
		<button ng-click="goto('dominion')">Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button ng-click="goto('minigame')">Minigames</button>
		<button>Others</button>
		 -->
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab">List</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab">Rules</a>
				    </li>
				  </ul>
			</div>
			
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>Tables</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">New Game</button></td>
						</tr>
					</table>
					<table class="table">
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{statuses[$index]}}</td>
							<td><button ng-show="statuses[$index] == 'pre-game'" ng-click="goToBoard($index)">Join</button></td>
						</tr>
					</table>
				</div>
				
				<div id="rulestab" class="content container tab-pane fade">
					<h2>Rules</h2>
					<p>Rules placeholder</p>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>