<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsEndGameController.js"></script>
<body ng-app="citadelsEndGameApp" ng-controller="citadelsEndGameCtrl">
	<h2>Game Ends</h2>
	<h2>获胜者</h2>
	<h4 ng-repeat="w in winner">{{w}}</h4>
	<p></p>
	<table>
		<tr>
			<td>排名</td>
			<td>玩家</td>
			<td>分数</td>
			<td>建筑净分</td>
			<td>￥</td>
		</tr>
		<tr ng-repeat="pn in playerNames track by $index">
			<td>{{rankings[$index]}}</td>
			<td>{{pn}}</td>
			<td>{{scores[$index]}}</td>
			<td>{{netScores[$index]}}</td>
			<td>{{coins[$index]}}</td>
		</tr>
	</table>
	<button ng-click="goto('citadels')" ng-show="isLord == 'n'">Back</button>
	<button ng-click="dismiss()" ng-show="isLord == 'y'">Dismiss and Back</button>
</body>
</html>