<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsCreateGameController.js"></script>
<body ng-app="citadelsCreateGameApp" ng-controller="citadelsCreateGameCtrl">
	<button ng-click="goto('citadels')">退出</button>
	<button ng-click="startGame()" ng-show="isLord == 'y'">开始游戏</button>
	<button ng-click="addBot()" ng-show="isLord == 'y'">加入AI</button>
	<button ng-click="dismiss()" ng-show="isLord == 'y'">解散</button>
	<!-- 
	<p>{{gamedata}}</p>
	 -->
	<table>
		<tr style="height: 40px" ng-repeat="name in playerNames track by $index">
			<td>{{name}}</td>
			<td><img ng-show="$index == crown" class="icon" src="/image/Citadels/mayor.png"></td>
			<td><button ng-show="isLord == 'y' && index != 0" ng-click="kick($index)">踢</button></td>
		</tr>
	</table>
	<h4>规则变体</h4>
	<table>
		<tr>
			<td>结束条件：</td>
			<td>一名玩家造完{{finishCount}}个建筑</td>
		</tr>
		<tr>
			<td>送葬者带走市长：</td>
			<td>{{regicideDisplay}}</td>
		</tr>
		<tr>
			<td>双类型建筑：</td>
			<td>{{useDuoColorDisplay}}</td>
		</tr>
		
		<tr>
			<td>变类型建筑：</td>
			<td>{{useOmniColorDisplay}}</td>
		</tr>
		
		<tr>
			<td>特产数量：</td>
			<td>{{numDelicacyUsed}}</td>
		</tr>
		<tr>
			<td>8号角色：</td>
			<td>{{no8Display}}</td>
		</tr>
		<tr>
			<td>9号角色：</td>
			<td>{{no9Display}}</td>
		</tr>
		
	</table>
	<button ng-click="showConfigDiv()" ng-show="isLord == 'y' && showConfig == 'n'">显示设置</button>
	<button ng-click="hideConfigDiv()" ng-show="isLord == 'y' && showConfig == 'y'">隐藏设置</button>
	<div id="config" ng-show = "showConfig == 'y'">
		<h3>设置</h3>
		<button ng-click="randomCrown()">随机市长标记</button>
		<table>
			<tr style="height: 40px" ng-repeat="name in playerNames track by $index">
				<td>{{name}}</td>
				<td ng-show="$index != tcrown"><button ng-click="setTCrown($index)">获得市长标记</button></td>
				<td ng-show="$index == tcrown"><img class="icon" src="/image/Citadels/mayor.png"></td>
			</tr>
		</table>
		<div>
			<button ng-click="giveCrown()">更新市长标记</button>
		</div>
		<p></p>
		<div>
			<button ng-click="setEndNum(7)">7 end</button>
			<button ng-click="setEndNum(8)">8 end</button>
		</div>
		<p></p>
		<div>
			<button ng-click="setUseDuoColor()">{{duoColorButton}}</button>
			
			<button ng-click="setUseOmniColor()">{{omniColorButton}}</button>
			
			<button ng-click="setRegicide()">变更市长被带走规则</button>
		</div>
		<p></p>
		<div>
			<button ng-click="setNumDelicacy(0)">不使用特产</button>
			<button ng-click="setNumDelicacy(1)">使用1个特产</button>
			<button ng-click="setNumDelicacy(2)">使用2个特产</button>
		</div>
		<p></p>
		<div>
			<button ng-click="setNo8(0)">8号使用城管</button>
			<button ng-click="setNo8(1)">8号使用法官</button>
		</div>
		<p></p>
		<div>
			<button ng-click="setNo9(-1)" ng-show="playerNames.length < 8">不使用9号</button>
			<button ng-click="setNo9(0)">9号使用记者</button>
			<button ng-click="setNo9(1)">9号使用家具商</button>
		</div>
		
	</div>
	
</body>
</html>