<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsMainController.js"></script>
<body ng-app="citadelsMainApp" ng-controller="citadelsMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button style="padding-top: 0px; color: rgb(0,0,102); font-size: 24px; background-color:white">富饶龙城</button>
		
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<!--
		<button ng-click="goto('splendor')">果香四溢</button>
		 -->
		<!-- 
		<button ng-click="goto('coslash')">Coslash</button>
		<button ng-click="goto('dominion')">Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button ng-click="goto('minigame')">Minigames</button>
		<button>Others</button>
		 -->
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">基本规则</a>
				    </li>
				    
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#specialstab" ng-click="goto('citadelsroles')">详细规则</a>
				    </li>
				    <!-- 
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rolestab" ng-click="hideTablesTab()">角色介绍</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#specialstab" ng-click="hideTablesTab()">官方特殊建筑</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#newrolestab" ng-click="hideTablesTab()">官方扩展角色</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#diycardstab" ng-click="hideTablesTab()">自创特殊建筑</a>
				    </li>
				     -->
				  </ul>
			</div>
			
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>游戏</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>状态</td>
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="rulestab" class="content container tab-pane fade">
					<h2>基本规则</h2>
					<p>本章节内容为基本规则，若想参考目前已有的所有<span class="citadelstext">角色</span>和<span class="citadelstext">特殊建筑</span>，
					请参考<button style="background:none;padding:0px;border:none;color:rgb(0,0,102)" ng-click="goto('citadelsroles')"><u><b>详细规则</b></u></button>。
					<table>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>背景</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 在江苏有一个别称为<span class="citadelstext">龙城</span>的城市叫做常州。
								现在的你担任常州市的一个区长。最近，老<span class="citadelstext">市长</span>宣布自己即将要退休，一个政绩突出的区长会被选为新任的市长。雄心勃勃的你，自然不会想要错过这个机会。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 然而，不仅是你，还有其他几位区长也想要在<span class="citadelstext">市长</span>的位置上大展宏图。
								在老<span class="citadelstext">市长</span>退休前，究竟谁能脱颖而出，成功当选新一任<span class="citadelstext">市长</span>呢？拿起手中的 <span class="citadelstext">￥</span>
								和<span class="citadelstext">建筑图纸</span>，做好充分的准备，在你的区内大干一番吧！哦，对了，还有很多的社会精英，包括老<span class="citadelstext">市长</span>本人，
								都十分乐意为你们的事业出一份力。 
								
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>游戏人数</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前支持4~7人，2人和3人变体规则有待开发。最佳游戏人数为4~5人。拓展规则可以支持8人。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>游戏内容</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏一共包含54张基本<span class="citadelstext">建筑</span>牌，
								数量还在增长中（目前30+）的<span class="citadelstext">特殊建筑</span>牌，40个  <span class="citadelstext">￥</span> 标记，
								数量还在增长中（目前10+）的<span class="citadelstext">角色</span>牌，以及<span class="citadelstext">市长标记</span>。
								</p>
							</td>
						</tr>
						<tr>
							<td><img src="/image/Citadels/Cards/y5.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 建筑</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">建筑</span>牌在你的<span class="citadelstext">建造阶段</span>可以<span class="citadelstext">建造</span>。
								<span class="citadelstext">建造</span>一个建筑需要花费相应的  <span class="citadelstext">￥</span> 标记。游戏结束计算分数时一个<span class="citadelstext">建筑</span>所提供的分数等同于其价格。
								图中名为<span class="citadelstext">市政府</span>的建筑造价为5<span class="citadelstext">￥</span>，游戏结束计算分数时能给你提供5分。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本游戏有4种类型的基本<span class="citadelstext">建筑</span>，分别为商业（绿色）、教育（蓝色）、治安（红色）和市政（黄色）<span class="citadelstext">建筑</span>。
								一些<span class="citadelstext">角色</span>的技能和<span class="citadelstext">建筑</span>类型有关。
							</td>
							
						</tr>
						<tr>
							<td><img src="/image/Citadels/Cards/p502.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 特殊建筑</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特殊<span class="citadelstext">建筑</span>为紫色的<span class="citadelstext">建筑</span>，
								这些<span class="citadelstext">建筑</span>建造后除了能够为你提供相应的分数外还能为你提供一些特殊效果。
							</td>
						</tr>
						<tr>
							<td><img src="/image/Citadels/Roles/004.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 角色</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每一回合开始时每名玩家会选择<span class="citadelstext">角色</span>，
								不同的<span class="citadelstext">角色</span>在每名玩家的回合内（甚至是回合外）给该玩家带来收益。本游戏最有意思的特点在于新的一回合每名玩家都会重新选择当回合的<span class="citadelstext">角色</span>。
								回合开始时拥有<span class="citadelstext">市长标记</span>的玩家会优先选择角色。
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>游戏设置</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;将所有基本<span class="citadelstext">建筑</span>牌和18张特殊建筑牌洗匀作为摸牌堆，
								洗匀后发给每名玩家4张牌和两个 <span class="citadelstext">￥</span> 标记。将8张基本<span class="citadelstext">角色</span>牌洗匀。
								年龄最大的玩家获得<span class="citadelstext">市长标记</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本游戏支持房主设置初始获得<span class="citadelstext">市长标记</span>的玩家。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>游戏流程</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每一回合开始时所有玩家先选择该回合的<span class="citadelstext">角色</span>，之后每名玩家按角色编号进行回合。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="nothanksheader"><b>选择角色</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每一回合选择<span class="citadelstext">角色</span>前，一部分<span class="citadelstext">角色</span>会被随机弃置。
								一些随机弃置的<span class="citadelstext">角色</span>会被亮明，还有一些随机弃置的<span class="citadelstext">角色</span>为暗置。
								被弃置的<span class="citadelstext">角色</span>当回合无法被选择。以下表格为明置和暗置<span class="citadelstext">角色</span>的数量与人数的关系。
								
								</p>
								<table style="text-align:center">
									<tr>
										<td><b>人数</b></td>
										<td><b>明置数量</b></td>
										<td><b>暗置数量</b></td>
									</tr>
									<tr>
										<td>4</td>
										<td>2</td>
										<td>1</td>
									</tr>
									<tr>
										<td>5</td>
										<td>1</td>
										<td>1</td>
									</tr>
									<tr>
										<td>6</td>
										<td>0</td>
										<td>1</td>
									</tr>
									<tr>
										<td>7</td>
										<td>0</td>
										<td>1*</td>
									</tr>									
								</table>
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有<span class="citadelstext">4号</span>角色（基本规则为<span class="citadelstext">市长</span>）在回合开始时无法被明置。
								人数为7时暗置<span class="nothankstext">角色</span>的规则有变化，后文会介绍。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从拥有<span class="citadelstext">市长标记</span>的玩家开始，每名玩家从剩余的角色牌中选择一张作为自己的<span class="citadelstext">角色</span>，
								背面朝上，并将剩余的<span class="citadelstext">角色</span>牌交给下一位玩家，直至所有玩家都选完本回合的<span class="citadelstext">角色</span>。
								7人游戏时最后一名选择角色的玩家可以观看随机弃置的暗置<span class="citadelstext">角色</span>并在剩余1张由上家传递下来的<span class="citadelstext">角色</span>牌和随机弃置的暗置<span class="citadelstext">角色</span>牌中选择一张作为本回合的<span class="citadelstext">角色</span>。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="citadelheader"><b>进行回合</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;玩家根据<span class="citadelstext">角色</span>卡上的编号依次进行各自的回合。
								每名玩家在回合开始时需要选择获得  <span class="citadelstext">￥</span> 标记还是获得牌。该操作被称为<span class="nothankstext">执行行动</span>。
								若玩家选择获得  <span class="citadelstext">￥</span> ，该玩家从中央金库中获得2<span class="citadelstext">￥</span>。
								若玩家选择获得牌，该玩家观看牌堆顶的2张牌并选择其中一张加入手牌，将另一张牌置于牌堆底。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有<span class="citadelstext">执行行动</span>后每名玩家可以使用<span class="citadelstext">角色</span>技能和建造<span class="citadelstext">建筑</span>。
								建造一个建筑需要花费相应的 <span class="citadelstext">￥</span> 标记。
								如无特殊说明，每名玩家每回合只能使用一次<span class="citadelstext">角色</span>技能和建造一个<span class="citadelstext">建筑</span>。
								如无特殊说明，每名玩家不可建造已经建造过的同名<span class="citadelstext">建筑</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当一名玩家建造完第7个<span class="citadelstext">建筑</span>，该玩家状态称为<span class="citadelstext">已建成</span>。
								游戏将在当前回合结束之后结束。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="citadelheader"><b>计算分数</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一名玩家的分数为所有建筑的价格总和。除此之外，第一个<span class="citadelstext">已建成</span>的玩家会获得4分的奖励。
								其余<span class="citadelstext">已建成</span>的玩家会获得2分的奖励。若一名玩家的建筑类型有5种，会获得3分的奖励。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;总得分最高的玩家获胜。若平手，则所有建筑的价格总和更高的玩家获胜。若依然平手，则剩余  <span class="citadelstext">￥</span> 标记最多的玩家获胜。
								若依然平手，则所有总得分最高的玩家共同获胜。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="citadelheader"><b>变体规则</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;房主可以设置游戏结束的条件为一名玩家建造完第8个<span class="citadelstext">建筑</span>。房主也可以设置加入<span class="citadelstext">9号角色</span>。
								加入<span class="citadelstext">9号角色</span>时可支持最多8人游戏。
								关于<span class="citadelstext">9号角色</span>的介绍请参见<button style="background:none;padding:0px;border:none;color:rgb(0,0,102)" ng-click="goto('citadelsroles')"><u><b>详细规则</b></u></button>。
								</p>
							</td>
					</table>
				</div>
				 <!-- 
				
				
				
				
				 -->
			</div>
		</div>
	</div>
</body>
</html>