<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsGameController.js"></script>
<body ng-app="citadelsGameApp" ng-controller="citadelsGameCtrl">
	<button ng-click="goto('citadelscreategame')">back</button>
	<h1>Citadels Game</h1>
	<p>{{username}}</p>
	<p>{{gamedata}}</p>
	<div id="buttons">
		<button ng-click="startTurn()" ng-show="phase == '-1' && status == '2'">start turn</button>
		<button ng-click="taketwo()" ng-show="phase == '0' && status == '2'">take two</button>
		<button ng-click="seeCards()" ng-show="phase == '0' && status == '2'">see cards</button>
		<button ng-click="endTurn()" ng-show="phase == '2' && status == '2'">end turn</button>
		<button ng-click="curPlayerChooseRole()" ng-show="phase == '-1' && status =='1'">bot choose</button>
		<button ng-click="botNextMove()" ng-show="phase == '-1' && status == '2'">bot next move</button>
	</div>
	<div id="hand">
		<p>hand</p>
		<button ng-repeat="c in hand track by $index" ng-click="build($index)" ng-disabled="canclickhand[$index] == 'n'">{{c}}</button>
	</div>
	<div id="chooseCard" ng-show="phase == '1' && status == '2'">
		<p>choose card</p>
		<button ng-repeat="c in revealedCards track by $index" ng-click="chooseCard($index)">{{c}}</button>
	</div>
	<div id="chooseRole" ng-show="phase == '1' && status == '1'">
		<p>choose role</p>
		
		<div ng-repeat="r in roleNums track by $index">
			<button ng-show="selectedRole != $index && roleOwners[$index] == '-1'" ng-click="setSelectedRole($index)">{{r}}</button>
			<button ng-show="selectedRole != $index && roleOwners[$index] == '-3'" ng-click="setSelectedRole($index)" disabled>{{r}}</button>
			<p ng-show="selectedRole == $index">{{r}}</p>
			<p ng-show="roleOwners[$index] == '-2'"><del>{{r}}</del></p>
		</div>
		<button ng-click=chooseRole()>Confirm</button>
	</div>
</body>
</html>