<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/app/dominionMainController.js"></script>
<body ng-app="dominionMainApp" ng-controller="dominionMainCtrl">
	<div id="header" class="header">
		<table style="width: 100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px"><button ng-click="logout()">Logout</button></td>
			</tr>
		</table>
		
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">Home</button>
		<button>Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button>Others</button>
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div id="sidebar" class="sidebar">
			<table>
				<tr><td><button>Rooms</button></td></tr>
				<tr><td><button>Rules</button></td></tr>
				<tr><td><button ng-click="goto('dominionlist')">Cards</button></td></tr>
			</table>
		</div>
		
		<div id="content" class="content">
			<div id="rooms" class="rooms">	
				<table>
					<tr>
						<td><button ng-click="newBoard()">Create Room</button></td>
					</tr>
				</table>
				<table>
					<tr ng-repeat="boardId in boardIds track by $index">
						<td>{{boardId.id}}</td>
						<td>{{boardId.status}}</td>
						<td><button ng-click="enterBoard(boardId.id)">Enter</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	
</body>
</html>