<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/app/dominionEndController.js"></script>
<body data-ng-app="dominionEndApp" data-ng-controller="dominionEndCtrl">
	<div>
		<h2>{{endgame.msg}}</h2>
		<div>
			<table>
				<tr ng-repeat="x in endgame.scores track by $index">
					<td>{{endgame.playernames[$index]}}</td>
					<td>{{x}}</td>
				</tr>
			</table>
		</div>
		<div>
			<div ng-repeat="(ip, p) in endgame.playernames track by ip">
				<h2>{{p}}</h2>
				<table>
					<tr>
						<td>Card</td>
						<td>#</td>
						<td>VP</td>
						<td>Description</td>
					</tr>
					<tr ng-repeat="(ir, r) in endgame.records[ip] track by ir">
						<td ng-repeat="(ix, x) in endgame.records[ip][ir] track by ix">{{x}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div>	
			<button ng-click="goto('dominionboard')">back</button>
		</div>
	</div>
</body>
</html>