<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Dominion</title>
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/dominionBoard.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/app/dominionBoardController.js"></script>
<body ng-app="dominionBoardApp" ng-controller="dominionBoardCtrl">
	<div class="outer" ng-show="!showCardList">
		<div class="boardback">
			<div id="settings" class="settings">
				<table>
					<tr>
						<td colspan="2"><h2>Settings</h2></td>
					</tr>
					<tr>
						<td><p>Number of players:</p></td>
						<td>
							<select ng-init="numPlayers = numPlayerOptions[0]" ng-model="numPlayers" ng-options="x for x in numPlayerOptions" ng-change="changeNumPlayer()">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button ng-click="ready()">Ready</button>
							<button ng-click="leave()">Leave</button>
							<button ng-click="cardList()">Card List</button>
							<button ng-click="addBot()" ng-show="isLord">Add Bot</button>
							<button ng-click="randomize()" ng-show="isLord">Reset Cards</button>
						</td>
					</tr>
				</table>
				<table style="margin-top: 20px">
					<tr>
						<td colspan="2"><h2>Kingdom Piles</h2></td>
					</tr>
					<tr ng-repeat="x in kindom ">
						<td>
							<span>{{x.name}}</span>
						</td>
						<td>
							<div class="kindom-question">
								<img src="/image/Dominion/qsmark.png" height="20" width="20" ng-click="showCard(x.image)"/>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div id="playerlist" class="playerlist">
				<div style="height: 200px">
					<table>
						<tr>
							<td><h2>Players</h2></td>
						</tr>
						<tr ng-repeat="playername in playernames track by $index">
							<td>
								<span>{{playername}} {{readyStatus[$index]}}</span>
								<button ng-show="showKick($index)" ng-click="kick(playername)">kick</button>
							</td>
						</tr>
					</table>
				</div>
				<div>
					<table>
						<tr>
							<td><h2>Messages</h2></td>
						</tr>
					</table>
				</div>
				
			</div>
		</div>
	
	</div>
	<div ng-show="showCardList" class="cardlistouter">
		<div class="cardlistback">
			<!-- <div ng-style="cardListDivStyle"> -->
			<div class = "cardlistdiv">
				<div class = "expansionbar">
					<button ng-repeat="expansion in expansions track by $index" ng-click="changeExpansion($index)" ng-style="expStyle[$index]">{{expansion.name}}</button>
				</div>
				<!-- <div ng-style="expansionDivStyle"> -->
				<div class = "expansiondiv">
					<div ng-repeat="(k,expansion) in expansions track by k" ng-show="showExpansion(k)">
						<div>
							<button ng-click="includeAll(k)" ng-disabled="!isLord">Include all</button>
							<button ng-click="excludeAll(k)" ng-disabled="!isLord || disableExclude(k)">Exclude all</button>
							<button ng-click="addOne(k)" ng-disabled="!isLord || disableAddOne(k)">Add one</button>
						</div>
						<div style="overflow-y: scroll; overflow:auto;height: 240px">
							<div ng-repeat="(key, pile) in expansion.piles track by key" style="float: left">
								<div ng-style="cardStyle[key]" ng-click="use(k,key)">
									<img src="/image/Dominion/qsmark.png" height="20" width="20" ng-click="showCard(pile.image);$event.stopPropagation();"/>
								</div>
								<div>
									<input type="checkbox" ng-checked="selected[k][key] == 0" ng-click="check(k,key)" ng-disabled="selected[k][key] == 2 || (!isLord) || disableCheck(k,key)">
									<button ng-click="use(k,key)" ng-disabled="selected[k][key] == 2 || used.length == 10 || (!isLord)" style="margin-left: 10px">use</button>
								</div>  
							</div>
						</div>
					</div>
					<div class="usedcards">
						<div style="clear: both">
							Used Cards:
						</div>
						<div ng-repeat="x in useHelperArray track by $index" ng-style="usedCard($index)" ng-click="unuse($index)" style="float: left">
							
						</div>
						
					</div>
					<div class="twobuttons">
						<button ng-click="close()">Close</button>
						<button ng-click="confirm()">Confirm</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div ng-show="showBigImage" ng-style="bigImageDivStyle" ng-click="unshowBigImage()">
		<div ng-style="bigImageStyle">
			
		</div>
	</div>
</body>
</html>