<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/app/dominionBoardController.js"></script>
<body ng-app="dominionBoardApp" ng-controller="dominionBoardCtrl">
	
	<div id="tabcontent" class="tabcontent">
		
		<div id="content" class="content">
			<div id="settings" style="float: left; width: 50%">
				<table>
					<tr>
						<td colspan="2"><h2>Settings</h2></td>
					</tr>
					<tr>
						<td><p>Number of players:</p></td>
						<td>
							<select ng-init="numPlayers = numPlayerOptions[0]" ng-model="numPlayers" ng-options="x for x in numPlayerOptions">
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button ng-click="ready()">Ready</button>
							<button ng-click="addBot()">Add Bot</button>
							<button ng-click="leave()">Leave</button>
						</td>
					</tr>
				</table>
			</div>
			<div id="playerlist">
				<table>
					<tr>
						<td><h2>Players</h2></td>
					</tr>
					<tr ng-repeat="playername in playernames track by $index">
						<td>
							{{playername}}
							<button ng-show="showKick($index)" ng-click="kick(playername)">kick</button>
						</td>
					</tr>
					<tr>
						<td><h2>Messages</h2></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	
</body>
</html>