<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dominion Game</title>
<link rel="stylesheet" type="text/css" href="/view/css/dominionGame.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/app/dominionGameController.js"></script>
<script src="/js/bgm.js"></script>
<body data-ng-app="dominionGameApp" data-ng-controller="dominionGameCtrl">
	<div id="audioplayer">
		<audio id="bgm" src="/sound/BGM/TritschTratschPolka.mp3"></audio>
	</div>
	
	<div id="otherplayer" class="otherplayer">
		Other Player Area
	</div>
	<div id="supply">
		<div id="basic" style="float: left; width: 200px;">
			<div ng-repeat="baseCard in base track by $index" ng-style="baseStyle[$index]" ng-click="buyc('base', $index)">
				<div class="base-number">
					{{base[$index].numCards}}
				</div>
			</div>
		</div>
		<div id="kindomCards" style="float: left; margin-left: 10px; width: 600px;">
			<div id="kindom">
				<div ng-repeat="kindomCard in kindom track by $index" ng-style="kindomStyle[$index]" ng-click="buyc('kindom', $index)">
					<div class="kindom-number">
						{{kindom[$index].numCards}}
					</div>
					<div class="kindom-question">
						<img src="/image/Dominion/qsmark.png" height="20" width="20" ng-click="showCard(kindom[$index].image);"/>
					</div>
				</div>
			</div>
			
			<div id="play" style="margin-top: 10px;">
				<div class="base" ng-repeat="y in playCards track by $index" style="background:url({{y.image}});background-size:cover; margin-top: 10px">
					<div class="kindom-number">
						{{y.numCards}}
					</div>
				</div>
			</div>
		</div>
		<div id="sidesection" style="margin-left: 30px;">
			<div id="logtabs">
				<button ng-click="logButton()">Logs</button>
				<button ng-click="trashButton()">Trash</button>
			</div>
			<div id="logs" ng-show="showLogs" style="overflow-y: scroll; overflow:auto; height: 350px">
				<div ng-repeat = "log in logs track by $index">
					{{log}}
				</div>
			</div>
			<div id="trash" ng-show="showTrash" style="overflow-y: scroll; overflow:auto; height: 350px">
				<div class="base" ng-repeat="z in trashCards track by $index" style="background:url({{z.image}});background-size:cover; margin-top: 10px">
					<div class="kindom-number">
						{{z.numCards}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="player" style="clear:both; ">
		<div>
			Player
			<button ng-click="resign()">Resign</button>
			{{topMessage}}
			<button ng-show="showPhaseButton" ng-click="pb()">{{phaseButton}}</button>
			<button ng-show="showClearButton" ng-click="clearChoosehand()">Re-select</button>
			<button ng-repeat="x in options track by $index" ng-click="choose($index)">{{x}}</button>
		</div>
		
		<div class="kindom" ng-show="discardTop != null" style="background:url({{discardTop.image}});background-size:cover;">
		</div>
		<div class="kindom" ng-style="deckStyle">
			<div class="kindom-number" ng-show="numDeck != '0'">
				{{numDeck}}
			</div>
		</div>
		
		<div style="float: left; margin-left: 50px;">
			<div class="kindom" ng-click="play($index)" ng-repeat="x in hand track by $index" style="background:url({{x.image}});background-size:cover; ">
				<div class="kindom-number">
					{{x.numCards}}
				</div>
				<div class="choosehand" ng-show="choosehand[$index] > 0" style='background:url("/image/Dominion/target.png");background-size:cover'>
					<div class="choosehand-number" ng-show="choosehand[$index] > 1">
						{{choosehand[$index]}}
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	
	
	<div ng-show="showBigImage" ng-style="bigImageDivStyle" ng-click="unshowBigImage()">
		<div ng-style="bigImageStyle">
			
		</div>
	</div>
	
	<div ng-style="viewedStyle" ng-show="showViewed" >
		<div class="kindom" ng-repeat="x in viewed track by $index" ng-click="clickViewed($index)" style="background:url({{x}});background-size:cover">
			<div class="chooserevealed" ng-show="showRevealedTarget($index)" style='background:url("/image/Dominion/target.png");background-size:cover'>
				
			</div>
			<div class="chooserevealedtop" ng-show="showRevealedTop($index)">
				<span>Top</span>
			</div>
		</div>
	</div>
	
	
	
</body>
<!-- 
		
		
 -->
</html>