<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Gardenwar</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gardenwarTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gardenwarOther.css">
<link rel="stylesheet" type="text/css" href="/view/css/gardenwarCard.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/lib/angular-sanitize.js"></script>
<script src="/js/lib/gardenwarCardMaker.js"></script>
<script src="/js/app/gardenwarGameController.js"></script>
<body ng-app="gardenwarGameApp" ng-controller="gardenwarGameCtrl">
	<button ng-click="goto('gardenwar')">back</button>
	<div>
		<div id="supply-area">
			<div id = "base-supplu-area" style="width: 210px">
				<div ng-repeat="cardDisplay in baseCardDisplay track by $index" ng-include="'/view/html/gardenwarCard.html'"
					style="float:left" ng-style="cardDisplay.affordStyle" class="play-size" ng-click="buyBasic($index)"></div>
			</div>
			<div>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="player-area">
			<div ng-repeat="cardDisplay in playDisplay track by $index" ng-include="'/view/html/gardenwarCard.html'"
				style="float:left" class="play-size">
			</div>
			<div style="clear: both"> sun: {{gamedata.curPlayerSun}} pea: {{gamedata.curPlayerPea}}</div>
			<div>
				<span>{{playerMsg}}</span>
				<button ng-show="gamedata.phase == 2 && gamedata.canAutoPlay == true && gamedata.curPlayer == gamedata.myIndex" ng-click="autoplay()">全部打出</button>
				<button ng-show="gamedata.phase == 2" ng-click="nextPhase()">结束出牌</button>
				<button ng-show="gamedata.phase == 3" ng-click="nextPhase()">结束攻击</button>
				<button ng-show="gamedata.phase == 4" ng-click="nextPhase()">结束回合</button>
			</div>
			
			<div ng-repeat="cardDisplay in handDisplay track by $index" ng-include="'/view/html/gardenwarCard.html'"
				style="float:left" class="hand-size" ng-click="clickHand($index)">
			</div>
		</div>
	</div>
	
	<!-- 
	<div style="clear: both">
		{{handDisplay}}
	</div>
	 -->
	<div style="clear: both">
		{{gamedata}}
	</div>
	
</body>
</html>