<div class="card-size noselect" ng-style="cardDisplay.base" id="card">
	<div class="card-img" ng-style="cardDisplay.img">
		<img class="card-plant" ng-src="{{cardDisplay.plant}}"/>
	</div>
	<div class="card-name" ng-style="cardDisplay.name">
		{{cardDisplay.card.name}}
	</div>
	<div class="card-type" ng-style="cardDisplay.type">
		<div class="card-type-text">
			{{cardDisplay.card.type}}
		</div>
	</div>
	<div class="card-desc" ng-style="cardDisplay.desc">
		<div class="card-sun" ng-show="cardDisplay.showSun" ng-style="cardDisplay.sun">
			<div class="card-sun-value" ng-style="cardDisplay.sunValue">
				{{cardDisplay.card.sun}}
			</div>
		</div>
		<div class="card-pea" ng-show="cardDisplay.showPea" ng-style="cardDisplay.pea">
			<div class="card-pea-value" ng-style="cardDisplay.peaValue">
				{{cardDisplay.card.pea}}
			</div>
		</div>
		<div class="card-desc-text" ng-show="cardDisplay.showDescText" ng-style="cardDisplay.descText" 
			ng-bind-html="cardDisplay.card.desc">
			
		</div>
	</div>
	<div class="card-clan" ng-style="cardDisplay.clan">
		<div class="card-clan-text" ng-style="cardDisplay.clanText">
			{{cardDisplay.card.clan}}
		</div>
	</div>
	<div class="card-cost">
		<div class="card-cost-text">
			{{cardDisplay.card.cost}}
		</div>
	</div>
	<div class="card-shield" ng-show="cardDisplay.showShield">
		<div class="card-shield-text" ng-show="cardDisplay.card.inEquipArea == false">
			{{cardDisplay.card.shield}}
		</div>
		<div class="card-shield-text" ng-show="cardDisplay.card.inEquipArea">
			{{cardDisplay.card.hp}}
		</div>
	</div>
</div>