<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Gardenwar</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gardenwarTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gardenwarOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/gardenwarGameController.js"></script>
<body ng-app="gardenwarGameApp" ng-controller="gardenwarGameCtrl">
	<button ng-click="goto('gardenwar')">back</button>
</body>
</html>