<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Gardenwar</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gardenwarTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gardenwarCard.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/lib/angular-sanitize.js"></script>
<script src="/js/lib/gardenwarCardMaker.js"></script>
<script src="/js/app/gardenwarMainController.js"></script>
<body ng-app="gardenwarMainApp" ng-controller="gardenwarMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<button ng-click="goto('pokewhat')">宝可纳尼</button>
		<button ng-click="goto('gravepsycho')">盗墓惊魂</button>
		<button ng-click="goto('onenight')">狼人不杀</button>
		<button ng-click="goto('architect')">雕梁画栋</button>
		<button ng-click="goto('pokerworld')">棋牌世界</button>
		<button style="padding-top: 0px; color: darkgreen; font-size: 24px; background-color:white">花园战争</button>
	</div>
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">规则</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#cardstab" ng-click="hideTablesTab()">卡牌</a>
				    </li>
				  </ul>
			</div>
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>花园战争</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>状态</td>
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
					<!-- 
					<div>
						<div>
							<div class="card-size noselect" ng-style="cardDisplay.base" id="card">
								<div class="card-img" ng-style="cardDisplay.img">
									<img class="card-plant" ng-src="{{cardDisplay.plant}}"/>
								</div>
								<div class="card-name" ng-style="cardDisplay.name">
									{{cardDisplay.card.name}}
								</div>
								<div class="card-type" ng-style="cardDisplay.type">
									<div class="card-type-text">
										{{cardDisplay.card.type}}
									</div>
								</div>
								<div class="card-desc" ng-style="cardDisplay.desc">
									<div class="card-sun" ng-show="cardDisplay.showSun" ng-style="cardDisplay.sun">
										<div class="card-sun-value" ng-style="cardDisplay.sunValue">
											{{cardDisplay.card.sun}}
										</div>
									</div>
									<div class="card-pea" ng-show="cardDisplay.showPea" ng-style="cardDisplay.pea">
										<div class="card-pea-value" ng-style="cardDisplay.peaValue">
											{{cardDisplay.card.pea}}
										</div>
									</div>
									<div class="card-desc-text" ng-show="cardDisplay.showDescText" ng-style="cardDisplay.descText" 
										ng-bind-html="cardDisplay.card.desc">
										
									</div>
								</div>
								<div class="card-clan" ng-style="cardDisplay.clan">
									<div class="card-clan-text" ng-style="cardDisplay.clanText">
										{{cardDisplay.card.clan}}
									</div>
								</div>
								<div class="card-cost">
									<div class="card-cost-text">
										{{cardDisplay.card.cost}}
									</div>
								</div>
								<div class="card-shield" ng-show="cardDisplay.showShield">
									<div class="card-shield-text">
										{{cardDisplay.card.shield}}
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				 -->
				<div id="rulestab" class="content container tab-pane fade">
					<h2><b>规则</b></h2>
					
				</div>
				<div id="cardstab" class="content container tab-pane fade">
					<h2><b>卡牌</b></h2>
					<!-- 
					
					 -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>