<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Coslash</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gravepsychoTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/gravepsychoMainController.js"></script>
<body ng-app="gravepsychoMainApp" ng-controller="gravepsychoMainCtrl" style="background-color:rgb(230,179,61)">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<button ng-click="goto('pokewhat')">宝可纳尼</button>
		<button style="padding-top: 0px; color: rgb(23,44,60); font-size: 24px; background-color:rgb(230,179,61)">盗墓惊魂</button>
		<!-- 
		<button style="padding-top: 0px; color: blue; font-size: 24px; background-color:white">Coslash</button>
		<button ng-click="goto('dominion')">Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button ng-click="goto('minigame')">Minigames</button>
		<button>Others</button>
		 -->
	</div>
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">规则</a>
				    </li>
				  </ul>
			</div>
			
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>盗墓惊魂</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>状态</td>
							<td></td>
						</tr>
						
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
						
					</table>
				</div>
				<div id="rulestab" class="content container tab-pane fade">
					<h2><b>规则</b></h2>
					<table>
						<tr>
							<td colspan="2" style="width: 1000px"><h4><b>背景</b></h4></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你和你的朋友们在郊外野营。晚上，不知道你们中的谁发现了在你们营地附近的草丛中有一道缝隙。
							你们打开手电筒一看，发现缝隙底下居然是一个<b>古墓</b>。你和你的朋友们都是<b>法外狂徒</b>，自然不会错过如此的发财机会，于是你们就都踏上了去<b>古墓</b>寻宝的旅程。</br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在寻宝的过程中你们会发现<b>铜钱</b>。还算和谐的你们会公平的分配这些<b>铜钱</b>。你们还会发现不太好瓜分的<b>宝物</b>。
							过程中你们也会遇到各式各样的<b>灾难</b>。当灾难来临，你们不得不舍弃探险过程中获得的所有宝藏，一路狂奔回营地，毕竟小命要紧。当然，你们肯定不会坐等灾难的来临，在寻宝过程中你们可以见好就收，中途<b>退出</b>寻宝。</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4><b>游戏人数</b></h4></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏支持3~8人。</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4><b>游戏内容</b></h4></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏包含15张<b>铜钱</b>牌，15张<b>灾难</b>牌，以及5张<b>宝物</b>牌。</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4><b>游戏流程</b></h4></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏由5轮组成，每一轮进行若干回合。
							第一轮开始时将所有的<b>铜钱</b>牌和<b>灾难</b>牌以及一张价值最低的<b>宝物</b>牌洗匀作为牌堆。</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokewhatheader"><b>回合流程</b></h5></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每一回合开始时每名玩家先同时决定<b>返回营地</b>或<b>继续寻宝</b>。
							所有<b>返回营地</b>的玩家将平分置于一旁的<b>铜钱</b>分数（若有余数，则将余数继续置于一旁）。若本回合只有一个玩家<b>返回营地</b>，则该玩家获得等同于所有已翻出的<b>宝物</b>价值的分数并将所有翻出的<b>宝物</b>移除。
							若依然有玩家决定<b>继续寻宝</b>，则翻出牌堆顶的一张牌。以下为翻出牌堆顶的牌所执行的效果。</br></td>
						</tr>
						<tr>
							<td><img src="/image/Gravepsycho/Cards/c17.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="nothankstext">&nbsp;&nbsp;&nbsp;&nbsp; 铜钱</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有仍然<b>继续寻宝</b>的玩家将根据翻出<b>铜钱</b>的数量平分并获得相应的分数。余数将置于一旁。当有玩家返回时将会获得剩余分数。
							</td>
							
						</tr>
						<tr>
							<td><img src="/image/Gravepsycho/Cards/d04.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="nothankstext">&nbsp;&nbsp;&nbsp;&nbsp; 灾难</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>灾难</b>共有5种类型，每种各3张。当翻出<b>灾难</b>时，若本轮之前已翻出相同类型的<b>灾难</b>，回合立即结束，所有仍然<b>继续寻宝</b>的玩家将失去本轮获得的所有分数。
							</td>
						</tr>
						<tr>
							<td><img src="/image/Gravepsycho/Cards/t12.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="nothankstext">&nbsp;&nbsp;&nbsp;&nbsp; 宝物</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;翻出<b>宝物</b>的当回合无事发生。之后若某一回合有且只有一名玩家<b>返回营地</b>，该玩家获得等同于该<b>宝物</b>价值的分数且移除该宝物。
								若一回合有超过一名玩家<b>返回营地</b>，则该<b>宝物</b>不会被移除且这些<b>返回营地</b>的玩家不会获得与该<b>宝物</b>相关的分数。
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokewhatheader"><b>轮次结束</b></h5></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当一回合两张相同的<b>灾难</b>翻出或所有玩家都已<b>返回营地</b>，本轮结束。
							所有玩家将本轮获得的分数计入总分。若因为<b>灾难</b>结束，则<b>继续寻宝</b>的玩家将失去本轮获得的分数，而之前轮获得的分数不会失去。</br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;移除所有翻出的宝物。若本回合是以翻出两张相同的<b>灾难</b>结束，移除最后翻出的一张<b>灾难</b>。
							剩余翻出的牌和未加入过牌堆的价值最低的<b>宝物</b>牌会和牌堆洗匀并成为下一轮的牌堆。</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4><b>游戏结束</b></h4></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第5轮结束后游戏结束，分数最高的玩家获得胜利。若平手，则共同胜利。</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>