<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame No Thanks</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gravepsychoTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gravepsychoOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/gravepsychoEndGameController.js"></script>
<body ng-app="gravepsychoEndGameApp" ng-controller="gravepsychoEndGameCtrl">
	<div>
		<h2>Game Ends</h2>
		<table>
			<tr ng-repeat="pn in playerNames track by $index">
				<td>{{pn}}</td>
				<td>{{money[$index]}}</td>
			</tr>
		</table>
		<button ng-click="goto('gravepsycho')" ng-show="lord != username">back</button>
		<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	</div>
</body>