<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Gravepsycho</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gravepsychoTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/gravepsychoOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/gravepsychoGameController.js"></script>
<style>
body {
	background: url('/image/Gravepsycho/game_bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
	backdrop-filter: blur(2px) brightness(50%);
}
</style>
<body ng-app="gravepsychoGameApp" ng-controller="gravepsychoGameCtrl">
	<div class="game-div">
		<div>
			<table>
				<tr>
					<td ng-repeat="pn in playerNames track by $index">
						<table>
							<tr>
								<td>
									<img class="avatar" ng-src="{{avatar[$index]}}" ng-show="stillIn[$index] == 'y'"/>
									<img class="avatar" ng-src="/image/Gravepsycho/Avatar/tent.png" ng-show="stillIn[$index] == 'n'"/>
								</td>
							</tr>
							<tr>
								<td>{{pn}}</td>
							</tr>
							<tr>
								<td>本轮收益：{{moneyThisTurn[$index]}}</td>
							</tr>
							<tr>
								<td style="height: 35px;">
									<div ng-show="canUseThief && myIndex != $index && stillIn[$index] == 'y' && myDecision == '0' && status == '1'">
										<span>偷窃目标<span>
										<img ng-show="thiefTarget != $index" ng-click="clickThiefTarget($index)" src="/image/Gravepsycho/not-checked.png"
											style="height: 30px; width: 30px;"/>
										<img ng-show="thiefTarget == $index" ng-click="clickThiefTarget($index)" src="/image/Gravepsycho/checked.png"
											style="height: 30px; width: 30px;"/>
									</div>
									
								</td>
							</tr>
							
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div style="margin-top: 20px">
			<table>
				<tr>
					<td>
						<span class="round-text" ng-show="status == '3'">灾难发生，</span>
						<span class="round-text">轮次 {{round}} </span>
						<span class="round-text" ng-show="status == '2' || status == '3'">结束</span>
					</td>
				</tr>
				<tr>
					<td>
						<div ng-show="useEvent" style="border: 10px solid grey; border-radius: 10px; width: 490px; height: 280px; margin-left: 345px; 
							 position:relative" ng-style="event.estyle">
							<div style="border: 2px solid rgb(200,149,31); background:rgb(23,44,60); margin-top: -10px; width: 170px; margin-left: 158px; border-radius: 5px;
								font-family: 'ls'; font-size: 36px;">{{event.name}}</div>
							<div style="background:rgba(0,0,0,0.8);color: white;position: absolute; bottom: 0px; width: 470px; height: 50px; text-align:center">
								{{event.desc}}
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div style="margin-top: 20px" class="adventure">
			<table>
				<tr style="height: 200px">
					<td>
						<span>
							<div class="revealed" ng-repeat="x in revealedStyle track by $index" ng-style="x"></div>
						</span>
					</td>
				</tr>
				<tr>
					<td>
						归途剩余钱币：{{leftover}}
					</td>
				</tr>
			</table>
		</div>
		<div style="margin-top: 50px">
			<table>
				<tr>
					<td>
						<div ng-show="myDecision == '0' && status == '1'">
							<button ng-click="decision(1)">继续冒险</button>
							<button ng-click="decision(2)">返回营地</button>
							<button ng-click="decisionThief()" ng-show="useThief && canUseThief" ng-disabled="canUseThief == false || thiefTarget == -1">偷窃玩家</button>
						</div>
						<div ng-show="myDecision != '0' && status == '1'">
							<span ng-show="myDecision == 1">你选择了继续冒险</span>
							<span ng-show="myDecision == 2">你选择了返回营地</span>
							<span ng-show="myDecision>99">
								你选择了偷窃{{playerNames[myDecision-100]}}
							</span>
						</div>
						<div ng-show="myDecision == '0' && (status == '2' || status == '3')">
							<button ng-click="decision(1)">确认</button>
						</div>
						<div ng-show="myDecision != '0' && (status == '2' || status == '3')">
							已确认
						</div>
					</td>
				</tr>
			</table>
			
		</div>
		<div style="margin-top: 10px">
			<table>
				<tr>
					<td>
						总收益：{{myMoney}}
						<button ng-show="showRemoved == false" ng-click="showRemoved = true">查看弃牌</button>
						<button ng-show="showRemoved" ng-click="showRemoved = false">收起弃牌</button>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="showRemoved">
			<table>
				<tr>
					<td>
						<p ng-show="removed.length == 0">没有弃牌</p>
						<div class="discard" ng-repeat="x in removedStyle" ng-style="x"></div>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<table>
				<tr>
					<td style="padding-top: 30px"><button ng-click="goto('gravepsycho')">退出</button></td>
				</tr>
			</table>
		</div>
		
	</div>
	<div style="width: 400px; color:white;margin-left: 20px; margin-top: 80px; float:left">
		<div id="log-zone" style="overflow-y: scroll;overflow:auto; color:white; padding: 5px; height: 500px;
			border: 1px solid black; background:rgba(0,0,0,0.5)">
			<div ng-repeat="log in logs track by $index">{{log}}</div>
		</div>
	</div>
</body>