<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/indexTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/indexController.js"></script>
<body ng-app="indexApp" ng-controller="indexCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button style="padding-top: 0px; color: rgb(0,100,100); font-size: 24px; background-color:white">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<button ng-click="goto('pokewhat')">宝可纳尼</button>
		<button ng-click="goto('gravepsycho')">盗墓惊魂</button>
		<!--
		<button ng-click="goto('splendor')">果香四溢</button>
		 -->
		<!-- 
		<button ng-click="goto('coslash')">Coslash</button>
		<button ng-click="goto('dominion')">Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button ng-click="goto('minigame')">Minigames</button>
		
		<button>Others</button>
		 -->
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#newstab">新闻</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#abouttab">关于</a>
				    </li>
				  </ul>
			</div>
			
			<div class="tab-content">
				<div id="newstab" class="content container tab-pane active">
					<h1>Welcome to Cosgame</h1>
					<div>
						<table>
							<tr>
								<td colspan="2">
									<h4>2020.11.19 <span class="pokewhattext">宝可纳尼</span> 上线</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<img src="/image/Pokewhat/Cards/3.png" class="newsImg">
									<img src="/image/Pokewhat/Cards/7.png" class="newsImg">
								</td>
							</tr>
							<tr>
								<td style="width: 1000px" colspan="2">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pokewhattext">宝可纳尼</span>是一个支持2~5人的反向达芬奇密码桌游，一局游戏时长大约15分钟。
									游戏过程中每名玩家只能看到其他玩家的牌而无法看到自己拥有的牌。玩家需要通过其他玩家拥有的牌和其他玩家的行动来推测自己拥有的牌。具体游戏规则请参见<span class="pokewhattext">宝可纳尼</span>的规则页面。<br>
								</td>
							</tr>
							<tr><td>&nbsp;</td><td></td></tr>
							<tr>
								<td colspan="2">
									<h4>2020.10.17 <span class="citadelstext">富饶龙城</span> 变类型建筑上线</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<img src="/image/Citadels/Cards/o41b.png" class="newsImg">
									<img src="/image/Citadels/Cards/o41g.png" class="newsImg">
									<img src="/image/Citadels/Cards/o41r.png" class="newsImg">
									<img src="/image/Citadels/Cards/o41y.png" class="newsImg">
								</td>
							</tr>
							<tr>
								<td style="width: 1000px" colspan="2">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">富饶龙城</span>新增一些以各种方式改变自身类型的建筑，详情请见<a><span ng-click="goto('citadelsomnicards')"class="citadelstext"><u>变类型建筑</u></span></a>章节。
								</td>
							</tr>
							<tr><td>&nbsp;</td><td></td></tr>
							<tr>
								<td colspan="2">
									<h4>2020.10.11 小品桌游 <span class="nothankstext">不了谢谢</span> 上线，
									<span class="citadelstext">富饶龙城</span> 上线更多特产</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<img src="/image/Nothanks/Cards/7.png" class="newsImg">
									<img src="/image/Nothanks/Cards/0.png" class="newsImg">
									<img src="/image/Nothanks/Cards/-3.png" class="newsImg">
								</td>
							</tr>
							<tr>
								<td style="width: 1000px" colspan="2">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="nothankstext">不了谢谢</span>是一个支持2~5人的小品卡牌游戏，
									一局游戏时长大约10分钟。具体游戏规则请参见<span class="nothankstext">不了谢谢</span>的规则页面。<br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">富饶龙城</span>新上线3个<span class="citadelstext">特产</span>，以下为介绍。
								</td>
							</tr>
							
							<tr style="width: 1000px">
								<td style="vertical-align:top"><img ng-src="/image/Citadels/Delicacies/d002.png" class="newsImgDelicacy"></td>
								<td style="width: 680px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 金坛封缸酒</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买（白嫖）<span class="citadelstext">金坛封缸酒</span>时若你有市长标记，你获得1￥。
									每回合最多只可以购买一次<span class="citadelstext">金坛封缸酒</span>。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你没有市长标记，你无法购买<span class="citadelstext">金坛封缸酒</span>。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>特产资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>金坛封缸酒是江苏省常州市金坛特产的一种属甜型黄酒。明太祖朱元璋曾驻跸金坛顾龙山，当地百姓献上以糯米酿造的酒（封缸酒的雏形），饮后大悦，并命当地官员将饮剩的酒密封埋入地下。
									，若干年后，朱元璋消灭群雄，登基为帝，金坛当地官员将当年饮剩的酒进贡给朱元璋，经埋地密封多年的酒更加甘淳，遂为之命名，并列为贡酒，又称朱酒。</i>
								</td>
							</tr>
							
							<tr style="width: 1000px">
								<td style="vertical-align:top"><img ng-src="/image/Citadels/Delicacies/d102.png" class="newsImgDelicacy"></td>
								<td style="width: 680px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 天目湖白茶</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买<span class="citadelstext">天目湖白茶</span>后立即摸一张牌。
									每回合最多只可以购买一次<span class="citadelstext">天目湖白茶</span>。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>特产资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>天目湖白茶为江苏省溧阳市特产。天目湖白茶外形细秀略扁，色泽绿润，透显金黄；内质香气栗香馥郁，汤色鹅黄，清澈明亮，滋味鲜爽且醇，叶张玉白、茎脉翠绿。
									成品茶的氨基酸含量5—6%，约为普通绿茶的2倍，茶多酚含量12—15%，酚氨比值2.6，仅为普通绿茶的一半。</i>
								</td>
							</tr>
							
							<tr style="width: 1000px">
								<td style="vertical-align:top"><img ng-src="/image/Citadels/Delicacies/d103.png" class="newsImgDelicacy"></td>
								<td style="width: 680px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 萝卜干</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买<span class="citadelstext">萝卜干</span>后，将所花费的1￥装饰于一个你的未装饰的建筑上。
									每回合最多只可以购买一次<span class="citadelstext">萝卜干</span>。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>特产资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>常州特产五香萝卜干是常州经典的汉族传统名小吃。生产原料为常州独有的鸭蛋形红皮萝卜，皮厚肉紧，细嚼无渣，口感水灵无辛辣味，是全国数一数二的优良萝卜品种。
									经传统工艺腌制的常州萝卜干，黄里有红，咸而不朐，咸中微甜，香脆不辣，十分可口。</i>
								</td>
							</tr>
							
							<tr><td>&nbsp;</td><td></td></tr>
							<!-- 
							<tr>
								<td colspan="2">
									<h4>2020.10.03 <span class="citadelstext">富饶龙城</span> 特产上线</h4>
								</td>
							</tr>
							
							<tr>
								<td style="width: 1000px" colspan="2">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在包括<span class="citadelstext">特产</span>的游戏中，
									每名玩家的回合内可以在合法的情况下购买任意次<span class="citadelstext">特产</span>，购买每个<span class="citadelstext">特产</span>所需的价格标注于左上角，
									购买<span class="citadelstext">特产</span>后立即发动其效果。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">特产</span>默认不加入游戏。
									游戏开始前房主可以决定本局游戏加入0~2张随机的<span class="citadelstext">特产</span>。
									<span class="citadelstext">特产</span>不是<span class="citadelstext">建筑</span>，
									购买<span class="citadelstext">特产</span>不视为建造一个<span class="citadelstext">建筑</span>，
									<span class="citadelstext">特产</span>无法被建造。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下为已上线的<span class="citadelstext">特产</span>介绍。
								</td>
							</tr>
							<tr><td>&nbsp;</td><td></td></tr>
							<tr style="width: 1000px">
								<td style="vertical-align:top"><img ng-src="/image/Citadels/Delicacies/d001.png" class="newsImgDelicacy"></td>
								<td style="width: 680px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 阳湖水蜜桃</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买（白嫖）<span class="citadelstext">阳湖水蜜桃</span>时若你没有￥，你获得1￥。
									每回合最多只可以购买一次<span class="citadelstext">阳湖水蜜桃</span>。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你有￥，你无法购买<span class="citadelstext">阳湖水蜜桃</span>。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>特产资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>阳湖水蜜桃产自于常州市武进区雪堰镇，阳湖水蜜桃又有太湖仙果的美誉，拥有长达800年的栽培史。</i>
								</td>
							</tr>
							<tr><td>&nbsp;</td><td></td></tr>
							<tr style="width: 1000px">
								<td style="vertical-align:top"><img ng-src="/image/Citadels/Delicacies/d101.png" class="newsImgDelicacy"></td>
								<td style="width: 680px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 大麻糕</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买<span class="citadelstext">大麻糕</span>后你可额外建造一个<span class="citadelstext">建筑</span>。
									每回合最多只可以购买一次<span class="citadelstext">大麻糕</span>。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>特产资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>常州大麻糕，江苏传统糕类特产，始于清道光年间，是具有独特口感和风味的一种椭圆形大烧饼，也是常州人最喜爱吃的家常传统食品。
									制作时，选用精白面粉、优质芝麻、白糖、精盐等原料，经过和面、搅拌、揉搓、包馅、成形、烘烤等多道工序，精制而成。有咸、甜两种风味。</i>
								</td>
							</tr>
							<tr><td>&nbsp;</td><td></td></tr>
							<tr style="width: 1000px">
								<td style="vertical-align:top"><img ng-src="/image/Citadels/Delicacies/d201.png" class="newsImgDelicacy"></td>
								<td style="width: 680px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 横山桥百叶</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买<span class="citadelstext">横山桥百叶</span>时，若你没有手牌，摸3张牌。
									若你有手牌，你无法购买<span class="citadelstext">横山桥百叶</span>。每回合可多次购买<span class="citadelstext">横山桥百叶</span>。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>特产资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>横山桥百叶早于明清时就已出名。据考证，当地的山北奚巷村王根产、王德兆父子从乾隆年间就开始制作百叶，三百多年来成为百叶世家。</i>
								</td>
							</tr>
							<tr><td>&nbsp;</td><td></td></tr>
							<tr style="width: 1000px">
								<td style="vertical-align:top"><img ng-src="/image/Citadels/Delicacies/d301.png" class="newsImgDelicacy"></td>
								<td style="width: 680px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 葡式蛋挞</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买<span class="citadelstext">葡式蛋挞</span>后，展示牌堆顶的一张牌。 你获得和展示的牌价格相同数量的￥，并将以此法展示的牌置于牌堆底，每回合限一次。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>特产资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>葡式蛋挞最早由19世纪葡萄牙里斯本贝伦区热罗尼莫斯修道院的修女发明。
									1989年，英国人安德鲁·史斗将葡式蛋挞带到澳门，改用英式奶黄馅并减少糖的用量之后，随即慕名而至者众，并成为澳门著名的小吃。
									蛋挞王子一号店位于常州市南大街，除了制作原味葡式蛋挞外，还制作黄桃味、蓝莓味、芝士味等各种其它口味的葡式蛋挞。</i>
								</td>
							</tr>
							<tr><td>&nbsp;</td><td></td></tr>
							<tr style="width: 1000px">
								<td style="vertical-align:top"><img ng-src="/image/Citadels/Delicacies/d501.png" class="newsImgDelicacy"></td>
								<td style="width: 680px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 砂锅鱼头</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买<span class="citadelstext">砂锅鱼头</span>后，立即获得6￥，每回合限一次。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>特产资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>砂锅鱼头味道清香，肉质鲜嫩，别有风味，鲜而不腥，肥而不腻，汤色乳白如汁、清纯如雪，是1975年朱顺才在天目湖一食堂做厨师时创造出来的。
									2018年砂锅鱼头被评为江苏十大经典名菜。</i>
								</td>
							</tr>
							<tr><td>&nbsp;</td><td></td></tr>
							-->
							<!-- 
							<tr>
								<td colspan="2">
									<h4>2020.09.27 <span class="citadelstext">富饶龙城</span> 5个四字自创建筑上线</h4>
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p307.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 新华书店</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造完该<span class="citadelstext">建筑</span>后，
									你每有一个已建成的教育（蓝色）<span class="citadelstext">建筑</span>就将牌堆顶的一张牌置于该<span class="citadelstext">建筑</span>下方。
									只要该<span class="citadelstext">建筑</span>下方有牌，你可以从该<span class="citadelstext">建筑</span>下方的任意数量张牌置于你的手牌。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造完该<span class="citadelstext">建筑</span>后你可立即发动该效果。</br></br>
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p411.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 奥体中心</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你本回合建造该<span class="citadelstext">建筑</span>前已建造了其他<span class="citadelstext">建筑</span>，
									该<span class="citadelstext">建筑</span>的装饰等级立即变为3。该效果立即发动，你无法阻止该效果发生（正常人应该不会想阻止）。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你本回合第一个建造的是该<span class="citadelstext">建筑</span>，无事发生。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>常州奥林匹克体育中心座落于常州市新北区黄山路，毗邻常州市行政中心、常州大剧院、常州市民广场。
									中心包含一个具有4.1万座位和6条室内跑道的体育场，6200座位、1个篮球训练中心和1个乒羽中心的体育馆，2300个座位的游泳跳水中心，1000个标准展位的会展中心，4400平方米的室内网球馆。
									</i>
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p516.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 市民广场</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 游戏结束时你每有1个市政（黄色）<span class="citadelstext">建筑</span>则额外得到得到1分。</br></br>
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p517.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 莱蒙都会</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 若你已建造<span class="citadelstext">莱蒙都会</span>，
									每当你建造一个商业（绿色）<span class="citadelstext">建筑</span>后立即获得1￥，该效果立即自动发动。<br/></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>莱蒙都会商业街，2007年11月8日开业，面积约<b>58</b>万平方米，是延陵西路上占地面积最大的综合性商业街区，你懂我的意思吧。
									</i>
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p701.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 迪诺水镇</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 你每有一个特殊（紫色）类型的<span class="citadelstext">建筑</span>，
									建造<span class="citadelstext">迪诺水镇</span>的价格就少2￥，但因为此法减价后的价格不会小于1￥。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 因为其他<span class="citadelstext">建筑</span>的效果，
									建造<span class="citadelstext">迪诺水镇</span>的价格可能会变为0￥（如<span class="citadelstext">运河</span>），但不会小于0￥。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 无论你建造时的花费是多少，游戏结束计算分数时该<span class="citadelstext">建筑</span>始终值7分。
									<br/></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>迪诺水镇是一个恐龙主题游憩型商旅公园， 是常州首个游憩型城市生活商业街区。
									作为世界唯一恐龙主题游憩型商旅公园，迪诺水镇集名品购物、主题餐饮、创意零售、体验游乐、休闲娱乐、度假酒店六大业态于一体，360度打造“奇、趣、享、乐、悦”五大消费体验，主要涵盖年轻时尚、家庭消费客群。
									强烈鲜明的恐龙文化主题，营造一个富有童话色彩和充满梦幻创意的欧洲商业小镇。
									</i>
								</td>
							</tr>
							-->
							<!-- 
							<tr>
								<td colspan="2">
									<h4>2020.09.18 <span class="citadelstext">富饶龙城</span> 法官和揽月湾上线，大成三厂加强</h4>
								</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Roles/108.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 法官</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">法官</span>
									可以在建造阶段获得一次收益，收益的方式为每有一个治安（红色）建筑你获得1 ￥ 。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以在回合内选择一个你的建筑并和你选择的一个其他玩家的建筑交换。若你得到的建筑总价值更高，
									你需支付给该玩家两个建筑的总价值之差的￥。若你得到的总价值更低，你不能向该玩家索取。一个建筑的总价值为该建筑的价格加上该建筑的装饰等级。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交换时所有建筑上方装饰的￥和下方的牌一并交换。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你不能和已建成的玩家交换。你不能和5号玩家交换。你和交换的玩家都不能以此法获得同名的建筑。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">法官</span>是8号角色，每局游戏默认不使用。
									房主在游戏开始时可以决定是否用<span class="citadelstext">法官</span>代替<span class="citadelstext">城管</span>。<br/>
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p515.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 揽月湾</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造完该<span class="citadelstext">建筑</span>后，
									你可以额外支付1￥并免费建造一个价格不超过3￥的<span class="citadelstext">建筑</span>。你以此法建造的<span class="citadelstext">建筑</span>不计入回合上限。
									除非特殊情况，否则你不能以此法建造相同名字的<span class="citadelstext">建筑</span>。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该效果在建造完之后立即发动，你也可以选择不发动，但是之后无法发动该效果。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>西太湖揽月湾广场，熠熠湖水，阵阵涟漪，直径88米、高100米的大型喷泉冲天而起，变幻多姿；音乐、喷泉、激光、灯光，在西太湖揽月湾绘织成了一幅美轮美奂的水景图；
									西太湖揽月湾打造出了优美的“月光水城”幽静的西太湖延岸，最惬意的河边散步。
									</i>
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p610.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 大成三厂（加强）</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;效果修改为当回合即可额外建造1个<span class="citadelstext">建筑</span>，
									且建造完<span class="citadelstext">大成三厂</span>后可立即获得2￥。（之前的版本实在是太弱了）
								</td>
							</tr>
							-->
							
							<!-- 
							<tr>
								<td colspan="2">
									<h4>2020.09.16 <span class="citadelstext">富饶龙城</span> 一些官方特殊建筑和自创特殊建筑上线</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下4个为官方<span class="citadelstext">特殊建筑</span>。</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p306.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 化工厂</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以拆除该<span class="citadelstext">建筑</span>拆除任意一个其他玩家的<span class="citadelstext">建筑</span>。
									不能拆除已完成玩家的<span class="citadelstext">建筑</span>。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该建筑和你指定拆除的其它玩家的<span class="citadelstext">建筑</span>会置于牌堆底。
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p409.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 博物馆</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以在回合内将一张手牌背面朝上放置于该<span class="citadelstext">建筑</span>下，每回合限一次。
									游戏结束时该<span class="citadelstext">建筑</span>下每有1张手牌，你额外获得1分。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">城管</span>拆除该<span class="citadelstext">建筑</span>只需要花费3<span class="citadelstext">￥</span>，
									无论该建筑下方有几张牌。当该建筑被任何方式拆除时，将该建筑下方的牌和该建筑一起置于牌堆底。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>常州博物馆新馆于2007年对外开放，地处市民广场西侧。
									馆藏文物2万余件，其中国家一级文物 27件（国宝级文物1件）、二级文物166件、三级文物3129件，国家一、二级保护动植物、化石标本103件。</i>
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p305.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 脚手架</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以拆除该<span class="citadelstext">建筑</span>并免费建造一个你未建造的<span class="citadelstext">建筑</span>。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你以此法建造的<span class="citadelstext">建筑</span>视为和正常方式建造<span class="citadelstext">建筑</span>一样，
									所以你不能以此法建造相同名称的<span class="citadelstext">建筑</span>，且若你本回合建造数量已达上限，你不能以此法免费建造<span class="citadelstext">建筑</span>。
								</td>
							</tr>
							<tr style="width: 1000px">
								<td><img src="/image/Citadels/Cards/p410.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 新村</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该建筑视为2个<span class="citadelstext">建筑</span>。
									你在已有5个及以上<span class="citadelstext">建筑</span>时无法建造建造该<span class="citadelstext">建筑</span>。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造该<span class="citadelstext">建筑</span>只需要花费1次建造。如<span class="citadelstext">建筑师</span>
									第一次建造的是<span class="citadelstext">新村</span>，该回合依然可以再建造2个建筑。
								</td>
							</tr>
							<tr><td></td></tr>
							<tr><td></td></tr>
							<tr>
								<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下5个为自创<span class="citadelstext">特殊建筑</span>。</td>
							</tr>
							<tr><td></td></tr>
							<tr><td></td></tr>
							<tr>
								<td><img src="/image/Citadels/Cards/p203.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 报刊亭</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你建造完 <span class="citadelstext">报刊亭</span>
									后，立即将牌堆顶的2张牌放置于 <span class="citadelstext">报刊亭</span> 下方。这2张牌不会带来额外得分。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你每回合可以获得 <span class="citadelstext">报刊亭</span>
									下方的第一张牌 ，但是你不能同时获得下方的2张。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当 <span class="citadelstext">报刊亭</span>
									下方没有牌时，立即拆除<span class="citadelstext">报刊亭</span>。若你不想<span class="citadelstext">报刊亭</span>被拆除，
									请不要在<span class="citadelstext">报刊亭</span>下方还有1张牌的时候拿走那张牌。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当<span class="citadelstext">报刊亭</span>被各种方式拆除后，
									将<span class="citadelstext">报刊亭</span>和其下方的所有牌放置于牌堆底。
								</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Cards/p204.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 神亭岭</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你已建造<span class="citadelstext">神亭岭</span>，
									每当你建造一个治安（红色）<span class="citadelstext">建筑</span>后立即摸一张牌，该效果立即自动发动。<br/></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>神亭岭，位于金坛区薛埠镇，茅麓茶场以东。
									公元195年，小霸王<del style="background-color:grey">孙笨</del>孙策在攻打刘繇时曾在此和刘繇部将太史慈发生过一场恶战。（《三国志·吴书·太史慈传》：
									“时独与一骑卒遇策。策从骑十三，皆韩当、宋谦、黄盖辈也。慈便前斗，正与策对。策刺慈马，而揽得慈项上手戟；慈亦得策兜鍪。会两家兵骑并各来赴，于是解散。）
									</i>
									
								</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Cards/p511.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 运河五号</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你每回合可以花费1￥装饰<span class="citadelstext">运河五号</span>，每回合限一次。
									若你本回合已使用<span class="citadelstext">家具商</span>的技能效果装饰该<span class="citadelstext">建筑</span>，
									你依然可以发动<span class="citadelstext">运河五号</span>的效果花费1￥装饰。
									当该建筑的装饰等级为3时你无法装饰该建筑。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该<span class="citadelstext">建筑</span>上每有1<span class="citadelstext">￥</span>，
									你建造特殊（紫色）<span class="citadelstext">建筑</span>少支付1<span class="citadelstext">￥</span>。
									该特效不会降低你特殊（紫色）<span class="citadelstext">建筑</span>的分值。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>运河五号创意街区建成于2008年12月15日，位于常州市三堡街，京杭大运河南岸。
									运河五号创意街区利用原常州恒源畅厂、常州第五毛纺织厂、常州梳篦厂、常州航海仪器厂等工业遗存和文化遗迹，加以改造和利用，
									建设成一个设施完备、功能完善、服务全面、氛围独特的吸引设计类创意人才和企业创业和发展的平台。这里也是常州市钟楼区艺术教育实践基地。
									</i>
									
								</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Cards/p514.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 东坡公园</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每回合你可以展示牌堆顶的2张牌，将所有特殊（紫色）类型的牌收为手牌，并将其余展示的牌置于牌堆底。
									每回合限发动一次该效果。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若2张展示的牌都为特殊（紫色）类型，你将该两张牌都收为手牌。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>东坡公园位于红梅公园东南侧，古运河东去的咽喉要地。
									整个景区是由一个三面环水的半岛和古运河中的半月岛组成，二岛间由一座明代古桥相连。相传北宋大文豪家苏东坡先生曾11次来常州，并终老于此。
									东坡公园便是苏东坡当年弃舟登岸入城之地。后南宋有人为纪念在常州终老的苏东坡，建舣舟亭以示怀念。
									</i>
									
								</td>
							</tr>
							<tr>
							<td><img src="/image/Citadels/Cards/p615.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 古炮台</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回合内若<span class="citadelstext">古炮台</span>下方没有牌，你将一张手牌背面朝上置于<span class="citadelstext">古炮台</span>下方，
									否则你将该<span class="citadelstext">古炮台</span>下方的牌弃置并弃置任意一名其他玩家总价值不超过4<span class="citadelstext">￥</span>的建筑弃置。
									每回合只能发动一次<span class="citadelstext">古炮台</span>的效果，即你不能在放置牌的同一回合弃置其他玩家的<span class="citadelstext">建筑</span>。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若<span class="citadelstext">古炮台</span>下方没有牌，你不能弃置其他玩家的<span class="citadelstext">建筑</span>。
									若<span class="citadelstext">古炮台</span>下方有牌，你不能放置牌。<span class="citadelstext">古炮台</span>下方的牌不会带来额外的分数。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一个<span class="citadelstext">建筑</span>的价值等于该<span class="citadelstext">建筑</span>的价格和其装饰等级相加。</br>
									</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>该炮台位于长江南岸的江阴鹅鼻嘴公园，修建于1949年。
									</i>
									
								</td>
							</tr>
							 -->
							<!-- 
							<tr>
								<td colspan="2">
									<h4>2020.09.12 <span class="citadelstext">富饶龙城</span> 家具商和双类型建筑更新</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span> 的角色技能和
								<span class="citadelstext">双类型建筑</span> 的价格以及设置有所更新。还有一些新特殊建筑上线。</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Roles/119.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 家具商更新</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
									增加可以从一个已装饰的建筑上获取1￥的效果。该建筑的装饰等级下降1。.若你本回合已使用家具商装饰建筑，你仍然可以发动该效果，反之亦然。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
									可以此法获取某些特殊建筑自身效果装饰的1￥，但每次只能获取1￥。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
									每回合获取和装饰的次数均最多为1。</br>
								</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Cards/gb4.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 双类型建筑更新</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有双类型建筑的建造价格改为4￥，计算分数时改为只有2分。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若房主选择加入双类型建筑，仍然是随机3张双类型建筑会加入摸牌堆，
									但是额外的一张特殊建筑和 <span class="citadelstext">奶茶店</span> 不会加入，改为加入 <span class="citadelstext">亚细亚影城</span>。<br/>
								</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Cards/p512.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top" rowspan="2">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 亚细亚影城</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你建造完 <span class="citadelstext">亚细亚影城</span>
									后，该建筑的装饰等级为2，你不需要支付2￥，装饰所需的2￥从金库中直接获取并放置于该建筑上。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">亚细亚影城</span> 为商业和特殊类型建筑。
									建成后，当 <span class="citadelstext">实业家</span> 发动技能获得收益时，<span class="citadelstext">亚细亚影城</span> 能提供1￥。
									游戏结束计算分数时若你已建造该牌，则视为你已建造商业和特殊类型建筑（你只需要建造剩下3种类型的建筑就可以额外获得3分）。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你回合结束时若 <span class="citadelstext">亚细亚影城</span> 的装饰等级为0，
									该建筑完全降级，失去其特殊类型和建筑效果且其价值-2（转换为第二个形态）。该建筑成为了普通的价值为3的商业类型建筑。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">亚细亚影城</span> 的装饰等级下降时机为执行行动之后，
									而建筑完全降级的时机为回合结束之后。这意味着你建造的当回合该建筑不会自动下降装饰等级。若执行行动后该建筑装饰等级下降为0，若你使用
									<span class="citadelstext">家具商</span> 的装饰技能将其装饰等级提高至1，回合结束后该建筑不会完全降级。<br/></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>亚细亚影城建立于上世纪90年代，以电影放映为主，集文化、休闲、娱乐、商贸、服务于一体的现代化多功能综合性文化娱乐中心，
									2003年被评为五星级影院，是中国首批、江苏唯一一家。亚细亚影城曾为4A级旅游景区。后因经营不善，管理混乱，1楼大厅变成了游戏厅，2楼入驻了SPA，足疗和棋牌室，5~7楼重新装修变成了家装工厂。
									2015年10月被取消其4A级资质。</i>
								</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Cards/p512-1.png" class="newsImg"></td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/p408.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 护王府</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你选择1号角色或2号角色执行行动后，若 <span class="citadelstext">护王府</span>
									的装饰等级小于3，会自动提升一级装饰等级。你不需要支付1￥，装饰所需的1￥从金库中直接获取并放置于该建筑上。<br/></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>护王府位于局前街，是陈坤书的府第遗址。
									护王陈坤书是广西桂平人，1851年参加太平天国金田起义，1862年由苏州移驻常州，被天王洪秀全晋封为“护王”。护王府是1862年陈坤书移防常州时所建。
									1864年4月李鸿章率清军收复常州，同年5月，护王陈坤书在肉搏战中力竭受伤后被俘，不屈而死。</i>
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/p513.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 瓜田</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当一名其他玩家所选的角色成为1号角色的目标，在该玩家跳过其回合时你获得1￥。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你本回合选择了1号角色且成功命中一名玩家，你依然可以获得1￥。
									如果本回合你选择的角色为1号角色的目标，你无法获得1￥。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果本回合没有玩家选择1号角色指定的目标角色，你无法获得1￥。<br/>
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/p613.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 福利院</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从你建造完 <span class="citadelstext">福利院</span>
									起，每当你建造一个价格为2￥及以下的建筑，若该新造建筑的装饰等级小于3，该新造建筑会自动提升一级装饰等级。你不需要支付1￥，装饰所需的1￥从金库中直接获取并放置于该建筑上。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;之前建造的价格2￥及以下的建筑不会提高装饰等级。</br>
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/p614.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 保险大厦</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你成为一名角色技能的目标，在技能效果结算完毕后你能获得1￥。你以此法获得1￥的时机如下：</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你选择了送葬者指定的角色且你被带走时（而不是送葬者指定你选择的角色时）；</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你的所有￥在你的回合开始时被盗贼偷走之后。即使此时你没有￥你依然能获得1￥。你以此法获得的1￥不会被偷走；</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当魔术师和你交换手牌时。即使你的手牌数量不降反增你依然能获得1￥；</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当城管拆除你其它建筑时。城管若拆除本建筑，你无法获得1￥。</br>
								</td>
							</tr>
							
							<tr>
								<td colspan="2">
									<h4>2020.09.08 <span class="citadelstext">富饶龙城</span> 双类型建筑上线</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">双类型建筑</span> 建造之后视为拥有两种类型。
								在获得收益和计算分数时享受两种类型的加成。以下是一个双类型建筑的例子。</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Cards/gb5.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 少年宫</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">少年宫</span> 为教育和商业类型建筑。
									建成后，当 <span class="citadelstext">校长</span> 和 <span class="citadelstext">实业家</span> 发动技能获得收益时，
									<span class="citadelstext">少年宫</span> 都能提供1￥。游戏结束计算分数时若你已建造该牌，则视为你已建造教育和商业类型建筑（你只需要建造剩下3种类型的建筑就可以额外获得3分）。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造 <span class="citadelstext">少年宫</span> 需要花费5￥，
									计算分数时只有3分。8号玩家指定该建筑为目标时该建筑的价格仍为5（如城管拆除该建筑需要花费4￥）。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;还有5张和 <span class="citadelstext">少年宫</span> 类似的建筑，
									它们除了建筑类型不一样，价格和建筑效果都和 <span class="citadelstext">少年宫</span> 一样。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每局游戏默认不加入双类型建筑，房主可以指定一局游戏加入双类型建筑。若房主选择加入双类型建筑，随机3张双类型建筑会加入摸牌堆，
									该局游戏还会额外加入1张特殊建筑和2张 <span class="citadelstext">奶茶店</span>。<br/>
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/g23.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 奶茶店</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">奶茶店</span> 为商业类型建筑，价格为2￥，与
									<span class="citadelstext">小吃店</span> 和 <span class="citadelstext">菜场</span> 不同名。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">奶茶店</span> 仅在加入双类型建筑时会加入摸牌堆。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选择双类型建筑时加入 <span class="citadelstext">奶茶店</span> 和加入额外的特殊建筑是为了平衡商业建筑和特殊建筑的比例和价格。
								</td>
							</tr>
							 -->
							<!-- 
							<tr>
								<td colspan="2">
									<h4></h4>
								</td>
							</tr>
							
							<tr>
								<td colspan="2">
									<h4>2020.09.07 <span class="citadelstext">富饶龙城</span> 装饰概念上线，同期上线9号角色选项</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="width: 1000px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">装饰</span>是将￥放置于建筑上。
								一个建筑的<span class="citadelstext">装饰等级</span>等同于放置于该建筑上的￥。
								一个已装饰的建筑计算分数时额外获得等同于其装饰等级的分数。
								8号角色对已装饰建筑使用技能时需要额外支付与该建筑装饰等级等量的￥（如城管拆除一个造价为2￥装饰等级为1的建筑需要支付2￥）。</td>
							</tr>
							<tr>
								<td><img src="/image/Citadels/Roles/119.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 家具商</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
									可以在回合内使用￥装饰最多两个建筑，但不可装饰已装饰过的建筑。换言之，<span class="citadelstext">家具商</span> 只能将一个建筑的装饰等级从0提升到1。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
									是9号角色，7人及以下的游戏默认不使用，但是房主可以在游戏开始前指定该局游戏是否使用 <span class="citadelstext">家具商</span>。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用9号角色的游戏，4~6人局每回合开始时额外亮出一张不使用的角色。
									7人局游戏最后一个选择角色的玩家不可观看暗置角色牌（若一局游戏不使用9号角色，最后一个选择角色的玩家可观看并选择暗置角色牌）。
									8人局游戏必须使用9号角色，且最后一个选择角色的玩家从最后一张可选角色和暗置角色中选择一张作为自己本回合的角色。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一局游戏人数不超过5人时不推荐使用 <span class="citadelstext">家具商</span>。
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/p304.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 常州金店</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你建造完 <span class="citadelstext">常州金店</span>
									后，如果你有超过3￥，你将3￥装饰在该建筑上，否则你将所有的￥装饰在该建筑上，你无法选择不发动该效果。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造 <span class="citadelstext">常州金店</span> 的当回合你不能从该建筑上拿回1￥。
									从下一回合起，若该建筑的装饰等级大于0你可以从该牌上拿回1￥，你也可以选择不拿。一回合最多拿回1￥。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
									装饰在该牌上的￥也可以通过发动建筑特效拿回。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>常州金店有限公司创建于1985年，是中国黄金协会常务理事单位。</i>
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/p406.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 中联大厦</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">中联大厦</span>
									会在每回合结束时自动提升一级装饰等级。你不需要支付1￥，装饰所需的1￥从金库中直接获取并放置于该建筑上。当该建筑装饰等级超过3时，自动拆除该建筑。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
									可以在建造该建筑的当回合装饰该建筑，但是会让该建筑早一回合自动拆除。若该建筑的装饰等级已大于0（建造该建筑之后的回合），家具商无法装饰该建筑。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>中联大厦建造于1986年，位于文化宫广场南面，集合了商场、餐饮、娱乐等多功能设施，是常州历史上第一座商业综合体。
									中联大厦有12层，55米，曾是常州第一高楼，2017年4月25日拆除。</i>
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/p407.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 别墅区</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从你建造完 <span class="citadelstext">别墅区</span>
									起，每当你建造一个价格为5￥及以上的建筑，若该新造建筑的装饰等级小于3，该新造建筑会自动提升一级装饰等级。你不需要支付1￥，装饰所需的1￥从金库中直接获取并放置于该建筑上。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;之前建造的价格5￥及以上的建筑不会提高装饰等级。</br>
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Cards/p510.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 青枫公园</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;执行行动阶段当你选择获得牌，若 <span class="citadelstext">青枫公园</span>
									装饰等级小于3会自动提升一级装饰等级。你不需要支付1￥。装饰所需的1￥从金库中直接获取并放置于该建筑上。<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因为角色技能或是建筑效果获得牌无法触发 <span class="citadelstext">青枫公园</span> 的效果。</br></br>
									<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>2008年5月建成的青枫公园位于钟楼开发区，是常州最大的开放式公园，总面积达45公顷。青枫公园是常州市第一个森林公园。</i>
								</td>
							</tr>
							
							<tr>
								<td><img src="/image/Citadels/Roles/109.png" class="newsImg"></td>
								<td style="width: 790px; vertical-align:top">
									<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 记者</h4>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当选择 <span class="citadelstext">记者</span>
									的玩家亮出时，若本回合选角色时该玩家的上家或者下家选择了4号，则该角色立即获得3￥。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">记者</span>
									是另一个9号角色，一局游戏选择 <span class="citadelstext">记者</span> 就不能选择 <span class="citadelstext">家具商</span>。有关9号角色的设置请看 <span class="citadelstext">家具商</span> 章节。</br>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一局游戏人数不超过5人时不推荐使用 <span class="citadelstext">记者</span>。
								</td>
							</tr>
							 -->
						</table>
					</div>
					<h4>往期新闻</h4>
					<p>2020.09.27 <span class="citadelstext">富饶龙城</span> 5个四字自创建筑上线</p>
					<p>2020.09.18 <span class="citadelstext">富饶龙城</span> 法官和揽月湾上线，大成三厂加强</p>
					<p>2020.09.16 <span class="citadelstext">富饶龙城</span> 一些官方特殊建筑和自创特殊建筑上线</p>
					<p>2020.09.12 <span class="citadelstext">富饶龙城</span> 家具商和双类型建筑更新</p>
					<p>2020.09.08 <span class="citadelstext">富饶龙城</span> 双类型建筑上线</p>
					<p>2020.09.07 <span class="citadelstext">富饶龙城</span> 装饰概念上线，同期上线9号角色选项</p>
					<p>2020.09.05 <span class="citadelstext">富饶龙城</span> 上线特殊卡牌：
						<span class="citadelstext">大酒店</span>，
						<span class="citadelstext">紫荆公园</span>，
						<span class="citadelstext">澳门城</span>，
						<span class="citadelstext">天目湖</span>，
						<span class="citadelstext">九龙山</span>。
						<!-- 
						<span class="citadelstext" ng-click="show()"><u>{{expandDisplay}}</u></span>
						 -->
					</p>
					<!-- 
					<div ng-show="showCards">
						<img src="/image/Citadels/Cards/p611.png" class="newsImg">
						<img src="/image/Citadels/Cards/p405.png" class="newsImg">
						<img src="/image/Citadels/Cards/p303.png" class="newsImg">
						<img src="/image/Citadels/Cards/p509.png" class="newsImg">
						<img src="/image/Citadels/Cards/p612.png" class="newsImg">
					</div>
					 -->
					<!-- 
					<span class="citadelshovertext" ng-mouseover="show(0)" ng-mouseleave="unshow()">大酒店</span>，
					<span class="citadelshovertext" ng-mouseover="show(1)" ng-mouseleave="unshow()">紫荆公园</span>，
					<span class="citadelshovertext" ng-mouseover="show(2)" ng-mouseleave="unshow()">澳门城</span>，
					<span class="citadelshovertext" ng-mouseover="show(3)" ng-mouseleave="unshow()">天目湖</span>，
					<span class="citadelshovertext" ng-mouseover="show(4)" ng-mouseleave="unshow()">九龙山</span>
					 
					 
					<div class="hiddenimg" ng-show="showHiddenImg" ng-style="imgStyle">
						
					</div>
					-->
					<p>2020.09.04 内测版 v0.10 上线， 加入<span class="citadelstext">富饶龙城</span></p>
					<p></p>
					<p>本网站正龟速更新中，敬请期待更多内容！</p>
				</div>
				
				<div id="abouttab" class="content container tab-pane fade">
					<h2>关于</h2>
					<p>Cosgame由Cosine37开发.</p>
				</div>
				
			</div>
		</div>
		
	</div>
	
</body>
</html>