<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/indexTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/indexController.js"></script>
<body ng-app="indexApp" ng-controller="indexCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button style="padding-top: 0px; color: rgb(0,100,100); font-size: 24px; background-color:white">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<!-- 
		<button ng-click="goto('coslash')">Coslash</button>
		<button ng-click="goto('dominion')">Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button ng-click="goto('minigame')">Minigames</button>
		
		<button>Others</button>
		 -->
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#newstab">News</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#abouttab">About</a>
				    </li>
				  </ul>
			</div>
			
			<div class="tab-content">
				<div id="newstab" class="content container tab-pane active">
					<h1>Welcome to Cosgame</h1>
					<p>2020.09.04 内测版 v 0.10上线， 加入<span class="citadelstext">富饶龙城</span>。</p>
					<p>2020.09.05 <span class="citadelstext">富饶龙城</span> 上线特殊卡牌：
					<span class="citadelshovertext" ng-mouseover="show(0)" ng-mouseleave="unshow()">大酒店</span>，
					<span class="citadelshovertext" ng-mouseover="show(1)" ng-mouseleave="unshow()">紫荆公园</span>，
					<span class="citadelshovertext" ng-mouseover="show(2)" ng-mouseleave="unshow()">澳门城</span>，
					<span class="citadelshovertext" ng-mouseover="show(3)" ng-mouseleave="unshow()">天目湖</span>，
					<span class="citadelshovertext" ng-mouseover="show(4)" ng-mouseleave="unshow()">九龙山</span>。</p>
					<div class="hiddenimg" ng-show="showHiddenImg" ng-style="imgStyle">
						
					</div>
					<p></p>
					<p>本网站正龟速更新中，敬请期待更多内容！</p>
				</div>
				
				<div id="abouttab" class="content container tab-pane fade">
					<h2>About</h2>
					<p>Cosgame is developed by Cosine37.</p>
				</div>
				
			</div>
		</div>
		
	</div>
	
</body>
</html>