<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/loginTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/app/loginController.js"></script>
<body ng-app="loginApp" ng-controller="loginCtrl">
<div id="login" class="login">
	<div id="logo" class="title">Cosgame</div>
	<div class="content">
		<div class="wrongpassword"></div>
		<div class="loginword"><span style="color: black">Username</span></div>
		<div class="logintext"><input type="text" name="username" ng-model="username"/></div>
		<div class="loginword"><span style="color: black">Password</span></div>
		<div class="logintext"><input type="password" name="password" ng-model="password"/></div>
		<div class="buttons">
			<button ng-click="login()">Login</button>
			<button ng-click="goto('register')">Register</button>
		</div>
	</div>
</div>
</body>
</html>