<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Marshbros</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/marshbrosTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/marshbrosOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/marshbrosGameController.js"></script>
<body ng-app="marshbrosGameApp" ng-controller="marshbrosGameCtrl">
	
	<div>
		<button ng-click="goto('marshbros')">退出</button>
	</div>
	
	<table style="text-align:center">
		<tr ng-repeat="singleAreaStyles in areaStyles track by $index" ng-init="playerIndex = $index">
			<td ng-repeat="areaStyle in singleAreaStyles track by $index">
				<div class="areaCard" ng-style="areaStyle" ng-class="attackStyles[plyaerIndex][$index]" ng-click="clickAreaCard(playerIndex, $index)">
					<div ng-show="phase == '4' && playerIndex == myIndex && $index == sacrificeIndex">
						<img src="/image/Marshbros/target.png" class="targeted">
					</div>
					<div class="atk numOnCard noselect">{{roles[playerIndex][$index].atk}}</div>
					<div class="hp numOnCard noselect">{{roles[playerIndex][$index].hp}}</div>
				</div>
			</td>
		</tr>
	</table>
	
	<table style="text-align:center">
		<tr>
			<td>
				<div class="handCard" ng-style="choosedRoleStyle">
					<div class="atkChoosed numOnChoosedCard noselect" ng-show="roleIndex != -1">{{choosedAtk}}</div>
					<div class="hpChoosed numOnChoosedCard noselect" ng-show="roleIndex != -1">{{choosedHp}}</div>
				</div>
			</td>
			<td ng-show="roleIndex != -1 && attackMode == false">
				<div>
					<table>
						<tr><td><button ng-disabled="chosenRole.choice!='-1'" ng-mouseover="showInstructions('raid')" ng-click="raid()">劫掠</button></td></tr>
						<tr><td></td></tr>
						<tr><td><button ng-disabled="chosenRole.canAttack=='n'"ng-mouseover="showInstructions('attack')"ng-click="openAttack()">攻击</button></td></tr>
						<tr><td></td></tr>
						<tr><td><button ng-mouseover="showInstructions('cancel')"ng-click="cancelChoosed()">取消</button></td></tr>
					</table>
				</div>
			</td>
			<td ng-show="roleIndex != -1 && attackMode == false" style="text-align:left">
				<div ng-show="shownInstruction=='raid'">
					<h3>劫掠</h3>
					<p>掷与你体力值数量相同的骰子。每有一个骰子的点数小于等于你的攻击力，你获得1点资源。</p>
				</div>
				<div ng-show="shownInstruction=='attack'">
					<h3>攻击</h3>
					<p>指定一名其他角色并掷与你体力值数量相同的骰子。每有一个骰子的点数小于等于你的攻击力，你对其造成1点伤害。</p>
				</div>
			</td>
			<td ng-show="roleIndex != -1 && attackMode">
				请选择攻击目标。
				<button ng-mouseover="showInstructions('attack')"ng-click="cancelAttack()">取消</button>
			</td>
		</tr>
	</table>
	<div>
		<div ng-show="phase == '1'">
			第一招募阶段：你可以摸一张牌或令一名角色登场。
			<button ng-click="draw()">摸牌</button>
		</div>
		<div ng-show="phase == '2'">
			行动阶段：点击你的角色执行行动。
			<button ng-click="endAction()">结束</button>
		</div>
		<div ng-show="phase == '3'">
			第二招募阶段：你可以摸一张牌或令一名角色登场。
			<button ng-click="draw()">摸牌</button>
		</div>
		<div ng-show="phase == '4'">
			献祭阶段：你还需要献祭{{numSacrifice}}名角色。
			<button ng-show="sacrificeIndex != -1" ng-click="confirmSacrifice()">确定</button>
		</div>
	</div>
	<table style="text-align:center">
		<tr>
			<td ng-repeat="handStyle in handStyles track by $index">
				<div class="handCard" ng-style="handStyle" ng-click="appoint($index)"></div>
			</td>
		</tr>
	</table>
	<div>
		{{gamedata}}
	</div>
	
</body>