<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Marshbros</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/marshbrosTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/marshbrosOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/marshbrosGameController.js"></script>
<body ng-app="marshbrosGameApp" ng-controller="marshbrosGameCtrl">
	
	<div>
		<button ng-click="goto('marshbros')">退出</button>
	</div>
	
	<table style="text-align:center">
		<tr>
			<td ng-repeat="handStyle in handStyles track by $index">
				<div class="handCard" ng-style="handStyle"></div>
			</td>
		</tr>
	</table>
	<div>
		{{gamedata}}
	</div>
	
</body>