<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame No Thanks</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/nothanksTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/nothanksOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/nothanksGameController.js"></script>
<body ng-app="nothanksGameApp" ng-controller="nothanksGameCtrl">
	<button ng-click="goto('nothankscreategame')">back</button>
	
	<table>
		<tr ng-repeat="p in playerNames track by $index">
			<td><button ng-disabled="disableUserButton[$index]">{{p}}</button></td>
			<td>红包：{{revealedMoney[$index]}}</td>
			<td>手牌数：{{handSizes[$index]}}</td>
		</tr>
	</table>
	
	<div ng-show="phase == '-1'">
		<p>现在不是你的回合。</p>
	</div>
	<div ng-show="phase == '0'">
		<p>你收到一个包裹，可以选择收下或送出。</p>
		<div>
			<span>{{packCardImg}} 红包数量：{{packMoney}}</span>
			<button ng-click="receive()">收下</button>
		</div>
	</div>
	<div>
		<span ng-repeat="h in hand track by $index">{{h}}</span>
	</div>
	
	<p>{{gamedata}}</p>
</body>
</html>