<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame No Thanks</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/nothanksTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/nothanksOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/nothanksCreateGameController.js"></script>
<body ng-app="nothanksCreateGameApp" ng-controller="nothanksCreateGameCtrl">
	<button ng-click="goto('nothanks')">back</button>
	<button ng-click="addbot()">add bot</button>
	<button ng-click="goto('nothanksgame')">start game</button>
	
	<p>{{gamedata}}</p>
</body>
</html>