<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame No Thanks</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/nothanksTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/nothanksOther.css">
<link rel="stylesheet" type="text/css" href="/view/css/nothanksGame.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/nothanksGameController.js"></script>
<body ng-app="nothanksGameApp" ng-controller="nothanksGameCtrl">
	<button ng-click="goto('nothanks')">back</button>
	
	<table>
		<tr ng-repeat="p in playerNames track by $index" ng-style="playerStyle[$index]">
			<td><button ng-click="send($index)" ng-disabled="disableUserButton[$index]">{{p}}</button></td>
			<td>
				<img class="icon" src="/image/Nothanks/money.png">
				{{revealedMoney[$index]}}
			</td>
			<td>
				<img class="icon" src="/image/Nothanks/card.png">
				{{handSizes[$index]}}
			</td>
			<td ng-show="curPlayer == $index">◀</td>
			<td ng-show="curPlayer != $index"></td>
		</tr>
		<tr>
			<td colspan="4">
				<img class="icon" src="/image/Nothanks/deck.png">
				{{deckSize}}
			</td>
		</tr>
	</table>
	
	<div ng-show="phase == '-1'">
		<div style="height: 160px"></div>
		
		<div style="clear:both">
			<p>现在不是你的回合。</p>
			<button ng-click="botnextmove()">botnextmove</button>
		</div>
	</div>
	<div ng-show="phase == '0'">
		<div style="height: 160px">
			<div class="hand" ng-style="packageStyle">
			</div>
			<div class="hand" ng-style="moneyStyle" ng-show="packMoney != '0'">
				<span class="packMoney">{{packMoney}}</span>
			</div>
		</div>
		<div style="clear:both">
			<p>你收到一个包裹，可以选择收下或点击相应玩家的图标送出。</p>
			<button ng-click="receive()">收下</button>
		</div>
	</div>
	<div style="clear:both">
		<div class="hand" ng-repeat="h in hand track by $index"
			ng-style="handStyle[$index]">
		</div>
	</div>
	<!-- 
	<p>{{gamedata}}</p>
	 -->
	
</body>
</html>