<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame No Thanks</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/nothanksTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/nothanksMainController.js"></script>
<body ng-app="nothanksMainApp" ng-controller="nothanksMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button style="padding-top: 0px; color: rgb(12,137,24); font-size: 24px; background-color:white">不了谢谢</button>
		<button ng-click="goto('pokewhat')">宝可纳尼</button>
		<button ng-click="goto('gravepsycho')">盗墓惊魂</button>
		<button ng-click="goto('onenight')">狼人不杀</button>
		<button ng-click="goto('architect')">雕梁画栋</button>
		<button ng-click="goto('threechaodoms')">混沌三国</button>
		<button ng-click="goto('belltower')">小恶魔杀</button>
		<!-- 
		<button ng-click="goto('splendor')">果香四溢</button>
		
		<button style="padding-top: 0px; color: blue; font-size: 24px; background-color:white">Coslash</button>
		<button ng-click="goto('dominion')">Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button ng-click="goto('minigame')">Minigames</button>
		<button>Others</button>
		 -->
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">规则</a>
				    </li>
				  </ul>
			</div>
			
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>不了谢谢</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>状态</td>
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="rulestab" class="content container tab-pane fade">
					<h2><b>规则</b></h2>
					<table>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>背景</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 你是一个人缘特别好的<b>正常人</b>，经常会收到许多<b>正常</b>的包裹。
								但是最近似乎很奇怪，你开始会收到一些匿名的<b>不正常</b>的包裹，有些包裹上甚至还会附带<span class="nothankstext">几个红包</span>。
								当你运气好时，包裹里会装有<span class="nothankstext">一个红包</span>，但大部分时候当你打开这些包裹时，你会发现里面装的竟然是不可描述的#&*%@￥#@。你可以咬牙收下这些礼物，但是你的<span class="nothankstext">恶心指数</span>会上升。
								当然，聪（wo）明（chuo）的你一定不会就这样让你的生活变得一团糟，毕竟你还有许多好（gong）朋（ju）友（ren）可以用来排忧解难。<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 第二天就是你一个朋友的生日，你将刚收到的<b>不正常</b>包裹悄悄的放在你朋友的家门口。
								为了表达你祝寿的诚意，你还特意在礼物上额外附带了<span class="nothankstext">一个红包</span>。想到第二天你朋友打开礼物时欣喜若狂的样子，你自己也慢慢的开心了起来。毕竟赠人玫瑰，手留余香。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>游戏人数</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支持2~6人，3、4人游戏体验最佳。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>游戏内容</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏一共包含25张礼物牌，有12张<span class="nothankstext">红包</span>牌，
								12张<span class="nothankstext">不可描述的礼物</span>牌，以及1张<span class="nothankstext">特殊礼物</span>牌。
								</p>
							</td>
						</tr>
						<tr>
							<td><img src="/image/Nothanks/Cards/-3.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="nothankstext">&nbsp;&nbsp;&nbsp;&nbsp; 红包</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="nothankstext">红包</span>牌可以在你收到<span class="nothankstext">礼物</span>时使用。
								你可以往你收到的<span class="nothankstext">礼物</span>中加上你的一个<span class="nothankstext">红包</span>送给你指定的一名其他玩家。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="nothankstext">红包</span>的<span class="nothankstext">恶心指数</span>为-3。
							</td>
						</tr>
						<tr>
							<td><img src="/image/Nothanks/Cards/7.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="nothankstext">&nbsp;&nbsp;&nbsp;&nbsp; 不可描述的礼物</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="nothankstext">不可描述的礼物</span>牌为数字牌。
								有1~12共12个数字，每张牌上的数字代表该礼物的<span class="nothankstext">恶心指数</span>。
							</td>
						</tr>
						<tr>
							<td><img src="/image/Nothanks/Cards/0.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="nothankstext">&nbsp;&nbsp;&nbsp;&nbsp; 特殊礼物</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span class="nothankstext">特殊礼物</span>可以将你所有<span class="nothankstext">不可描述的礼物</span>牌的<span class="nothankstext">恶心指数</span>反转，
								改为13减去原<span class="nothankstext">恶心指数</span>。
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>游戏设置</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;将所有<span class="nothankstext">红包</span>牌平均分配至每名玩家，
								12张<span class="nothankstext">不可描述的礼物</span>牌以及1张<span class="nothankstext">特殊礼物</span>牌洗混为摸牌堆。
								所有玩家明示自己的<span class="nothankstext">红包</span>。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>游戏流程</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最近收到礼物的玩家摸一张牌。当一名玩家摸牌后，该玩家可以将摸到的牌收为手牌，
								或将摸到的牌和自己的一张<span class="nothankstext">红包</span>牌交给另一名玩家。收到其他玩家<span class="nothankstext">礼物</span>的玩家也可以选择将牌收为手牌并将收到的<span class="nothankstext">红包</span>明置，
								或在礼物中加入自己的一张<span class="nothankstext">红包</span>牌并交给另一名玩家。任何决定收下礼物的玩家摸下一张牌。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有玩家需要暗置自己的手牌，将摸到的牌交给另一名玩家时也需要暗置，只有你和收到该牌的玩家才可以观看该牌。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一名没有<span class="nothankstext">红包</span>的玩家收到牌时只能选择收下，不能送给其他玩家。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="nothankstext">不可描述的礼物</span>和<span class="nothankstext">特殊礼物</span>都能被送出。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当最后一张牌堆里的牌被一名玩家收下后，游戏结束计算分数。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>结算分数</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有玩家展示手牌，
								没有<span class="nothankstext">特殊礼物</span>的玩家自己的每一张<span class="nothankstext">不可描述的礼物</span>的<span class="nothankstext">恶心指数</span>为<span class="nothankstext">不可描述的礼物</span>的数值，
								有<span class="nothankstext">特殊礼物</span>的玩家自己的每一张<span class="nothankstext">不可描述的礼物</span>的<span class="nothankstext">恶心指数</span>为13减去该<span class="nothankstext">不可描述的礼物</span>的数值。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每一张<span class="nothankstext">红包</span>牌的</span>的<span class="nothankstext">恶心指数</span>为-3。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每名玩家将所有牌的</span>的<span class="nothankstext">恶心指数</span>相加作为最终分数，最终分数最低的玩家获胜。
								若平手，则<b>明示</b><span class="nothankstext">红包</span>数量最多的玩家获胜。若依然平手，则<b>不</b>拥有<span class="nothankstext">特殊礼物</span>的玩家获胜。
								若依然平手，则拥有最高<span class="nothankstext">恶心指数</span>的<span class="nothankstext">不可描述的礼物</span>的玩家获胜。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>变体规则</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设置游戏时可以将部分<span class="nothankstext">红包</span>洗入摸牌堆。
								一名玩家摸到<span class="nothankstext">红包</span>时也可选择送出或收下。送出和收下的规则和送出礼物相同。收下摸到的<span class="nothankstext">红包</span>时不明置该<span class="nothankstext">红包</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若一名玩家没有明置的<span class="nothankstext">红包</span>但拥有暗置的<span class="nothankstext">红包</span>，
								收到牌时可以将暗置的<span class="nothankstext">红包</span>明置并送出。
								</p>
							</td>
						</tr>
					</table>
				</div>
				
			</div>
		</div>
	</div>
	
</body>
</html>