<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Abstract</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/oinkTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/oinkOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/oinkCreateGameController.js"></script>
<style>
</style>
<body ng-app="oinkCreateGameApp" ng-controller="oinkCreateGameCtrl">
	<div>
		<table>
			<tr>
				<td colspan="2">
					<h1>抽象小品</h1>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top">
					<table>
						<tr>
							<td colspan="2"><h4>玩家列表</h4></td>
						</tr>
						<tr ng-repeat="pn in playerNames track by $index">
							<td>{{pn}}</td>
							<td>
								<button ng-click="kick($index)" ng-show="$index != 0 && username == lord">踢</button>
								<span ng-show="$index == 0">(房主)</span>
								<span ng-show="firstPlayer == $index  && username == lord">初始玩家</span>
								<button ng-show="firstPlayer != $index && username == lord" ng-click="setFirstPlayer($index)">设为初始</button>
							</td>
						</tr>
					</table>
				</td>
				<td style="vertical-align: top" rowspan="2">
					<div ng-show="gameMode == STARTUPS">
						<h4>初创公司</h4>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<td><h4>选择游戏</h4></td>
						</tr>
						<tr>
							<td>
								<button ng-click="gameMode = STARTUPS" ng-disabled="gameMode == STARTUPS">初创公司</button>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button ng-click="goto('oink')">退出</button>
					<button ng-click="dismiss()" ng-show="username == lord">解散</button>
					<!-- 
					<button ng-click="addBot()" ng-show="username == lord">添加bot</button>
					 -->
					<button ng-click="start()" ng-show="showStart()">开始</button>
				</td>
			</tr>
		</table>
		
	</div>
	
</body>