<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Abstract</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/oinkTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/oinkOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/oinkGameController.js"></script>
<style>
body {
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<body ng-app="oinkGameApp" ng-controller="oinkGameCtrl" ng-style="bodyStyle" ng-click="bgm.play()" class="noselect">

	<div ng-show="game==STARTUPS" class="game-div">
		<div style="position: absolute; bottom: 10px; right: 20px;">
			<span style="font-weight: bold; font-size: 80px; color:white">初创公司</span>
		</div>
		<div style="position: absolute; top: 10px; right: 20px;">
			<button ng-click="dismiss()" ng-show="username == lord">解散</button>
			<button ng-click="goto('oink')">退出</button>
		</div>
		<div id="player-zone">
			<div ng-repeat="p in players track by $index" style="float: left;">
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td rowspan='2'>
										<div style="height: 80px; width: 80px" ng-style="p.account.chosenAvatarStyle"></div>
									</td>
									<td style="padding-left: 10px;">
										<span style="font-size: 20px;font-weight: bold; ">{{p.account.nameDisplay}}</span>
									</td>
								</tr>
								<tr>
									<td style="padding-left: 10px;">
										<div style="background:url('/image/Oink/Startups/coin.png'); background-size:cover; width: 42px; height: 42px; float:left;
											color: black; font-weight:bold; font-size: 24px;text-align: center;padding-top: 2px">
											{{p.coins}}
										</div>
										<div style="float:right;margin-top: 7px; margin-left: 10px; font-size: 18px;">
											<span>分数：{{p.scoreDisplay}}</span>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="height: 45px">
							<div ng-repeat="a in p.antiMonopoly track by $index" ng-style="a.iconStyle"
								style="float: left; height: 40px; width: 40px;color:red; font-size: 30px; font-family: 'yzgc';text-align: center;" >
								×
							</div>
						</td>
					</tr>
					
					<tr>
						<td style="height: 280px; width: 260px; vertical-align: top">
							<table>
								<tr ng-repeat="b in p.play track by $index" ng-show="b.played>0 || b.fromHand>0">
									<td>
										<div style="position:relative; height: 40px; border-radius:20px" ng-style="b.barColor">
											<div style="float:left; height: 40px; width: 40px;" ng-style="b.iconStyle"></div>
											<div style="float:left; width: 120px; padding-top: 5px; padding-left: 5px; color:white; font-size: 24px; font-family: 'yzgc'">{{b.name}}</div>
											<div style="float:left; width: 80px; padding-top: 5px; padding-right: 20px; color:white; font-size: 24px; font-family: 'yzgc'; text-align: right">
												<span>{{b.played}}</span>
												<span ng-show="b.fromHand != 0">+{{b.fromHand}}</span>
											</div>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					
				</table>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="discard-zone" ng-show="showEndRoundInfo == false">
			<div id="deck" ng-repeat="c in deck track by $index" ng-include="'/view/html/StartupsCard.html'" class="card card-size card-size-discard noselect">
				
			</div>
			
			<div ng-repeat="c in gamedata.discard track by $index" ng-include="'/view/html/StartupsCard.html'" class="card card-size card-size-discard noselect">
				
			</div>
			
		</div>
		<div style="clear:both" ng-show="showEndRoundInfo == false"></div>
		<div style="height: 30px;" ng-show="showEndRoundInfo == false">
			<div ng-show="phase == 2">
				<span>请打出或弃置一张牌</span>
				<button ng-show="chosenCard != -1 && hand[chosenCard].canDiscard" ng-click="discard()">弃置</button>
				<button ng-show="chosenCard != -1" ng-click="play()">打出</button>
			</div>
		</div>
		<div id="hand-zone" style="padding-top: 40px" ng-show="showEndRoundInfo == false">
			<div ng-repeat="c in hand track by $index" ng-include="'/view/html/StartupsCard.html'" class="card card-size card-size-hand noselect" ng-style="c.cstyle" ng-click="clickCard($index)"></div>
		</div>
		<div style="clear:both" ng-show="showEndRoundInfo == false"></div>
		<div id="log-zone" style="overflow-y: scroll;overflow:auto;height: 450px;width: 360px;border: 1px solid; position: absolute; right: 20px; bottom: 150px; 
			background-color: rgba(0,0,0,0.7); color:white; padding: 5px;">
			<div ng-repeat="log in gamedata.logs track by $index">{{log}}</div>
		</div>
		<div ng-include="'/view/html/StartupsEndRound.html'" class="noselect" ng-show="showEndRoundInfo"></div>
	</div>
	<!-- 
	<div>
		<table>
			<tr>
				<td colspan="2">
					<h1>抽象小品</h1>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top">
					游戏开始
				</td>
				<td style="vertical-align: top">
					
				</td>
			</tr>
			<tr>
				<td colspan="2">
					
				</td>
			</tr>
		</table>
	</div>
	{{gamedata}}
	 -->
</body>