<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Abstract</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/oinkTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/oinkOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/oinkCreateGameController.js"></script>
<style>
</style>
<body ng-app="oinkCreateGameApp" ng-controller="oinkCreateGameCtrl" ng-click="bgm.play()" class="noselect">
	<div>
		<table>
			<tr>
				<td style="height: 100px; background-color: rgb(0,150,255); color: white">
				</td>
				<td style="height: 100px; background-color: rgb(0,150,255); color: white; text-align:center">
					<h1>{{gameName[gameMode]}}</h1>
				</td>
			</tr>
			<tr>
				<td style="vertical-align: top">
					<div ng-repeat="pn in playerNames track by $index">
						<table>
							<tr>
								<td style="height: 90px;"><div style="height: 80px; width: 80px" ng-style="gamedata.accounts[$index].chosenAvatarStyle"></td>
								<td style="vertical-align: top; color: gray; width: 250px; padding-left: 15px;">
									<div style="font-size: 18px">
										<span style="color: black">{{gamedata.accounts[$index].nameDisplay}}</span>
										<span ng-show="$index == 0">(房主)</span>
										<span ng-show="firstPlayer == $index">首位</span>
									</div>
									<div style="font-size: 14px">
										<span>{{gamedata.accounts[$index].signatureDisplay}}</span>
									</div>
									<div style="margin-top: 8px;">
										<button ng-show="firstPlayer != $index && username == lord" ng-click="setFirstPlayer($index)">设为初始</button>
										<button ng-click="kick($index)" ng-show="$index != 0 && username == lord">踢</button>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
				<td style="vertical-align: top; background-color:rgb(240,240,240); border-left: 1px groove lightgrey;">
					<div style="text-align: right; padding-right: 10px; padding-top: 5px">
						<label for="volumeControl">音量: </label>
						<input type="range" id="volumeControl" min="0" max="1"step="0.01" ng-model="volume" ng-change="updateVolume()" />
						<span>{{ (volume * 100) | number:0 }}%</span>
						
						<button ng-click="dismiss()" ng-show="username == lord">解散</button>
						<button ng-click="goto('oink')">退出</button>
					</div>
					
					<div style="height: 600px; width: 1000px; padding-bottom: 5px; padding-top: 10px">
						<div ng-show="gameMode == STARTUPS">
							<div class="fakemsg-div" style="width: 360px;">
								<span style="font-weight: bold">支持人数：</span> 3~7人，最佳人数为4人。
							</div>
							<div class="fakemsg-div">
								<span style="font-weight: bold">游戏内容：</span> 共45张股份牌，编号为5~10。每种股份牌的数量等于其编号（比如5就有5张）。游戏开始时会随机移除5张牌。
							</div>
							<div class="fakemsg-div">
								<span style="font-weight: bold">规则综述：</span> 每名玩家在回合开始时会获得股份，可以选择打出或弃置。每轮游戏结束时，每种股份最多的玩家会向其他同样拥有该股份的玩家收取费用。
							</div>
							<div class="fakemsg-div">
								<span style="font-weight: bold">胜利条件：</span> 游戏一共进行4轮，每轮钱币排名第一的玩家获得2分，第二的玩家获得1分，最后一名玩家《获得》-1分。4轮结束后分数最多的玩家获胜。
							</div>
						</div>
						
						<div ng-show="gameMode == GROVE">
							<div class="fakemsg-div" style="width: 390px;">
								<span style="font-weight: bold">支持人数：</span> 2~5人，最佳人数为4~5人。
							</div>
							<div class="fakemsg-div" style="width: 370px;">
								<span style="font-weight: bold">游戏内容：</span> 共9张身份牌和一些标记。
							</div>
							<div class="fakemsg-div">
								<span style="font-weight: bold">规则综述：</span> 每名玩家扮演侦探，在每轮游戏开始时得知两名不在场玩家的身份。游戏过程中可以调查两名嫌疑人。每轮游戏结束时投出嫌疑人。
								在场的嫌疑人中编号最大的为真凶，但是如果编号为5的嫌疑人在场，则编号最小的玩家为真凶。投错的玩家将获得狗头标记，但若你投错且之后有玩家跟票，则你不会获得狗头标记，且最后一个跟票的玩家获得你本应获得的狗头标记。
							</div>
							<div class="fakemsg-div">
								<span style="font-weight: bold">胜利条件：</span> 游戏一共进行7轮，或当有一名玩家获得5个狗头标记后游戏结束。获得狗头标记最少的玩家获得胜利。
							</div>
						</div>
						
						<div ng-show="gameMode == POPE">
							<div class="fakemsg-div" style="width: 480px;">
								<span style="font-weight: bold">支持人数：</span> 经典版支持2~4人，完整版支持2~6人。
							</div>
							<div class="fakemsg-div" style="width: 440px;">
								<span style="font-weight: bold">游戏内容：</span> 经典版共16张牌，完整版为21张。
							</div>
							<div class="fakemsg-div">
								<span style="font-weight: bold">规则综述：</span> 每名玩家扮演酒店老板，轮流接待不同的客人。玩家每轮开始时抽一张牌，在每回合抽一张牌并打出一张牌。当某回合结束后只有一名玩家在场或牌堆抽完，所有在场玩家展示剩余的手牌。
								手牌声望值最高的玩家将获得一个灵杖。
							</div>
							<div class="fakemsg-div" style="width: 830px;">
								<span style="font-weight: bold">胜利条件：</span> 当一名玩家获得指定数量的灵杖，游戏结束。灵杖数量最多的玩家将获得胜利。
							</div>
							<div class="fakemsg-div" style="width: 180px;">
								<div style="font-weight: bold; float:left">游玩完整版：</div>
								<div style="float:left;height: 30px; width: 30px;background:url('/image/Oink/Pope/not-checked.png'); 
									background-size:cover" ng-show="useDeluxe == false" ng-click="useDeluxe=true;playClickSE();"></div>
								<div style="float:left;height: 30px; width: 30px;background:url('/image/Oink/Pope/checked.png'); 
									background-size:cover" ng-show="useDeluxe == true" ng-click="useDeluxe=false;playClickSE();"></div>
								<div style="clear:both"></div>
							</div>
						</div>
						
						<div ng-show="gameMode == WEST">
							<div class="fakemsg-div" style="width: 360px;">
								<span style="font-weight: bold">支持人数：</span> 2~5人，最佳人数为5人。
							</div>
							<div class="fakemsg-div" style="width: 370px;">
								<span style="font-weight: bold">游戏内容：</span> 共15张牌和一些仙丹标记。
							</div>
							<div class="fakemsg-div">
								<span style="font-weight: bold">规则综述：</span> 每轮游戏在仙丹池中加入一枚仙丹（第7轮为2枚），给每名玩家发一张手牌并展示一张救兵牌。
								每名玩家每轮有一次机会置换手牌或置换中央的救兵牌。在置换结束后可以决定是否下注。所有下注的玩家将支付一枚仙丹（第7轮为2枚）。
								所有玩家决定后，下注的玩家展示手牌，展示手牌中战力最小的玩家可以加上救兵牌的战力。最终战力最大的玩家将获得仙丹池中的仙丹。
							</div>
							<div class="fakemsg-div" style="width: 590px;">
								<span style="font-weight: bold">胜利条件：</span> 游戏一共进行7轮，最后仙丹最多的玩家获得胜利。
							</div>
						</div>
						
						<div ng-show="gameMode == FLIP7">
							<div class="fakemsg-div" style="width: 400px;">
								<span style="font-weight: bold">支持人数：</span> 3~18人，最佳人数为5~6人。
							</div>
						</div>
					</div>
					
					<div style="border-top: 1px groove lightgrey; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;">
						<button ng-click="gameMode = STARTUPS; playMsgSE()" ng-disabled="gameMode == STARTUPS">{{gameName[STARTUPS]}}</button>
						<button ng-click="gameMode = GROVE; playMsgSE()" ng-disabled="gameMode == GROVE">{{gameName[GROVE]}}</button>
						<button ng-click="gameMode = POPE; playMsgSE()" ng-disabled="gameMode == POPE">{{gameName[POPE]}}</button>
						<button ng-click="gameMode = WEST; playMsgSE()" ng-disabled="gameMode == WEST">{{gameName[WEST]}}</button>
						<button ng-click="gameMode = FLIP7; playMsgSE()" ng-disabled="gameMode == FLIP7">{{gameName[FLIP7]}}</button>
						
						<button ng-click="chatBox = CHANGESIGNATURE; playClickSE()" ng-show="chatBox != CHANGESIGNATURE" style="float:right; margin-left: 5px;">更换签名</button>
						<button ng-click="chatBox = 0; playClickSE()" ng-show="chatBox == CHANGESIGNATURE" style="float:right; margin-left: 5px;">关闭签名</button>
						<button ng-click="chatBox = CHOOSEAVATAR; playClickSE()" ng-show="chatBox != CHOOSEAVATAR" style="float:right; margin-left: 5px;">更换头像</button>
						<button ng-click="chatBox = 0; playClickSE()" ng-show="chatBox == CHOOSEAVATAR" style="float:right; margin-left: 5px;">关闭头像</button>
					</div>
					<div style="vertical-align: top; height: 200px; padding-top: 5px; padding-left: 10px;">
						<div ng-show="chatBox == CHOOSEAVATAR">
							<div style="height: 60px; width: 60px; margin-right: 5px; float:left; position: relative; cursor:pointer" ng-repeat="avatarStyle in myAvatarStyles track by $index" ng-style="avatarStyle"
								ng-click="chooseAvatar(myAvatars[$index])">
							</div>
						</div>
						<div ng-show="chatBox == CHANGESIGNATURE" style="padding-top: 10px">
							<span>请输入你的签名：</span>
							<input type="text" style="width: 400px;"ng-model="mySignature"/>
							<button ng-click="changeSignature()">提交</button>
						</div>
					</div>
					<div style="text-align: right; height: 70px; padding-top: 5px; padding-right: 10px;">
						<div>
							<button style="width:110px; height: 50px; font-size: 20px" ng-click="start()" ng-show="showStart()">启动！</button>
						</div>
						
					</div>
				</td>
			</tr>
		</table>
		
	</div>
	
</body>