<!DOCTYPE html>
<html></html>		
<head>
<meta charset="UTF-8">
<title>Cosgame Abstract</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/oinkTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/oinkOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/oinkGameController.js"></script>
<style>
body {
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<body ng-app="oinkGameApp" ng-controller="oinkGameCtrl" ng-style="bodyStyle" ng-click="bgm.play()" class="noselect">

	<div ng-show="game==STARTUPS && status != ENDGAME" class="game-div">
		<div style="position: absolute; bottom: 10px; right: 20px;">
			<span style="font-weight: bold; font-size: 80px; color:white">初创公司</span>
		</div>
		<div style="position: absolute; top: 10px; right: 20px;">
			<button ng-click="dismiss()" ng-show="username == lord">解散</button>
			<button ng-click="goto('oink')">退出</button>
		</div>
		<div id="player-zone">
			<div ng-repeat="p in players track by $index" style="float: left;">
				<table>
					<tr>
						<td>
							<table>
								<tr>
									<td rowspan='3'>
										<div style="height: 90px; width: 90px" ng-style="p.account.chosenAvatarStyle"></div>
									</td>
									<td style="padding-left: 10px; width: 160px">
										<span style="font-size: 20px;font-weight: bold; ">{{p.account.nameDisplay}}</span>
									</td>
								</tr>
								<tr>
									<td style="padding-left: 10px; width: 160px">
										<div style="background:url('/image/Oink/Startups/coin.png'); background-size:cover; width: 42px; height: 42px; float:left;
											color: black; font-weight:bold; font-size: 24px;text-align: center;padding-top: 2px">
											{{p.coins}}
										</div>
										<div style="float:right;margin-top: 7px; margin-left: 10px; font-size: 18px; font-weight:bold">
											<span>总分：{{p.scoreDisplay}}</span>
										</div>
									</td>
								</tr>
								<tr>
									<td style="padding-left: 10px">
										<span style="font-size:18px">局分：</span>
										<span ng-show="p.scores.length==0" ng-style="startupsScoreStyle(99999)">-</span>
										<span ng-show="p.scores.length>0" ng-style="startupsScoreStyle(p.scores[0])">{{p.scores[0]}}</span>
										<span ng-show="p.scores.length<2" ng-style="startupsScoreStyle(99999)">-</span>
										<span ng-show="p.scores.length>1" ng-style="startupsScoreStyle(p.scores[1])">{{p.scores[1]}}</span>
										<span ng-show="p.scores.length<3" ng-style="startupsScoreStyle(99999)">-</span>
										<span ng-show="p.scores.length>2" ng-style="startupsScoreStyle(p.scores[2])">{{p.scores[2]}}</span>
										<span ng-show="p.scores.length<4" ng-style="startupsScoreStyle(99999)">-</span>
										<span ng-show="p.scores.length>3" ng-style="startupsScoreStyle(p.scores[3])">{{p.scores[3]}}</span>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="height: 45px">
							<div ng-repeat="a in p.antiMonopoly track by $index" ng-style="a.iconStyle"
								style="float: left; height: 40px; width: 40px;color:red; font-size: 30px; font-family: 'yzgc';text-align: center;" >
								×
							</div>
						</td>
					</tr>
					
					<tr>
						<td style="height: 280px; width: 260px; vertical-align: top">
							<table>
								<tr ng-repeat="b in p.play track by $index" ng-show="b.played>0 || b.fromHand>0">
									<td>
										<div style="position:relative; height: 40px; border-radius:20px" ng-style="b.barColor">
											<div style="float:left; height: 40px; width: 40px;" ng-style="b.iconStyle"></div>
											<div style="float:left; width: 120px; padding-top: 5px; padding-left: 5px; color:white; font-size: 24px; font-family: 'yzgc'">{{b.name}}</div>
											<div style="float:left; width: 80px; padding-top: 5px; padding-right: 20px; color:white; font-size: 24px; font-family: 'yzgc'; text-align: right">
												<span>{{b.played}}</span>
												<span ng-show="b.fromHand != 0">+{{b.fromHand}}</span>
											</div>
										</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					
				</table>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="discard-zone" ng-show="showEndRoundInfo == false">
			<div id="deck" ng-repeat="c in deck track by $index" ng-include="'/view/html/StartupsCard.html'" class="card card-size card-size-discard noselect">
				
			</div>
			
			<div ng-repeat="c in gamedata.discard track by $index" ng-include="'/view/html/StartupsCard.html'" class="card card-size card-size-discard noselect">
				
			</div>
			
		</div>
		<div style="clear:both" ng-show="showEndRoundInfo == false"></div>
		<div style="height: 30px;" ng-show="showEndRoundInfo == false">
			<div ng-show="phase == 2">
				<span>请打出或弃置一张牌</span>
				<button ng-show="chosenCard != -1 && hand[chosenCard].canDiscard" ng-click="discard()">弃置</button>
				<button ng-show="chosenCard != -1" ng-click="play()">打出</button>
			</div>
		</div>
		<div id="hand-zone" style="padding-top: 40px" ng-show="showEndRoundInfo == false">
			<div ng-repeat="c in hand track by $index" ng-include="'/view/html/StartupsCard.html'" class="card card-size card-size-hand noselect" ng-style="c.cstyle" ng-click="clickCard($index)"></div>
		</div>
		<div style="clear:both" ng-show="showEndRoundInfo == false"></div>
		<div id="log-zone" style="overflow-y: scroll;overflow:auto;height: 450px;width: 360px;border: 1px solid; position: absolute; right: 20px; bottom: 150px; 
			background-color: rgba(0,0,0,0.7); color:white; padding: 5px;">
			<div ng-repeat="log in gamedata.logs track by $index">{{log}}</div>
		</div>
		<div ng-include="'/view/html/StartupsEndRound.html'" class="noselect" ng-show="showEndRoundInfo"></div>
	</div>
	
	<div ng-show="game==STARTUPS && status == ENDGAME" class="game-div">
		<div style="font-family: 'yzgc'; text-align:center;">
			<h1>游戏结束</h1>
			<div>
				<table style="width: 800px;margin-left: 500px;">
					<tr>
						<td rowspan="2">
							<div style="height: 150px; width: 150px;" ng-style="gamedata.endGameInfo.winner.chosenAvatarStyle">
							</div>
						</td>
						<td>
							<h2>获胜者：{{gamedata.endGameInfo.winner.name}}</h2>
						</td>
					</tr>
					<tr>
						<td>
							<div style="font-size: 24px">
								感想：{{gamedata.endGameInfo.winner.signature}}
							</div>
						</td>
						
					</tr>
				</table>
			</div>
			
			
			
			<div style="margin-top: 50px;float:left; margin-left: 500px">
				<table class="game-end-table">
					<tr style="color: white; background-color:rgb(0,150,255)">
						<td>名次</td>
						<td>姓名</td>
						<td colspan="4">每轮分数</td>
						<td>总分</td>
					</tr>
					<tr ng-repeat="name in gamedata.endGameInfo.playerNames track by $index">
						<td>{{$index+1}}</td>
						<td>{{name}}</td>
						<td>{{gamedata.endGameInfo.scores[$index][0]}}</td>
						<td>{{gamedata.endGameInfo.scores[$index][1]}}</td>
						<td>{{gamedata.endGameInfo.scores[$index][2]}}</td>
						<td>{{gamedata.endGameInfo.scores[$index][3]}}</td>
						<td style="font-weight:bold">{{gamedata.endGameInfo.finalScore[$index]}}</td>
					</tr>
				</table>
			</div>
			<div style="margin-top: 50px;float:left; vertical-align:top; margin-left: 200px; width: 300px;">
				<h2>你获得了</h2>
				<div ng-repeat="rewardMsg in gamedata.endGameInfo.endGameRewards">{{rewardMsg}}</div>
			</div>
			<div style="clear: both"></div>
		</div>
		
		<div style="width: 1800px; text-align:center; margin-top: 20px">
			<button ng-click="dismiss()" ng-show="username == lord">解散</button>
			<button ng-click="goto('oink')">退出</button>
		</div>
	</div>
	
	<div ng-show="game==GROVE && status != ENDGAME" style="width: 1300px; height: 1070px; background-size:cover;
		background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/image/Oink/Grove/game_bg.png'); ">
		<table>
			<tr>
				<td ng-repeat="i in [0,1,2,3,4]" style="vertical-align:top; height: 150px; width: 260px; border: 2px solid darkslategrey;background-color:lightgrey;">
					<div ng-show="i<players.length">
						<table>
							<tr>
								<td><div style="height: 60px; width: 60px" ng-style="players[i].account.chosenAvatarStyle"></div></td>
								<td style="font-size: 22px;font-family: 'yzgc'; padding-left: 10px">{{players[i].account.nameDisplay}}</td>
							</tr>
							<tr>
								<td colspan="2" style="padding-top: 20px;">
									<div style="float:left;" ng-repeat="l in players[i].liars track by $index">
										<div style="height: 40px; width:40px; background:url('/image/Oink/Grove/doge1.png'); background-size:cover;" ng-show="l==1"></div>
										<div style="height: 40px; width:40px; background:url('/image/Oink/Grove/doge2.png'); background-size:cover;" ng-show="l==2"></div>
									</div>
								</td>
							</tr>
						</table>
						
					</div>
					<div ng-show="i>=players.length">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="vertical-align:top; height:550px;">
					<div style="color: white;font-family: 'yzgc'; font-size: 30px; padding-left: 210px;">
						嫌疑人
					</div>
					
					<table>
						<tr>
							<td ng-repeat="c in gamedata.suspects track by $index" style="vertical-align:top;">
								<div style="position: relative">
									<div ng-include="'/view/html/GroveCard.html'" class="card card-size card-size-discard noselect"
										ng-click="clickCard($index)">
										
									</div>
									<div style="height: 80px; width: 80px; position: absolute; right: 5px; top: 170px; z-index:100;
										background:url('/image/Oink/checked.png'); background-size:cover;" ng-show="chosenRoles[$index] == 1 || chosenCard == $index"
										ng-click="clickCard($index)">
									</div>
								</div>
								<div style="clear:both"></div>
								<div style="height: 30px; color: white;font-family: 'yzgc'; font-size: 20px;padding-left: 30px;">
									<span ng-show="gamedata.murIndex == c.num && c.gender=='男'">凶手就是他！</span>
									<span ng-show="gamedata.murIndex == c.num && c.gender=='女'">凶手就是她！</span>
								</div>
								<div ng-repeat="x in c.predicted track by $index" style="color: white;font-family: 'yzgc'; padding-left: 5px; padding-bottom: 5px;
									font-size: 15px">
									<div style="float:left; height: 35px; width: 35px" ng-style="players[x].account.chosenAvatarStyle"></div>
									<div style="padding-top: 5px; margin-left: 5px">{{players[x].account.nameDisplay}}</div>
									<div style="clear:both"></div>
								</div>
								
							</td>
						</tr>
					</table>
				</td>
				<td rowspan="2" colspan="2" style="vertical-align: top;border: 2px solid darkslategrey;background-color: rgb(25,25,25);">
					<div id="log-zone-grove" style="overflow-y: scroll;overflow:auto; color:white; padding: 5px; height:820px;">
						<div ng-repeat="log in gamedata.logs track by $index">{{log}}</div>
					</div>
					<div>
						<span style="font-weight: bold; font-size: 60px; color:white; padding-left: 260px;">狗头侦探</span>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div>
						<div style="height: 30px;color: white;font-family: 'yzgc';">
							<div ng-show="phase == -1 && status == 1">
								<span>正等待{{players[gamedata.curPlayer].name}}操作</span>
							</div>
							<div ng-show="phase == 1 && status == 1">
								<span>请查看两名嫌疑人</span>
								<button ng-show="showSubmitSuspectButton()" ng-click="play()">查看</button>
							</div>
							<div ng-show="phase == 2 && status == 1">
								<span>请指控一名嫌疑人</span>
								<button ng-show="chosenCard != -1"  ng-click="play()">确认</button>
							</div>
							<div ng-show="status == 2 && gamedata.confirmed==false">
								回合结束，点击确认进入下一回合。<button ng-click="confirmNextRound()">确认</button>
							</div>
							<div ng-show="status == 2 && gamedata.confirmed">
								你已确认，正等待其他玩家确认。
							</div>
						</div>
						<div>
							<table>
								<tr>
									<td colspan="2" style="color: white;font-family: 'yzgc'; font-size: 30px; text-align: center">不在场证明</td>
									<td rowspan="2" style="vertical-align: top; padding-left: 20px;">
										<div style="color: white;font-family: 'yzgc'; margin-bottom: 20px;">
											轮次： {{gamedata.round}} (游戏最多进行8轮)
										</div>
										<div>
											<div style="height: 40px; width:40px; float:left;
												background:url('/image/Oink//Grove/doge1.png'); background-size:cover;"></div>
											<div style="color: white;font-family: 'yzgc'; padding-top: 12px;">&nbsp;:因自己指控错误而获得的狗头标记</div>
											<div style="clear:both;"></div>
										</div>
										<div>
											<div style="height: 40px; width:40px; float:left;
												background:url('/image/Oink//Grove/doge2.png'); background-size:cover;"></div>
											<div style="color: white;font-family: 'yzgc'; padding-top: 12px;">&nbsp;:因其他玩家指控错误而获得的狗头标记</div>
											<div style="clear:both;"></div>
										</div>
										<div style="color: white;font-family: 'yzgc'; margin-top: 20px;">
											揭开真相后，若一名玩家的狗头标记不小于5，游戏会立即结束。
										</div>
										<div style="height: 30px; margin-top: 90px; padding-left: 300px;" ng-show="username == lord">
											<button ng-click="dismiss()">解散</button>
											<button ng-click="goto('oink')">退出</button>
										</div>
										<div style="height: 30px; margin-top: 20px; padding-left: 350px;" ng-show="username != lord">
											<button ng-click="goto('oink')">退出</button>
										</div>
									</td>
								</tr>
								<tr>
									<td ng-repeat="c in gamedata.myOutsiders track by $index">
										<div ng-include="'/view/html/GroveCard.html'" class="card card-size card-size-discard noselect"></div>
										<div style="clear:both"></div>
										<div style="color: white;font-family: 'yzgc'; font-size: 20px; padding-left: 34px;">
											<span ng-show="$index == 0">上家也见过</span>
											<span ng-show="$index == 1">下家也见过</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
				<td>
					
				</td>
			</tr>
		</table>
	</div>
	
	<div ng-show="game==GROVE && status == ENDGAME" style="width: 1080px; height: 1080px; background-size:cover;
		background:linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url('/image/Oink/Grove/end_bg.png'); font-family:'yzgc';color: white;">
		<div style="margin-left: 30px; padding-top: 50px;">
			<h1>游戏结束</h1>
			<table style="font-size: 20px;">
				<tr>
					<td rowspan="2">
						<div ng-style="players[gamedata.rankIndex[0]].account.chosenAvatarStyle" style="width: 100px; height: 100px;"></div>
					</td>
					<td style="padding-left: 20px;">获胜者：{{players[gamedata.rankIndex[0]].name}}</td>
				</tr>
				<tr>
					<td style="padding-left: 20px;">感想：{{players[gamedata.rankIndex[0]].account.signature}}</td>
				</tr>
			</table>
		</div>
		<div>
			<table style="margin-left: 30px; margin-top: 30px; text-align:center;">
				<tr style="border-bottom: 2px solid white">
					<td style="padding: 5px;">名次</td>
					<td style="padding: 5px;">姓名</td>
					<td style="width: 400px;">狗头标记</td>
				</tr>
				<tr ng-repeat="i in gamedata.rankIndex track by $index">
					<td>{{i+1}}</td>
					<td>{{players[i].name}}</td>
					<td style="padding-left: 20px;height: 42px">
						<div style="float:left;" ng-repeat="l in players[i].liars track by $index">
							<div style="height: 40px; width:40px; background:url('/image/Oink/Grove/doge1.png'); background-size:cover;" ng-show="l==1"></div>
							<div style="height: 40px; width:40px; background:url('/image/Oink/Grove/doge2.png'); background-size:cover;" ng-show="l==2"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div style="height:30px"></div>
		<div style="padding-top: 20px; margin-left: 30px;">
			<h2>你获得了</h2>
			<div ng-repeat="rewardMsg in gamedata.endGameRewards">{{rewardMsg}}</div>
		</div>
		<div style="margin-left: 300px; margin-top: 50px;">
			<button ng-click="dismiss()" ng-show="username == lord">解散</button>
			<button ng-click="goto('oink')">退出</button>
		</div>
		
	</div>
	
	<div ng-show="game==POPE && status != ENDGAME">
		保卫教宗
		<div>
		
		</div>
		<div style="height: 60px;">
			<div ng-show="phase == 1" >
				<span>请打出一张手牌</span>
				<button ng-show="chosenCard > -1" ng-click="play()">确定</button>
			</div>
		</div>
		<div>
			<div ng-repeat="c in hand track by $index" ng-include="'/view/html/PopeCard.html'" class="card card-size card-size-hand card noselect"
				ng-click="clickCard($index)" ng-style="c.cstyle">
		</div>
		<div style="clear:both"></div>
		{{gamedata}}
		<button ng-click="dismiss()" ng-show="username == lord">解散</button>
		<button ng-click="goto('oink')">退出</button>
	</div>
</body>