<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Coslash</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/onenightTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/onenightOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/onenightGameController.js"></script>
<body ng-app="onenightGameApp" ng-controller="onenightGameCtrl">
	<button ng-click="goto('onenightcreategame')">back</button>
	<div>
		{{gamedata}}
	</div>
	<div ng-show="status == '1' && lord == username">
		<span ng-repeat="x in rolesSelect track by $index">
			<select ng-model="rolesSelect[$index]">
				<option value=0>村民</option>
				<option value=1>狼人</option>
				<option value=2>预言家</option>
				<option value=3>盗贼</option>
				<option value=4>熊孩子</option>
				<option value=5>帮凶</option>
				
			</select>
		</span>
		<button ng-click="submitRolesSelect()">确定</button>
		<button ng-click="night()" ng-show="canNight == 'y'">天黑</button>
	</div>
	
</body>