<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Onenight</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/onenightTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/onenightOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/onenightGameController.js"></script>
<body ng-app="onenightGameApp" ng-controller="onenightGameCtrl" ng-class="bodyClass">
	<div class="game-div">
		<div ng-show="status == '1'">
			<div style="height:220px">
				<div ng-show="lord == username && rolesThisGame.length>0">
					以下为你选择的本局游戏身份。
					<button ng-click="night()" ng-show="canNight == 'y' && lord == username">开始游戏</button>
				</div>
				<div ng-show="lord != username && rolesThisGame.length>0">
					以下为房主选择的本局游戏身份，不喜勿喷。
				</div>
				<div ng-show="rolesThisGame.length==0">
					房主暂时未选身份，赶紧催他！
				</div>
				<table>
					<tr>
						<td ng-repeat="x in rolesThisGameStyles track by $index">
							<div class="role" ng-style="x">
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div ng-show="lord == username">
				以下为本游戏目前支持的所有身份（按夜晚行动顺序排列）。请选择本局游戏的{{playerNames.length+3}}个身份
				<button ng-disabled="totalSelected != playerNames.length+3" ng-click="submitRolesSelect()">确定</button>
			</div>
			<div ng-show="lord != username">
				以下为本游戏目前支持的所有身份（按夜晚行动顺序排列）。
			</div>
			<div class="allroles-div">
				<table>
					<tr ng-repeat="l in roleChooseIndexes track by $index">
						<td ng-repeat="i in l track by $index">
							<div class="role" ng-style="roleChooseStyles[i]" ng-click="selectRole(i)">
								<div class="target" ng-show="rolesSelect[i] == 1"></div>
								<div class="qsmark">
									<img src="/image/Onenight/qsmark.png" height="18" width="18" ng-click="showRoleChooseImg(i);$event.stopPropagation();"/>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div style="margin-top:10px">
				<button ng-click="goto('onenight')" style="margin-right: 20px;">退出</button>
				<button ng-click="night()" ng-show="canNight == 'y' && lord == username">开始游戏</button>
			</div>
			
			
		</div>
		
		<div ng-show="status == '2' || status == '3' || status == '4' || status == '6' || status == '7'">
			<table style="text-align:center">
				<tr>
					<td ng-repeat="i in indexes">
						<div class="role" ng-style="playerRoleStyles[i]" ng-click="clickPlayerRole(i)">
							<div class="sentinel" ng-show="sentinelIndex == i">
							</div>
							<div class="status" ng-style="playerStatusStyles[i]" ng-show="useStatus == 'y'" ng-click="clickPlayerStatus(i); $event.stopPropagation();">
							</div>
							<div class="status-select" ng-show="(status == '2' || status =='7') && statusSelect[i] == 'y' && confirmed == 'n'">
							</div>
							<div class="target" ng-show="(status == '2' || status =='7') && playerSelect[i] == 'y' && useStatus == 'n' && confirmed == 'n'">
							</div>
							<div class="target-usestatus" ng-show="(status == '2' || status =='7') && playerSelect[i] == 'y' && useStatus == 'y' && confirmed == 'n'">
							</div>
							<div class="exchange" ng-show="playerMarks[i] == '-2'">
							</div>
							<div class="vote" ng-show="voteIndex == i">
							</div>
							<div class="detective" ng-show="detectiveIndex == i  && status == '3'">
							</div>
							<div class="beggar" ng-show="beggarIndex == i">
							</div>
							<div class="checked" ng-show="playerMarks[i] == '-3'">
							</div>
						</div>
						<span ng-show="status != '4'">
							{{playerDisplayNames[i]}}
						</span>
						<span ng-show="status == '4'">
							{{playerDisplayNames[i]}} 获得{{numVotes[i]}}票
						</span>	
					</td>
				</tr>
			</table>
			
			<table style="margin-top: 10px">
				<tr>
					<td ng-repeat="x in centerRoleStyles track by $index">
						<div class="role" ng-style="x" ng-click="clickCenterRole($index)">
							<div class="target" ng-show="centerSelect[$index] == 'y'">
							</div>
							<div class="exchange" ng-show="centerMarks[$index] == '-2'">
							</div>
							<div class="checked" ng-show="centerMarks[$index] == '-3'">
							</div>
						</div>
					</td>
				</tr>
			</table>
			{{centerZoneMsg}}
			<table style="margin-top: 10px">
				<tr>
					<td ng-repeat="x in rolesThisGameStyles track by $index">
						<div class="role" ng-style="x">
							<div class="qsmark">
								<img src="/image/Onenight/qsmark.png" height="18" width="18" ng-click="showRoleThisGameBigImage($index);$event.stopPropagation();"/>
							</div>
						</div>
					</td>
				</tr>
			</table>
			本局所有身份（按夜晚行动顺序排列）
			<table style="margin-top: 10px">
				<tr>
					<td>
						<table style="text-align:center">
							<tr>
								<td>
									<div class="role" ng-style="myRoleStyle">
										<div class="sentinel" ng-show="sentinelIndex == myIndex"></div>
										<div class="status" ng-style="updatedStatusStyle" ng-show="useStatus == 'y'"></div>
										<div class="qsmark">
											<img src="/image/Onenight/qsmark.png" height="18" width="18" ng-click="showMyInitialBigImage();$event.stopPropagation();"/>
										</div>
									</div>
								</td>
								<td ng-show="showUpdatedRole == 'y'">
									<div class="role" ng-style="updatedRoleStyle">
										<div class="status" ng-style="finalStatusStyle" ng-show="useStatus == 'y' && showFinalStatus == 'y'"></div>
										<div class="detective" ng-show="detectiveIndex == myIndex && status == '3'"></div>
										<div class="qsmark">
											<img src="/image/Onenight/qsmark.png" height="18" width="18" ng-click="showMyUpdatedBigImage();$event.stopPropagation();"/>
										</div>
									</div>
								</td>
								<td ng-show="showUpdatedRole == 'n'">
									<div class="role"></div>
								</td>
							</tr>
							<tr>
								<td>初始身份</td>
								<td ng-show="showUpdatedRole == 'y' && status != '4'">最后看到身份</td>
								<td ng-show="showUpdatedRole == 'y' && status == '4'">最终身份</td>
								<td ng-show="showUpdatedRole == 'n'"></td>
							</tr>
						</table>
					</td>
					<td style="width: 20px">&nbsp;</td>
					<td>
						<p ng-repeat="msg in centerMsg" style="margin: 5px">{{msg}}</p>
					</td>
				</tr>
			</table>
			<button ng-click="goto('onenight')" style="margin-right: 185px;">退出</button>
			<button ng-show="(status == '2' || status == '7') && confirmed != 'y' && showConfirmed && initialRole !== 'r17' && initialRole !== 'r60'" ng-click="confirmNight()">确认</button>
			
			<button ng-show="(status == '7') && confirmed != 'y' && showConfirmed && initialRole == 'r17'" ng-click="confirmNight()">确认</button>
			<button ng-show="(status == '2') && confirmed != 'y' && showConfirmed && initialRole == 'r17'" ng-click="idiotNight(0)">不变化</button>
			<button ng-show="(status == '2') && confirmed != 'y' && showConfirmed && initialRole == 'r17'" ng-click="idiotNight(1)">左移一顺位</button>
			<button ng-show="(status == '2') && confirmed != 'y' && showConfirmed && initialRole == 'r17'" ng-click="idiotNight(2)">右移一顺位</button>
			
			<button ng-show="(status == '2') && confirmed != 'y' && showConfirmed && initialRole == 'r60'" ng-click="confirmNight()">确认</button>
			<button ng-show="(status == '7') && confirmed != 'y' && showConfirmed && initialRole == 'r60'" ng-click="idiotNight(1)">传染左侧</button>
			<button ng-show="(status == '7') && confirmed != 'y' && showConfirmed && initialRole == 'r60'" ng-click="idiotNight(2)">传染右侧</button>
			
			<button ng-show="(status == '3' || status == '6') && voted != 'y'" ng-click="forfeitVote()">弃权</button>
			<button ng-show="(status == '3' || status == '6') && voted != 'y' && voteIndex != -1" ng-click="confirmVote()">投票</button>
			<button ng-show="status == '4' && lord == username" ng-click="restart()">再来一局</button>
			
		</div>
	</div>
	
	
	<div ng-show="showBigImage" ng-style="bigImageDivStyle" ng-click="unshowBigImage()"  style="clear:both">
		<div ng-style="bigImageStyle">
			
		</div>
	</div>
	
</body>