<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Coslash</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/onenightTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/onenightOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/onenightGameController.js"></script>
<body ng-app="onenightGameApp" ng-controller="onenightGameCtrl">
	<button ng-click="goto('onenightcreategame')">back</button>
	<div>
		{{gamedata}}
	</div>
</body>