<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokerworld</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokerworldTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokerworldOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/pokerworldGameController.js"></script>
<style>
body {
	background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('/image/Pokerworld/game_bg.png');
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<body ng-app="pokerworldGameApp" ng-controller="pokerworldGameCtrl">
	<div style="height: 30px"></div>
	<div id="wizard" ng-click="playBGM()"
		style="margin-left: 50px; width: 2000px; height: 800px; background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ); border-radius: 10px; position: relative" ng-show="gameMode == WIZARD">
		<div id="players-area">
			<table>
				<tr>
					<td ng-repeat="p in players track by $index">
						<div ng-style="highlightStyle(curPlayer == $index)" style="border-radius:10px; padding-top:5px; padding-left: 10px">
							<table>
								<tr>
									<td style="width: 85px; padding-left: 10px"><img src="/image/Pokerworld/start.png" style="height:30px" ng-show="firstPlayer == $index"></td>
									<td style="width: 115px; padding-right: 10px"><span style="font-weight: bold; font-size: 18px">{{p.name}}</span></td>
								</tr>
								<tr>
									<td>下注墩数：</td>
									<td>{{p.bidDisplay}}</td>
								</tr>
								<tr>
									<td>实际墩数：</td>
									<td>{{p.actualDisplay}}</td>
								</tr>
								<tr>
									<td>当前分数：</td>
									<td><span ng-class="p.scoreDisplayClass" style="font-weight: bold">{{p.scoreDisplay}}</span></td>
								</tr>
								<tr>
									<td colspan="2"; style="text-align:center">
										<div style="padding-left: 53px; height: 135px">
											<div class="card-play-wizard card-size noselect" ng-repeat="c in p.played track by $index" ng-include="'/view/html/WizardCard.html'"  ng-class="c.color" ng-style="c.cstyle"></div>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2"; style="height: 35px;text-align:center">
										<span ng-show="curPlayer == $index" style="font-size: 24px">&#11165;</span>
									</td>
								</tr>
							</table>
						</div>
						
					</td>
				</tr>
			</table>
		</div>
		<div id="public-area" style="padding-left: 10px;">
			<table>
				<tr>
					<td style="vertical-align: top; width: 300px">
						<div>
							<table>
								<tr>
									<td colspan="2" style="font-size: 24px; font-weight:bold">{{roundDisplay}}</td>
								</tr>
								<tr>
									<td style="width: 90px">最大点数:</td>
									<td style="text-align: left">{{biggestRankDisplay}}</td>
								</tr>
								<!-- 
								<tr>
									<td>当前花色:</td>
									<td>{{currentSuit}}</td>
								</tr>
								 -->
							</table>
						</div>
					</td>
					<td style="text-align:center;">
						<div style="height: 30px">
							<div ng-show="trump.length == 1">本轮主花色</div>
							<div ng-show="trump.length == 0">本轮没有主花色</div>
						</div>
						<div style="height: 150px">
							<div class="card-play-wizard card-size noselect" ng-repeat="c in trump track by $index" ng-include="'/view/html/WizardCard.html'"  ng-class="c.color" ng-style="c.cstyle"></div>
						</div>
					</td>
					<td style="vertical-align: top;padding-left: 10px; width: 600px">
						<div>
							<span><img src="/image/Pokerworld/wizard.png" style="height:60px"></span>
							<span>决定主花色时被翻出的巫师数量：</span>
							<span style="font-weight:bold">{{gamedata.numWzRevealed}}</span>
							
						</div>
						<div>
							<span><img src="/image/Pokerworld/jester.png" style="height:60px"></span>
							<span>决定主花色时被翻出的小丑数量：</span>
							<span style="font-weight:bold">{{gamedata.numJeRevealed}}</span>
						</div>
						<div>
							注：面杀决定主花色时，会翻出牌堆顶的牌直至翻出非巫师或非小丑牌。由于翻出巫师或小丑为重要信息，所以需要显示因此被翻出的巫师和小丑张数。
						</div>
					</td>
					<td style="text-align:right">
						<div style="margin: 5px"><button ng-click="scoreTableSwitch(true)">积分表</button></div>
						<div style="margin: 5px"><button ng-click="mute()">{{muteButton}}</button></div>
						<div style="margin: 5px"><button ng-click="muteSE()">{{muteSEButton}}</button></div>
						<div style="margin: 5px"><button ng-click="goto('pokerworld')">退出游戏</button></div>
						<div style="margin: 5px"><button ng-show="status == PREENDGAME && username == lord" ng-click="dismiss()">解散游戏</button></div>
					</td>
				</tr>
			</table>
		</div>
		<div id="personal-area" style="padding-left: 10px;">
			<div id="personal-info" style="height: 70px; width: 800px">
				<div id="bid-info" ng-show="(status == BIDTRICKS || status == SCORING)">
					<div ng-show="(status == BIDTRICKS || status == SCORING) && round == players[myIndex].bids.length+1 && myIndex == curPlayer">
						<div>请下注你本轮的墩数(0~{{round}})：</div>
						<div>
							<button ng-click="changeBid(-100)">0墩</button>
							<button ng-disabled="numTrick == 0" ng-click="changeBid(-1)">-</button>
							{{numTrick}}
							<button ng-disabled="numTrick == round" ng-click="changeBid(1)">+</button>
							<button ng-click="changeBid(100)">最大</button>
							<button ng-click="bidWizard()">提交</button>
						</div>
					</div>
					<div ng-show="(status == BIDTRICKS || status == SCORING) && myIndex != curPlayer">正等待其他玩家下注。</div>
				</div>
				<div style="height: 30px">
					<div ng-show="status == CONFIRMROUNDTURN">
						回合结束，{{players[winPlayer]["name"]}}吃了一墩，下回合第一个出牌。
					</div>
				</div>
				
				<div id="play-card-info" ng-show="status == CONFIRMROUNDTURN || status == PLAYCARDS">
					<span ng-show="curPlayer != myIndex">现在不是你的回合</span>
					<span ng-show="curPlayer == myIndex">请选择你要出的牌</span>
					<button ng-show="curPlayer == myIndex && chosenCard != -1" ng-click="play()">打出</button>
				</div>
			</div>
			<div id="hand" class="hand-size">
				<div class="card-hand card-size noselect" ng-repeat="c in hand track by $index" ng-include="'/view/html/WizardCard.html'"  ng-class="c.color" ng-style="c.cstyle" ng-click="clickCard($index)"></div>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
	
	<div style="position:absolute; top:0px; left: 0px; width: 100%; height: 100%; background-color: grey" ng-show="showScoreTable">
		<table style="width: 100%">
			<tr><td style="height: 30px"></td></tr>
			<tr><td style="text-align:center"><h2>积分表</h2></td></tr>
			<tr><td style="height: 10px"></td></tr>
			<tr><td style="display: flex;align-items: center;align-content: center;"><div ng-include="'/view/html/wizardTable.html'" style="margin: 0 auto;"></div></td></tr>
			<tr><td style="height: 20px"></td></tr>
			<tr><td style="display: flex;align-items: center;align-content: center;"><div  style="margin: 0 auto;"><button ng-click="scoreTableSwitch(false)">退出</button></div></td></tr>
		</table>
		
		
	</div>
	
	
	<!-- 
	{{gamedata}}
	 -->
	
	
	
	<!-- 
	<div ng-show="status == PREENDGAME">
		游戏结束
		<button ng-click="confirmEndGame()" ng-show="username == lord">解散</button>
	</div>
	 -->
	
	
	<!-- 
	<div>
		{{gamedata}}
		
	</div>
	<div>
		{{hand}}
	</div>
	 -->
	<!-- 
	<div class="table-div">
		<div class="player-div" ng-repeat="i in indexSequence">
			<div class="played-card-div">
				<div class="card-play card-play-size noselect" ng-repeat="c in players[i].played track by $index" ng-class="c.color">
					<div class="rank-play" ng-show="c.rank != 'joker' && c.rank != '10'">
						{{c.rank}}
					</div>
					<div class="rank-10-play" ng-show="c.rank == '10'">
						{{c.rank}}
					</div>
					<div class="joker-play" ng-show="c.rank == 'joker'">
						<div class="joker-play-letter">L</div>
						<div class="joker-play-letter">C</div>
						<div class="joker-play-letter">D</div>
						<div class="joker-play-letter">S</div>
					</div>
					<div class="suit-play" ng-show="c.rank != 'joker'">
						{{c.suit}}
					</div>
					<div class="suit-big-play" ng-show="c.rank != 'joker'">
						{{c.suit}}
					</div>
					<div class="joker-big-play" ng-show="c.rank == 'joker'">
					</div>
				</div>
			</div>
			<div class="player-name">{{players[i].name}}</div>
		</div>
	</div>
	<div style="clear:both">
		<span ng-show="status == '3'">进攻方得分：{{attackerPointsGained}}</span>
	</div>
	<div style="clear:both">
		<span ng-show="status == '3' && curPlayer == myIndex">请出牌</span>
		<button ng-click="resetChosen()" ng-show="status == '3' && curPlayer == myIndex">重选</button>
		<button ng-click="play()" ng-show="status == '3' && curPlayer == myIndex" ng-disabled="disablePlay()">打出</button>
		<button ng-click="endDistribute()" ng-show="status == '1' && showEndDistribute && confirmed == false">结束摸牌</button>
		<button ng-click="resetChosen()" ng-show="status == '2' && curClaimedPlayer == myIndex">重选</button>
		<button ng-click="confirmHide()" ng-show="status == '2' && curClaimedPlayer == myIndex" ng-disabled="disableHide">确认底牌</button>
		<span ng-show="status == '2' && curClaimedPlayer != myIndex">正等待{{players[curClaimedPlayer].name}}埋底牌。</span>
		<span ng-show="status == '3' && curPlayer != myIndex && curPlayer != -1">现在不是你的回合。</span>
		<span ng-show="status == '1' && showEndDistribute && confirmed">你已确认，正等待其他玩家确认。</span>
		<div ng-show="status == '3' && curPlayer == -1">
			<span ng-show="winPlayer == myIndex">本轮结束，你的牌型最大，下一轮第一个出牌</span>
			<span ng-show="winPlayer != myIndex">本轮结束，{{players[winPlayer].name}}的牌型最大，下一轮第一个出牌</span>
			<button ng-click="confirmEndTurn()" ng-show="confirmedNextTurn == false">确认</button>
			<div ng-show="confirmedNextTurn">你已确认，正等待其他玩家确认</div>
		</div>
	</div>
	<div style="margin-left: 60px; margin-top: 80px">
		<div class="card-hand card-size noselect" ng-repeat="c in hand track by $index" ng-show="(status != '1' || showCard[$index])" ng-class="c.color" ng-click="clickCard($index)">
			<div class="card-hand-select card-size" ng-show="c.chosen == 1">
			</div>
			<div class="rank-hand" ng-show="c.rank != 'joker' && c.rank != '10'">
				{{c.rank}}
			</div>
			<div class="rank-10-hand" ng-show="c.rank == '10'">
				{{c.rank}}
			</div>
			<div class="joker-hand" ng-show="c.rank == 'joker'">
				<div class="joker-hand-letter">L</div>
				<div class="joker-hand-letter">C</div>
				<div class="joker-hand-letter">D</div>
				<div class="joker-hand-letter">S</div>
			</div>
			<div class="suit-hand" ng-show="c.rank != 'joker'">
				{{c.suit}}
			</div>
			<div class="suit-big-hand" ng-show="c.rank != 'joker'">
				{{c.suit}}
			</div>
			<div class="joker-big-hand" ng-show="c.rank == 'joker'">
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
	<div ng-show="gameMode == SFSJ">
		<div ng-show="status == '1'">
			<h4>抢主</h4>
			<div ng-show="dominantRankSuits['s'] > numDominant" class="claim-button black noselect" ng-click="claimDominant('s', dominantRankSuits['s'])">&spades;</div>
			<div ng-show="dominantRankSuits['s'] <= numDominant" class="claim-button claim-button-disabled noselect">&spades;</div>
			<div ng-show="dominantRankSuits['h'] > numDominant" class="claim-button red noselect" ng-click="claimDominant('h', dominantRankSuits['h'])">&hearts;</div>
			<div ng-show="dominantRankSuits['h'] <= numDominant" class="claim-button claim-button-disabled noselect">&hearts;</div>
			<div ng-show="dominantRankSuits['c'] > numDominant" class="claim-button black noselect" ng-click="claimDominant('c', dominantRankSuits['c'])">&clubs;</div>
			<div ng-show="dominantRankSuits['c'] <= numDominant" class="claim-button claim-button-disabled noselect">&clubs;</div>
			<div ng-show="dominantRankSuits['d'] > numDominant" class="claim-button red noselect" ng-click="claimDominant('d', dominantRankSuits['d'])">&diams;</div>
			<div ng-show="dominantRankSuits['d'] <= numDominant" class="claim-button claim-button-disabled noselect">&diams;</div>
		</div>
		<div ng-show="status == '1'">
			<h4 ng-show="curClaimedPlayer == -1 || curClaimedPlayer >= 4">没有人抢主</h4>
			<h4 ng-show="curClaimedPlayer >= 0 && curClaimedPlayer < 4">{{players[curClaimedPlayer].name}}抢了 <span ng-class="dominantSuitDisplayClass" style="font-size:30px">{{dominantSuitDisplay}}</span>
			（共<b>{{numDominant}}</b>张）</h4>
		</div>
		{{dominantRankSuits}}
	</div>
	 -->
	
	
	
</body>
</html>