<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokerworld</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokerworldTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokerworldOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/pokerworldGameController.js"></script>
<body ng-app="pokerworldGameApp" ng-controller="pokerworldGameCtrl">
	<button ng-click="goto('pokerworld')">back</button>
	<div>
		<div class="card-hand noselect" ng-repeat="c in cardDisplay" ng-class="c.color">
			<div class="rank-hand" ng-show="c.rank != 'joker' && c.rank != '10'">
				{{c.rank}}
			</div>
			<div class="rank-10-hand" ng-show="c.rank == '10'">
				{{c.rank}}
			</div>
			<div class="joker-hand" ng-show="c.rank == 'joker'">
				<div class="joker-hand-letter">L</div>
				<div class="joker-hand-letter">C</div>
				<div class="joker-hand-letter">D</div>
				<div class="joker-hand-letter">S</div>
			</div>
			<div class="suit-hand" ng-show="c.rank != 'joker'">
				{{c.suit}}
			</div>
			<div class="suit-big-hand" ng-show="c.rank != 'joker'">
				{{c.suit}}
			</div>
			<div class="joker-big-hand" ng-show="c.rank == 'joker'">
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
	{{gamedata}}
	<!-- 
	<button ng-click="addbot()">add bot</button>
	<button ng-click="startGame()">start game</button>
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	 -->
	<div>
	</div>
</body>
</html>