<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokewhat</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatOther.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatGame.css">
</head>

<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/pokewhatGameController.js"></script>

<body ng-app="pokewhatGameApp" ng-controller="pokewhatGameCtrl">
	<div class="game-container" ng-click="playBGM()">
		<table>
			<tr>
				<td ng-style="otherTdStyle" ng-repeat="i in otherIndexes">
					<div class="avatar-frame">
						<table>
							<tr><td class="avatar-frame-td avatar-frame-name">{{playerNames[i]}}</td></tr>
							<tr><td class="avatar-frame-td">得分：{{scores[i]}}</td></tr>
							<tr><td>&nbsp;</td></tr>
							<tr><td><div class="avatar-big layer-2" ng-style="avatarStyles[i]"></div></td></tr>
						</table>
					</div>
					<div class="pm-frame layer-1">
						<div class="pm-div" ng-style="pmStyles[i]"></div>
					</div>
					<div class="card-small-placeholder">
						<div class="card-small inline-block" ng-repeat="(y,x) in allCardsStyles[i] track by y"
							ng-style="x">
							
						</div>
						
					</div>
					<div class="poke-info-bar">
						<div class="poke-info-name-ancient">
							<table>
								<tr>
									<td style="width: 230px" ng-show="pmNames[i] != null">{{pmNames[i]}}</td>
									<td style="width: 230px" ng-show="pmNames[i] == null">???</td>
									<td><span ng-show="playerAncients[i]!='0'"><span class="card-logo">A</span>×{{playerAncients[i]}}</span></td>
								</tr>
							</table>
						
						</div>
						<div>
							<table class="hp-bar">
								<tr>
									<td class="hp-bar-single" ng-style="hpBarStyle[i][0]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[i][1]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[i][2]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[i][3]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[i][4]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[i][5]"></td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>
					<div class="avatar-frame">
						<table>
							<tr><td class="avatar-frame-td avatar-frame-name">{{playerNames[myIndex]}}</td></tr>
							<tr><td class="avatar-frame-td">得分：{{scores[myIndex]}}</td></tr>
							<tr><td>&nbsp;</td></tr>
							<tr><td><div class="avatar-big layer-2" ng-style="avatarStyles[myIndex]"></div></td></tr>
						</table>
					</div>
					<div class="pm-frame layer-1">
						<div class="pm-div" ng-style="pmStyles[myIndex]"></div>
					</div>
					
					<div class="poke-info-bar">
						<div class="poke-info-name-ancient">
							<table>
								<tr>
									<td style="width: 230px" ng-show="pmNames[myIndex] != null">{{pmNames[myIndex]}}</td>
									<td style="width: 230px" ng-show="pmNames[myIndex] == null">???</td>
									<td><span ng-show="playerAncients[myIndex]!='0'"><span class="card-logo">A</span>×{{playerAncients[myIndex]}}</span></td>
								</tr>
							</table>
						
						</div>
						<div>
							<table class="hp-bar">
								<tr>
									<td class="hp-bar-single" ng-style="hpBarStyle[myIndex][0]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[myIndex][1]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[myIndex][2]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[myIndex][3]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[myIndex][4]"></td>
									<td class="hp-bar-single" ng-style="hpBarStyle[myIndex][5]"></td>
								</tr>
							</table>
						</div>
					</div>
				</td>
				<td class="moves-placeholder" ng-show="status == 1">
					<table style="width: 100%">
						<tr>
							<td style="text-align:center">轮次</td>
							<td style="text-align:center">回合</td>
							<td style="text-align:center">摸牌堆数量</td>
							<td style="text-align:center">原始牌数量</td>
							<td colspan="8">弃牌</td>
							
						</tr>
						<tr class="card-logo-placeholder">
							<td style="text-align:center">{{round}}</td>
							<td style="text-align:center">{{turn}}</td>
							<td style="text-align:center">{{deckSize}}</td>
							<td style="text-align:center">{{ancientSize}}</td>
							<td class="discard-td" ng-repeat="x in playedCards track by $index" ng-show="$index != 0">
								<span class="card-logo" ng-repeat="(i,z) in x track by i">{{z}}</span>
							</td>
						</tr>
					</table>
					<table>
						<tr>
							<td>技能牌</td>
							<td>原始牌</td>
						</tr>
						<tr>
							<td class="hand-placeholder">
								<div class="card-small-placeholder">
									<div class="card-small inline-block" ng-repeat="(y,x) in allCardsStyles[myIndex] track by y"
										ng-style="x">
										
									</div>
								</div>
							</td>
							<td>
								<div class="card-small-placeholder">
									<div class="card-small inline-block" ng-repeat="(y,x) in ancientStyles track by y"
										ng-style="x">
										
									</div>
								</div>
							</td>
						</tr>
					</table>
					<span ng-show="status == 1 && phase != 1">现在不是你的回合</span>
					<span ng-show="status == 1 && phase == 1 && lastMove == -1">请使用技能</span>
					<span ng-show="status == 1 && phase == 1 && lastMove != -1">你可以使用技能或结束回合</span>
					<div ng-show="allCards[myIndex].length > 0">
						<div class="card-big inline-block moves-card" ng-repeat="x in moveStyles track by $index" ng-style="x" ng-class="moveClasses[$index]"
							 ng-click="useMove($index+1)" ng-disabled="phase != 1 || $index+1 < lastMove">
							<div class="qsmark">
								<img src="/image/Pokewhat/qsmark.png" height="18" width="18" ng-click="showMoveBigImage($index+1);$event.stopPropagation();"/>
							</div>
						</div>
					</div>
					<div ng-show="allCards[myIndex].length == 0">
						<div class="card-big enabled-move inline-block moves-card" ng-click="useMove(0)" ng-style="moveStyleZero">
							<div class="qsmark">
								<img src="/image/Pokewhat/qsmark.png" height="18" width="18" ng-click="showMoveBigImage(0);$event.stopPropagation();"/>
							</div>
						</div>
					</div>
				</td>
				<td class="moves-placeholder" ng-show="status == 3">
					<table>
						<tr ng-show="phase == 1">
							<td>请选择你的宝可梦</td>
						</tr>
						<tr ng-show="phase != 1">
							<td>正等待其他玩家选择宝可梦</td>
						</tr>
						<tr ng-show="phase == 1">
							<td ng-repeat="x in pmToChoose track by $index" style="text-align: center">
								<div class="ptc-background" ng-click="choosePm($index)">
									<div class="ptc" ng-style="pmToChooseStyles[$index]">
										
									</div>
								</div>
								<div class="ptc-name">{{pmToChooseNames[$index]}}</div>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<div id="logs" class="logs">
						<p ng-repeat="log in logs track by $index" style="margin-bottom: 0px;margin-top: 0px;">{{log}}</p>
					</div>
					<div>
						<span style="width: 203px; float:left">
							<button ng-click="endTurn()"
								ng-show="status == 1 && phase == 1 && lastMove != -1">结束回合</button>
							<button ng-click="botNextMove()" ng-show="status == 1 && username == lord && phase != 1">Bot行动</button>
							<button ng-click="botChoosePm()" ng-show="status == 3 && phase != 1 && username == lord && hasBot">Bot选择宝可梦</button>
							&nbsp;
						</span>
						<span>
							<button ng-click="mute()">{{muteButton}}</button>
							<button ng-click="goto('pokewhat')">退出</button>
						</span>
						
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div ng-show="showBigImage" ng-style="bigImageDivStyle" ng-click="unshowBigImage()"  style="clear:both">
		<div ng-style="bigImageStyle">
			
		</div>
	</div>
</body>
</html>