<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokewhat</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/pokewhatGameController.js"></script>
<body ng-app="pokewhatGameApp" ng-controller="pokewhatGameCtrl">
	<button ng-click="goto('pokewhat')">back</button>
	<p>{{gamedata}}</p>
</body>
</html>