<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokewhat</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatTheme.css">

</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/pokewhatMainController.js"></script>
<body ng-app="pokewhatMainApp" ng-controller="pokewhatMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<button style="padding-top: 0px; color: rgb(249,51,24); font-size: 24px; background-color:white">宝可纳尼</button>
		<button ng-click="goto('gravepsycho')">盗墓惊魂</button>
		<!-- 
		<button ng-click="goto('index')">Home</button>
		<button ng-click="goto('citadels')">Citadels</button>
		<button style="padding-top: 0px; color: blue; font-size: 24px; background-color:white">Coslash</button>
		<button ng-click="goto('dominion')">Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button ng-click="goto('minigame')">Minigames</button>
		<button>Others</button>
		 -->
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">规则</a>
				    </li>
				  </ul>
			</div>
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>游戏</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>状态</td>
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
				</div>
				<div id="rulestab" class="content container tab-pane fade">
					<h2><b>规则</b></h2>
					<table>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokewhatheader"><b>背景</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 一年一度的宝可梦冠军杯今年又双叒叕开始了。根据规则，每名参赛者租用一只主办方提供的宝可梦来参加竞赛以获得年度冠军。
								你与全国著名的参赛者抵达了赛场，决赛蓄势待发。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 忽然，天空中传来一声厚重的响指声，而后又是一道强光，你与其他参赛者和其它观众都昏了过去。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “……喂……醒醒”，不知过了多久，朦胧中你听到其它参赛者把你叫醒。
								你观察了一下周围，似乎你也没有晕倒多久，所有人似乎也都安然无恙。此时，现场的广播响起了：</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “……是邪神<b>增田顺二</b>的响指，他让每个宝可梦都忘记了自己的技能。”</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 观众们议论纷纷，毕竟入场的门票费用价值不菲，他们十分害怕自己吃土攒来的门票钱都打了水漂。主持人则接着说道：</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “观众盆友们莫慌，组委会经研究决定，比赛照常进行！我们会提供给每个参赛宝可梦<b>随机技能晶石</b>让他们学习技能。
								为纪念这次突发情况，今年冠军杯的名字为<span class="pokewhattext">宝可纳尼</span>杯。”</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 现场掌声雷动，组委会提供的宝可梦们也欢呼雀跃，<b>固拉多</b>更是高兴地<b>展翅高飞</b>，<b>翱翔天际</b>。
								然而你和其他参赛者迷茫了，你们的宝可图鉴<span class="pokewhattext">只能提供对手的宝可梦信息</span>，自己的宝可梦会什么技能<span class="pokewhattext">只能靠猜的了</span>。
								无论如何，硬着头皮上吧，为了现场的观众，也为了自己一年以来的努力。</br>
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokewhatheader"><b>游戏人数</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支持2~5人，3、4人游戏体验最佳。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokewhatheader"><b>游戏内容</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏一共包含36张<span class="pokewhattext">技能牌</span>以及生命标记和分数标记。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokewhatheader"><b>游戏设置</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每名玩家在游戏正式开始前选择自己的形象以及<span class="pokewhattext">宝可梦</span>。
								这些选择仅为贴图，不会影响游戏流程。房主可以任意指定开始玩家。建议最近玩过<span class="pokewhattext">宝可梦</span>主系列游戏的玩家先开始行动。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokewhatheader"><b>游戏流程</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一局游戏由若干<span class="pokewhattext">轮次</span>。
								每一<span class="pokewhattext">轮次</span>开始时进行相应的设置，而后每一名玩家依顺序进行若干<span class="pokewhattext">回合</span>。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokewhatheader"><b>轮次开始设置</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;将所有的<span class="pokewhattext">技能牌</span>洗匀。发给每名玩家5张<span class="pokewhattext">技能牌</span>。
								从剩余牌中暗置4张牌，称为<span class="pokewhattext">原始牌</span>。若游戏人数为2人，随机抽取12张<span class="pokewhattext">技能牌</span>弃置并明置。若游戏人数为3人则弃置并明置6张。
								剩余未弃置和未暗置的牌组成摸牌堆。每名玩家获得6点<span class="pokewhattext">生命值</span>。每名玩家可以看到其他角色的所有<span class="pokewhattext">技能牌</span>，但无法看到自己的<span class="pokewhattext">技能牌</span>。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokewhatheader"><b>回合流程</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每名玩家在回合开始后须使用一个<span class="pokewhattext">技能</span>。若玩家有相对应的<span class="pokewhattext">技能牌</span>，
								则发动该<span class="pokewhattext">技能牌</span>的效果并将相应的技能牌弃置。若玩家没有相对应的<span class="pokewhattext">技能牌</span>，则玩家受到惩罚。如无特殊说明，则玩家的<span class="pokewhattext">生命值</span>减少1。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若玩家成功使用一个<span class="pokewhattext">技能</span>且没有任何玩家的<span class="pokewhattext">生命值</span>为0，该玩家可以立即结束回合或继续使用技能，结算规则如上。
								从该玩家使用该回合使用的第二个<span class="pokewhattext">技能</span>起，该玩家使用的<span class="pokewhattext">技能</span>编号不得小于该玩家前一个使用的<span class="pokewhattext">技能</span>的编号。
								关于<span class="pokewhattext">技能</span>的介绍和效果请参见<b>技能介绍</b>章节。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若玩家使用<span class="pokewhattext">技能</span>失败，在执行惩罚后若<span class="pokewhattext">生命值</span>不为0，立即结束回合。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每名玩家每回合须至少使用一个<span class="pokewhattext">技能</span>，本回合未使用<span class="pokewhattext">技能</span>则不能结束回合。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每名玩家在回合结束后从摸牌堆中将自己的<span class="pokewhattext">技能牌</span>补至5张。若摸牌堆没有牌则不补充。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若一名玩家在一回合内成功弃置（使用完）所有<span class="pokewhattext">技能牌</span>，该玩家对其余所有玩家造成6点伤害（并结束本轮次）。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokewhatheader"><b>轮次结束</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当一名玩家的<span class="pokewhattext">生命值</span>降为0，该轮次立即结束。生命值为0的玩家不获得分数。成功击杀其他玩家的玩家（一般为当前行动的玩家）获得3分。
								其余其他玩家获得1分。除此之外，所有<b>存活</b>的玩家额外获得与自身拥有<span class="pokewhattext">原始牌</span>相等数量的分数。关于<span class="pokewhattext">原始牌</span>的介绍请参见<b>技能介绍</b>章节。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一个轮次结束后，若没有玩家的分数大于等于8，则进行下一轮次。下一轮次的起始玩家为本轮次最后一个回合玩家的下一个玩家。</br>
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokewhatheader"><b>游戏结束</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当一个轮次结束后，若至少有一名玩家的分数大于等于8，则游戏结束。得分最高的玩家获胜。若平手，则最后一轮得分最高的玩家获胜。
								若依然平手，则最后一轮剩余<span class="pokewhattext">生命值</span>高的玩家获胜。若依然平手，则共同获胜。</br>
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokewhatheader"><b>技能介绍</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每一个<span class="pokewhattext">技能</span>有相对应的编号，代表该<span class="pokewhattext">技能</span>的数量。
								一名玩家从回合内第二次使用<span class="pokewhattext">技能</span>起，该玩家使用的<span class="pokewhattext">技能</span>编号须大于等于本回合使用的前一个<span class="pokewhattext">技能</span>的编号。
								如该玩家第一个使用的<span class="pokewhattext">技能</span>为4号，则第二个使用的<span class="pokewhattext">技能</span>编号只能为4~8号。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本回合第一个使用的<span class="pokewhattext">技能</span>编号无限制。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;除<span class="pokewhattext">龙星群</span>外的任何<span class="pokewhattext">技能</span>使用失败都会对自己造成1点伤害。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下为各<span class="pokewhattext">技能</span>的效果说明。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button ng-click="showedCard='1'" ng-disabled="showedCard == '1'">龙星群</button>
								<button ng-click="showedCard='2'" ng-disabled="showedCard == '2'">死亡之翼</button>
								<button ng-click="showedCard='3'" ng-disabled="showedCard == '3'">月光</button>
								<button ng-click="showedCard='4'" ng-disabled="showedCard == '4'">原始之力</button>
								<button ng-click="showedCard='5'" ng-disabled="showedCard == '5'">十万伏特</button>
								<button ng-click="showedCard='6'" ng-disabled="showedCard == '6'">冰冻光束</button>
								<button ng-click="showedCard='7'" ng-disabled="showedCard == '7'">喷射火焰</button>
								<button ng-click="showedCard='8'" ng-disabled="showedCard == '8'">生命水滴</button>
							</td>
						</tr>
					</table>
					
					<table ng-show="showedCard == '1'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Pokewhat/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 龙星群</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若成功使用该技能，则对所有其他玩家随机造成1~3点伤害。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若使用失败，则对自身随机造成1~3点伤害。
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == '2'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Pokewhat/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 死亡之翼</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若成功使用该技能，则对所有其他玩家随机造成1点伤害，且自身回复1点<span class="pokewhattext">生命值</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pokewhattext">生命值</span>的上限为6。
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == '3'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Pokewhat/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 月光</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若成功使用该技能，则自身随机回复1~3点<span class="pokewhattext">生命值</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pokewhattext">生命值</span>的上限为6。
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == '4'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Pokewhat/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 原始之力</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若成功使用该技能，则获得一张<span class="pokewhattext">原始牌</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;只有你知道获得的<span class="pokewhattext">原始牌</span>的编号及效果。
								本轮游戏结束时若你仍然存活，你每有一张<span class="pokewhattext">原始牌</span>则额外获得1分。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本轮游戏结束时若你的生命值为0，则<span class="pokewhattext">原始牌</span>不会给你提供额外的分数。</br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == '5'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Pokewhat/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 十万伏特</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若成功使用该技能，则对前一个行动的玩家和后一个行动的玩家各造成1点伤害。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2人游戏时，成功使用该牌只会对对方造成1点伤害（而不是2点）。
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == '6'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Pokewhat/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 冰冻光束</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若成功使用该技能，则对后一个行动的玩家造成1点伤害。
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == '7'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Pokewhat/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 喷射火焰</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若成功使用该技能，则对前一个行动的玩家造成1点伤害。
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == '8'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Pokewhat/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 生命水滴</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若成功使用该技能，则自身回复1点<span class="pokewhattext">生命值</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pokewhattext">生命值</span>的上限为6。
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>