<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokewhat</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/pokewhatGameController.js"></script>
<body ng-app="pokewhatGameApp" ng-controller="pokewhatGameCtrl">
	<button ng-click="goto('pokewhat')">back</button>
	<div>
		<p>Round: {{round}}</p>
		<p>Turn: {{turn}}</p>
		<p>{{playedCards}}</p>
		<p>Deck size: {{deckSize}}</p>
		<p>Ancient Size: {{ancientSize}}</p>
	</div>
	<div>
		<table>
			<tr ng-repeat="pn in playerNames track by $index">
				<td>{{pn}}</td>
				<td>hp: {{hp[$index]}}</td>
				<td>score: {{scores[$index]}}</td>
				<td>
					<button ng-repeat="(y,x) in allCards[$index] track by y" disabled>{{x}}</button>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<button ng-click="endTurn()" ng-disabled="phase != 1 || lastMove == 0">End Turn</button>
		<button ng-click="botNextMove()" ng-disabled="phase == 1" ng-show="username == lord">Bot Next Move</button>
	</div>
	<div>
		<button ng-repeat="x in moves" ng-click="useMove(x)" ng-disabled="phase != 1 || x < lastMove">{{x}}</button>
	</div>
	<div>
		Ancient:
		<button ng-repeat="x in ancient track by $index">{{x}}</button>
	</div>
</body>
</html>