<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokewhat</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/pokewhatCreateGameController.js"></script>
<style>
body {
	background: url('/image/Pokewhat/create_bg.png');
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<body ng-app="pokewhatCreateGameApp" ng-controller="pokewhatCreateGameCtrl">
	<audio autoplay loop>
		<source src="/sound/Pokewhat/create_game_bgm.mp3" type="audio/mpeg"></src>
	</audio>
	<div class="create-div">
		
		<div class="players-waiting-div">
			<table>
				<tr ng-repeat="pn in playerNames track by $index">
					<td>
						<div class="player-avatar-div">
							<div class="avatar-small" ng-style="playerAvatarStyles[$index]">
								
							</div>
							<div class="name-tag-div">
								<span>{{pn}}</span>
							</div>
						</div>
						
					</td>
					<td style="padding-left: 20px">
						<div>
							<button ng-show="username == lord && curPlayer != $index" ng-click="changeFirstPlayer($index)">设为起始玩家</button>
							<span ng-show="curPlayer == $index" style="color: white"><b>起始玩家</b></span>
						</div>
						<div>&nbsp;</div>
						<div>
							<button ng-show="username == lord && pn != lord" ng-click="kick($index)">踢</button>
						</div>
						
					</td>
				</tr>
			</table>
		</div>
		<div class="choose-avatar-div">
			<h2 style="color: white">更换形象</h2>
			<table style="margin-top: 40px">
				<tr ng-repeat="(x,i) in avatarTableRows track by x">
					<td ng-repeat="(y,j) in avatarTableCols track by y">
						<div class="avatar-choose" ng-style="avatarStyles[i*7+j]" ng-click="changeAvatar(i*7+j)">
							
						</div>
					</td>
				</tr>
			</table>
			
			
			<div style="padding-top: 40px;">
				<div>
					<span style="color: white">目标分数：</span>
					<span style="color: white" ng-show="username != lord">{{gameEndScore}}</span>
					<button ng-click="setGameEndScore(8)" ng-show="username == lord" ng-disabled="gameEndScore == '8'">8</button>
					<button ng-click="setGameEndScore(10)" ng-show="username == lord" ng-disabled="gameEndScore == '10'">10</button>
					<button ng-click="setGameEndScore(12)" ng-show="username == lord" ng-disabled="gameEndScore == '12'">12</button>
					<button ng-click="setGameEndScore(14)" ng-show="username == lord" ng-disabled="gameEndScore == '14'">14</button>
					<button ng-click="setGameEndScore(16)" ng-show="username == lord" ng-disabled="gameEndScore == '16'">16</button>
				</div>
				<div style="padding-top: 10px;">
					<button ng-click="goto('pokewhat')">退出</button>
					<button ng-click="addBot()" ng-show="username == lord">添加bot</button>
					<button ng-click="startGame()" ng-show="username == lord">开始</button>
					<button ng-click="dismiss()" ng-show="username == lord">解散</button>
				</div>
				
			</div>
		</div>
	</div>
	
	
</body>
</html>