<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokerworld</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokerworldTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokerworldOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/pokerworldGameController.js"></script>
<body ng-app="pokerworldGameApp" ng-controller="pokerworldGameCtrl">
	<button ng-click="goto('pokerworld')">back</button>
	<div style="height: 135px" >
		<div ng-repeat="p in players">
			<div class="card-play card-size noselect" ng-repeat="c in p.played track by $index" ng-class="c.color" ng-click="clickCard($index)">
				<div class="rank-hand" ng-show="c.rank != 'joker' && c.rank != '10'">
					{{c.rank}}
				</div>
				<div class="rank-10-hand" ng-show="c.rank == '10'">
					{{c.rank}}
				</div>
				<div class="joker-hand" ng-show="c.rank == 'joker'">
					<div class="joker-hand-letter">L</div>
					<div class="joker-hand-letter">C</div>
					<div class="joker-hand-letter">D</div>
					<div class="joker-hand-letter">S</div>
				</div>
				<div class="suit-hand" ng-show="c.rank != 'joker'">
					{{c.suit}}
				</div>
				<div class="suit-big-hand" ng-show="c.rank != 'joker'">
					{{c.suit}}
				</div>
				<div class="joker-big-hand" ng-show="c.rank == 'joker'">
				</div>
			</div>
		</div>
		
	</div>
	
	<div style="clear:both">
		<button ng-click="resetChosen()" ng-show="status == '3'">重选</button>
		<button ng-click="play()" ng-show="status == '3'">打出</button>
		<button ng-click="endDistribute()" ng-show="status == '1' && showEndDistribute">结束摸牌</button>
	</div>
	<div style="margin-left: 60px; margin-top: 80px">
		<div class="card-hand card-size noselect" ng-repeat="c in hand track by $index" ng-class="c.color" ng-click="clickCard($index)">
			<div class="card-hand-select card-size" ng-show="c.chosen == 1">
			</div>
			<div class="rank-hand" ng-show="c.rank != 'joker' && c.rank != '10'">
				{{c.rank}}
			</div>
			<div class="rank-10-hand" ng-show="c.rank == '10'">
				{{c.rank}}
			</div>
			<div class="joker-hand" ng-show="c.rank == 'joker'">
				<div class="joker-hand-letter">L</div>
				<div class="joker-hand-letter">C</div>
				<div class="joker-hand-letter">D</div>
				<div class="joker-hand-letter">S</div>
			</div>
			<div class="suit-hand" ng-show="c.rank != 'joker'">
				{{c.suit}}
			</div>
			<div class="suit-big-hand" ng-show="c.rank != 'joker'">
				{{c.suit}}
			</div>
			<div class="joker-big-hand" ng-show="c.rank == 'joker'">
			</div>
		</div>
	</div>
	<div style="clear:both"></div>
	<!-- 
	{{gamedata}}
	 -->
	<!-- 
	<button ng-click="addbot()">add bot</button>
	<button ng-click="startGame()">start game</button>
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	 -->
	<div>
	</div>
</body>
</html>