<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokerworld</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokerworldTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokerworldOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/pokerworldMainController.js"></script>
<body ng-app="pokerworldMainApp" ng-controller="pokerworldMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-repeat="tab in allTabs" ng-click="goto(tab.path)" ng-style="tab.style">{{tab.name}}</button>
	</div>
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#accounttab" ng-click="showTablesTab()">小镇</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#wizardrulestab" ng-click="hideTablesTab()">神机妙算规则</a>
				    </li>
				  </ul>
			</div>
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>扑克世界</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>模式</td>
							<td>状态</td>
							
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{gameModes[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
				</div>
			
			
				
				<div id="accounttab" class="content container tab-pane">
					<h1>小镇</h1>
					<div style="background-image:url('/image/Pokerworld/town.png'); background-size:cover; height: 600px; width: 960px; position: relative" class="noselect">
						<!-- 
						<div style="position:absolute; left: 10px; top: 10px">
							<button>+</button>
							<button>-</button>
						</div>
						 -->
						<div class="account-info">
							<table>
								<tr>
									<td>
										<div class="account-category">
											<img src="/image/Pokerworld/coin.png">
											<span>{{accountInfo.money}}</span>
										</div>
									</td>
									<td>
										<div class="account-category">
											<img src="/image/Pokerworld/diamond.png">
											<span>{{accountInfo.diamond}}</span>
										</div>
									</td>
									<td>
										<div class="account-category">
											<img src="/image/Pokerworld/chest.png">
											<span>{{accountInfo.key}}</span>
										</div>
									</td>
								</tr>
							</table>
						</div>
						
						<div ng-click="openPlace('mine')" class="town-place" style="left: 420px; bottom: 100px;" ng-show="shownPlace == ''">
							矿场
						</div>
						<div ng-click="openPlace('home')" class="town-place" style="left: 120px; bottom: 120px;" ng-show="shownPlace == ''">
							自宅
						</div>
						<div ng-click="openPlace('locksmith')" class="town-place" style="right: 270px; bottom: 110px;" ng-show="shownPlace == ''">
							开锁店
						</div>
						
						<div ng-click="openPlace('market')" class="town-place" style="right: 140px; bottom: 110px;" ng-show="shownPlace == ''">
							市集
						</div>
						<!-- 
						<div ng-click="openPlace('belltower')" class="town-place" style="left: 220px; top: 90px;" ng-show="shownPlace == ''">
							钟楼
						</div>
						 -->
						<div class="place-div" ng-show="shownPlace != ''">
							<img ng-src="/image/Pokerworld/{{shownPlace}}.jpg" class="place-img">
							
							<div ng-show="shownPlace == 'home'" class="place-content">
								<h3>自宅</h3>
								<div>
									<span ng-repeat="sc in skinCategories track by $index">
										<button ng-click="showSkins($index)" ng-disabled="shownSkins == $index">{{sc}}</button>
									</span>
									<span>
										点击选择你要在游戏中使用的皮肤
									</span>
								</div>
								<div style="height: 10px"></div>
								<div>
									<div ng-repeat="ss in skins track by $index" ng-show="shownSkins == $index">
										<div ng-repeat="c in ss track by $index" style="float:left; position:relative" ng-click="clickSkinCard(c)">
											<div class="card-play-wizard card-size card-size-news noselect" ng-include="'/view/html/WizardCard.html'" ng-class="c.color" ng-style="c.cstyle" style="zoom: 65%;">
												
											</div>
											<div style="clear:both; position: absolute; top: 0px; color: white; font-weight:bold; -webkit-text-stroke: 1px black; font-size: 22px; zoom: 65%; width:95px; text-align:center; z-index:200">
												{{c.name}}
											</div>
											<div style="position: absolute; right: 0px; bottom: 0px; ng-show="c.chosen">
												<img style="width:30px; height:30px;" src="/image/Pokerworld/checked.png" ng-show="c.chosen"/>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							
							
							
							<div ng-show="shownPlace == 'mine'" class="place-content">
								<h3>矿场</h3>
								<div ng-show="showReward == false && loadingReward == false && accountInfo.money>=88" ng-click="dig()" 
									class="dig-button">
									<span>挖掘（花费88</span>
									<img src="/image/Pokerworld/coin.png">
									<span>)</span>
								</div>
								<div ng-show="showReward == false && loadingReward == false && accountInfo.money<88" 
									style="width:360px; left: 150px; bottom: 50px;position: absolute;text-align:center;font-size: 21px;">
									<span>挖掘需要花费88</span>
									<img src="/image/Belltower/coin.png" style="height: 40px; width:40px;">
									<span>，你的钱不够。</span>
								</div>
								<div ng-show="loadingReward" class="digging">
									<div>
										<img src="/image/Pokerworld/mining.gif" style="height: 153px; width: 270px;"/>
									</div>
									<div>
										正在挖掘。。。
									</div>
								</div>
								<div ng-show="showReward" class="digging">
									<div ng-repeat = "c in digCards" ng-show="rewardType == 's'" style="padding-left: 40px;">
										<div class="card-play-wizard card-size card-size-news noselect" ng-include="'/view/html/WizardCard.html'" ng-class="c.color" ng-style="c.cstyle"></div>
									</div>
									<div ng-show="rewardType != 's'">
										<img ng-src="{{rewardImg}}" class="icon"/>
									</div>
									<div>{{rewardMsg}}</div>
									<button ng-click="showReward = false">谢谢</button>
								</div>
							</div>
							
							<div ng-show="shownPlace == 'locksmith'" class="place-content">
								<h3>开锁店</h3>
								<div ng-show="showReward == false && loadingReward == false && accountInfo.money>=1 && accountInfo.key>=1" ng-click="openChest()" 
									class="open-chest-button">
									<span>打开一个宝箱（花费1</span>
									<img src="/image/Pokerworld/coin.png">
									<span>)</span>
								</div>
								<div ng-show="showReward == false && loadingReward == false && accountInfo.key<1" 
									style="width:360px; left: 150px; bottom: 50px;position: absolute;text-align:center;font-size: 21px;">
									<span>你没有宝箱，巧妇难为无米之炊。</span>
								</div>
								<div ng-show="showReward == false && loadingReward == false && accountInfo.key>=1 && accountInfo.money<1" 
									style="width:360px; left: 150px; bottom: 50px;position: absolute;text-align:center;font-size: 21px;">
									<span>打开宝箱只需花费1</span>
									<img src="/image/Belltower/coin.png" style="height: 40px; width:40px;">
									<span>，你连这都出不起，真是滑天下之大稽。</span>
								</div>
								<div ng-show="loadingReward" class="opening">
									<div>
										<img src="/image/Belltower/chest.gif" style="height: 153px; width: 270px;"/>
									</div>
								</div>
								<div ng-show="showReward" class="in-chest">
									<h4>你获得了</h4>
									<table>
										<tr>
											<td ng-show = "rewardMsgSkin != ''" style="align-items:center;align-content: center;">
												<div ng-repeat = "c in chestCards" style="padding-left: 15px;">
													<div class="card-play-wizard card-size card-size-news noselect" ng-include="'/view/html/WizardCard.html'" ng-class="c.color" ng-style="c.cstyle" style="zoom: 95%;"></div>
												</div>
												<div>{{rewardMsgSkin}}</div>
											</td>
											<td ng-repeat="rewardImg in rewardImgs track by $index">
												<div>
													<img ng-src="{{rewardImg}}" class="icon"/>
												</div>
												<div>{{rewardMsgs[$index]}}</div>
											</td>
										</tr>
									</table>
									<button ng-click="showReward = false">谢谢</button>
								</div>
							</div>
							
							<div ng-show="shownPlace == 'market'" class="place-content">
								<h3>市集</h3>
								<div></div>
								<div>
									<table>
										<tr style="height: 20px"><td></td></tr>
										<tr>
											<td rowspan="3" ng-repeat="c in shopSkins track by $index" style="vertical-align: top;">
												<div ng-show="emptySkins[$index] == false">
													<div class="card-play-wizard card-size card-size-news noselect" ng-include="'/view/html/WizardCard.html'" ng-class="c.color" ng-style="c.cstyle" style="zoom: 110%;margin-left: 5px">
														
													</div>
													<div style="position: absolute; top: 70px; color: white; font-weight:bold; -webkit-text-stroke: 1px black; font-size: 24px; width:116px; text-align:center; z-index:200">
														{{c.name}}
													</div>
												</div>
												
												<div ng-show="emptySkins[$index]" style="padding-top:75px; padding-bottom: 20px">
													<img src="/image/Pokerworld/soldout.png" style="width: 120px">
												</div>
												
												<div style="padding-left:30px;" ng-show="emptySkins[$index]"	>
													已售罄
												</div>
												
												<div ng-show="accountInfo.money>=233 && $index == 0 && emptySkins[$index] == false" ng-click="buy(8201)" class="shop-button" style="padding-left:5px; width: 130px">
													<span>购买（233</span>
													<img src="/image/Pokerworld/coin.png" style="height: 25px;">
													<span>)</span>
												</div>
												<div ng-show="accountInfo.money<233 && $index == 0 && emptySkins[$index] == false" style="padding-left:20px">
													<span>需要233</span>
													<img src="/image/Pokerworld/coin.png" style="height: 25px;">
												</div>
												<div ng-show="accountInfo.diamond>=3 && $index == 1	&& emptySkins[$index] == false" ng-click="buy(8202)" class="shop-button">
													<span>购买（3</span>
													<img src="/image/Pokerworld/diamond.png" style="height: 25px;">
													<span>)</span>
												</div>
												<div ng-show="accountInfo.diamond<3 && $index == 1 && 												emptySkins[$index] == false" style="padding-left:20px">
													<span>需要3</span>
													<img src="/image/Pokerworld/diamond.png" style="height: 25px;">
												</div>
												<div ng-show="accountInfo.diamond>=17 && $index == 2 && 												emptySkins[$index] == false" ng-click="buy(8203)" class="shop-button">
													<span>购买（17</span>
													<img src="/image/Pokerworld/diamond.png" style="height: 25px;">
													<span>)</span>
												</div>
												<div ng-show="accountInfo.diamond<17 && $index == 2	&& 												emptySkins[$index] == false" style="padding-left:20px">
													<span>需要17</span>
													<img src="/image/Pokerworld/diamond.png" style="height: 25px;">
												</div>
											</td>
											<td>
												<div style="padding-left: 20px; float:left">
													<img src="/image/Pokerworld/coin.png" class="shop-coin">
													<span>×100</span>
												</div>
												<div style="float:left; margin-left: 10px">
													<div ng-show="accountInfo.diamond>=1" ng-click="buy(8001)" class="shop-button" style="padding-left:10px">
														<span>购买（1</span>
														<img src="/image/Pokerworld/diamond.png">
														<span>)</span>
													</div>
													<div ng-show="accountInfo.diamond<1" style="padding-left:20px">
														<span>需要1</span>
														<img src="/image/Belltower/diamond.png" style="height: 25px;">
													</div>
												</div>
											</td>
											
										</tr>
										<tr>
											<td>
												<div style="padding-left: 20px; float:left">
													<img src="/image/Pokerworld/coin.png" class="shop-coin">
													<span>×550</span>
												</div>
												<div style="float:left; margin-left: 10px">
													<div ng-show="accountInfo.diamond>=5" ng-click="buy(8005)" class="shop-button" style="padding-left:10px">
														<span>购买（5</span>
														<img src="/image/Pokerworld/diamond.png">
														<span>)</span>
													</div>
													<div ng-show="accountInfo.diamond<5" style="padding-left:20px">
														<span>需要5</span>
														<img src="/image/Belltower/diamond.png" style="height: 25px;">
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div style="padding-left: 20px;	float:left">
													<img src="/image/Pokerworld/coin.png" class="shop-coin">
													<span>×1200</span>
												</div>
												<div style="float:left; margin-left: 10px">
													<div ng-show="accountInfo.diamond>=10" ng-click="buy(8010)" class="shop-button">
														<span>购买（10</span>
														<img src="/image/Pokerworld/diamond.png">
														<span>)</span>
													</div>
													<div ng-show="accountInfo.diamond<10" style="padding-left:20px">
														<span>需要10</span>
														<img src="/image/Belltower/diamond.png" style="height: 25px;">
													</div>
												</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
							
							
							
							<div style="position: absolute; top: 30px; right: 30px">
								<button ng-click="closePlace()">离开</button>
							</div>
						</div>
					</div>
					<!-- 
					<div>
						<button ng-click="dailyReward()">每日奖励</button>
						<button ng-click="cleanAccount()">清空</button>
					</div>
					
					<div>
						{{accountInfo}}
					</div>
					 -->
				</div>
				
				
			
				
				<div id="wizardrulestab" class="content container tab-pane fade">
					<h2><b>神机妙算规则</b></h2>
					<table>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>背景</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 一个有<span class="pokerworldtext">吃墩</span>机制的扑克游戏能有什么背景。。。</br>
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>游戏人数</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支持3~6人，4、5人游戏体验最佳。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>游戏内容</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏一共包含60张牌，其中4种花色的牌各13张（与扑克牌相同），以及<span class="pokerworldtext">巫师</span>和<span class="pokerworldtext">小丑</span>牌各4张。</br>
								</p>
							</td>
						</tr>
						
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>游戏流程</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一局游戏由若干<span class="pokerworldtext">轮次</span>组成。轮次的数量等于60除以玩家的数量。
								每一<span class="pokerworldtext">轮次</span>开始时进行相应的设置，之后进行若干<span class="pokerworldtext">回合</span>，每一<span class="pokerworldtext">回合</span>每名玩家按顺序出一张牌。游戏开始时选择一名初始玩家。
								游戏结束时<b>得分最多</b>的玩家获得胜利。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokerworldtext"><b>轮次开始设置</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;给每名玩家发X张牌，X为当前的轮数。若牌库还有牌剩余，翻开牌堆顶的牌直到翻开的牌不是<span class="pokerworldtext">巫师</span>或<span class="pokerworldtext">小丑</span>。
								该牌的花色称之为<span class="pokerworldtext">主花色</span>。
								所有玩家查看手牌后按出牌顺序从初始下注当前<span class="pokerworldtext">轮次</span>能够<span class="pokerworldtext">吃墩</span>的次数。
								所有玩家下注结束后开始当前<span class="pokerworldtext">轮次</span>的第一<span class="pokerworldtext">回合</span>。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokerworldtext"><b>回合流程</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每名玩家按行动顺序依次打出一张牌。初始玩家可以打出任意牌，之后其他玩家若有和初始玩家相同花色的牌则必须打出一张相同花色的牌或<span class="pokerworldtext">巫师</span>与<span class="pokerworldtext">小丑</span>。
								若无相同花色的牌则可以打出任意的牌。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;比较大小时，<span class="pokerworldtext">巫师</span> <b>></b> <span class="pokerworldtext">主花色</span>的牌 <b>></b> 初始玩家打出的花色（若不为主花色）<b>></b> 其余花色 <b>></b> <span class="pokerworldtext">小丑</span>。花色相同则点数更大的牌更大。
								牌最大的玩家在当回合<span class="pokerworldtext">吃墩</span>。当回合<span class="pokerworldtext">吃墩</span>的玩家为下一<span class="pokerworldtext">回合</span>的初始玩家。
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<div class="card-play-wizard card-size card-size-news noselect" ng-include="'/view/html/WizardCard.html'" ng-repeat="c in wizards"  ng-class="c.color" ng-style="c.cstyle"></div>
							</td>
							<td style="width: 857px; vertical-align:top">
								<h4 class="pokerworldtext">&nbsp;&nbsp;&nbsp;&nbsp; 巫师</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pokerworldtext">巫师</span>是最大的牌。任何时候都可以打出<span class="pokerworldtext">巫师</span>，即使你有与初始玩家打出的牌花色相同的牌。
								若有两张及以上<span class="pokerworldtext">巫师</span>，则最先打出<span class="pokerworldtext">巫师</span>的玩家<span class="pokerworldtext">吃墩</span>。
							</td>
						</tr>
						<tr>
							<td>
								<div class="card-play-wizard card-size card-size-news noselect" ng-include="'/view/html/WizardCard.html'" ng-repeat="c in jesters"  ng-class="c.color" ng-style="c.cstyle"></div>
							</td>
							<td style="width: 857px; vertical-align:top">
								<h4 class="pokerworldtext">&nbsp;&nbsp;&nbsp;&nbsp; 小丑</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="pokerworldtext">小丑</span>是最小的牌。任何时候都可以打出<span class="pokerworldtext">小丑</span>，即使你有与初始玩家打出的牌花色相同的牌。
								打出<span class="pokerworldtext">小丑</span>的玩家几乎不会<span class="pokerworldtext">吃墩</span>，除非所有玩家都打出<span class="pokerworldtext">小丑</span>，在这种情况下，第一个打出小丑的玩家不幸<span class="pokerworldtext">吃墩</span>。
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokerworldtext"><b>轮次结束</b></h5></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有玩家打完当前<span class="pokerworldtext">轮次</span>所有的手牌。当前<span class="pokerworldtext">轮次</span>结束。
								当前<span class="pokerworldtext">轮次</span>开始时下注<span class="pokerworldtext">吃墩</span>次数与当前<span class="pokerworldtext">轮次吃墩</span>次数相等的玩家获得20加上10乘以当前<span class="pokerworldtext">轮次吃墩</span>次数的分数。
								当前<span class="pokerworldtext">轮次</span>开始时下注<span class="pokerworldtext">吃墩</span>次数与当前<span class="pokerworldtext">轮次吃墩</span>次数不相等的玩家减去10乘以当前<span class="pokerworldtext">轮次吃墩</span>次数与当前<span class="pokerworldtext">轮次</span>开始时下注<span class="pokerworldtext">吃墩</span>次数的差的绝对值。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计算完分数后进行新的一个<span class="pokerworldtext">轮次</span>。初始下注和出牌玩家为上一<span class="pokerworldtext">轮次</span>最后一<span class="pokerworldtext">回合吃墩</span>的玩家。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>游戏结束</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最后一个<span class="pokerworldtext">轮次</span>（即发完所有牌的<span class="pokerworldtext">轮次</span>）结束后，游戏结束。<b>得分最多</b>的玩家获得胜利。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>进阶规则</b></h4></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h5 class="pokerworldtext"><b>额外卡牌</b></h5></td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px">
								<button ng-click="shownCardIndex = 0" ng-disabled="shownCardIndex == 0">炸弹</button>
								<button ng-click="shownCardIndex = 1" ng-disabled="shownCardIndex == 1">巨龙</button>
								<button ng-click="shownCardIndex = 2" ng-disabled="shownCardIndex == 2">妖精</button>
								<button ng-click="shownCardIndex = 3" ng-disabled="shownCardIndex == 3">梅林</button>
								<button ng-click="shownCardIndex = 4" ng-disabled="shownCardIndex == 4">站台</button>
								<button ng-click="shownCardIndex = 5" ng-disabled="shownCardIndex == 5">舞厅</button>
							</td>
						</tr>
						<tr ng-show="shownCardIndex == -1">
							<td colspan="2" style="width: 1000px; height: 200px"></td>
						</tr>
						<tr ng-repeat="c in specials track by $index" ng-show="shownCardIndex == $index">
							<td>
								<div class="card-play-wizard card-size card-size-news noselect" ng-include="'/view/html/WizardCard.html'" ng-class="c.color" ng-style="c.cstyle"></div>
							</td>
							<td style="width: 857px; vertical-align:top" ng-show="shownCardIndex == 0">
								<h4 class="pokerworldtext">&nbsp;&nbsp;&nbsp;&nbsp; 炸弹（2024年2月29日上线）</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任何时候都可以打出<span class="pokerworldtext">炸弹</span>，即使你有与初始玩家打出的牌花色相同的牌。<span class="pokerworldtext">炸弹</span>可以视为当前回合最小的牌。打出<span class="pokerworldtext">炸弹</span>的轮次没有玩家会<span class="pokerworldtext">吃墩</span>
								（即当前回合实际<span class="pokerworldtext">吃墩</span>的次数不会增加）。即便如此，本应<span class="pokerworldtext">吃墩</span>（当前回合牌最大）的玩家下回合第一个出牌。
							</td>
							<td style="width: 857px; vertical-align:top" ng-show="shownCardIndex == 1">
								<h4 class="pokerworldtext">&nbsp;&nbsp;&nbsp;&nbsp; 巨龙（2024年2月29日上线）</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任何时候都可以打出<span class="pokerworldtext">巨龙</span>，即使你有与初始玩家打出的牌花色相同的牌。<span class="pokerworldtext">巨龙</span>在一般情况下是最大的牌，甚至比<span class="pokerworldtext">巫师</span>还要大。但若在打出<span class="pokerworldtext">巨龙</span>的同一回合有玩家打出<span class="pokerworldtext">妖精</span>，则当回合结束结算时视<span class="pokerworldtext">妖精</span>为最大的牌。
								使用<span class="pokerworldtext">巨龙</span>的游戏也会使用<span class="pokerworldtext">妖精</span>。
							</td>
							<td style="width: 857px; vertical-align:top" ng-show="shownCardIndex == 2">
								<h4 class="pokerworldtext">&nbsp;&nbsp;&nbsp;&nbsp; 妖精（2024年2月29日上线）</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任何时候都可以打出<span class="pokerworldtext">妖精</span>，即使你有与初始玩家打出的牌花色相同的牌。<span class="pokerworldtext">妖精</span>在一般情况下是最小的牌，甚至比<span class="pokerworldtext">小丑</span>还要小（但是大于<span class="pokerworldtext">炸弹</span>）。但若在打出<span class="pokerworldtext">妖精</span>的同一回合有玩家打出<span class="pokerworldtext">巨龙</span>，则当回合结束结算时视<span class="pokerworldtext">妖精</span>为最大的牌。
								使用<span class="pokerworldtext">妖精</span>的游戏也会使用<span class="pokerworldtext">巨龙</span>。
							</td>
							<td style="width: 857px; vertical-align:top" ng-show="shownCardIndex == 3">
								<h4 class="pokerworldtext">&nbsp;&nbsp;&nbsp;&nbsp; 梅林（2024年10月6日上线）</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任何时候都可以打出<span class="pokerworldtext">梅林</span>，即使你有与初始玩家打出的牌花色相同的牌。在打出<span class="pokerworldtext">梅林</span>前，你决定将该牌视为<span class="pokerworldtext">巫师</span>或<span class="pokerworldtext">小丑</span>。
							</td>
							<td style="width: 857px; vertical-align:top" ng-show="shownCardIndex == 4">
								<h4 class="pokerworldtext">&nbsp;&nbsp;&nbsp;&nbsp; 站台（2024年10月6日上线）</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任何时候都可以打出<span class="pokerworldtext">站台</span>，即使你有与初始玩家打出的牌花色相同的牌。在打出<span class="pokerworldtext">站台</span>前，你决定该牌的花色（可以不为初始玩家打出的花色）。打出<span class="pokerworldtext">站台</span>当回合吃墩的玩家需要强制将预测的墩数增加1或减少1。
							</td>
							<td style="width: 857px; vertical-align:top" ng-show="shownCardIndex == 5">
								<h4 class="pokerworldtext">&nbsp;&nbsp;&nbsp;&nbsp; 舞厅（2024年10月6日上线）</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任何时候都可以打出<span class="pokerworldtext">舞厅</span>，即使你有与初始玩家打出的牌花色相同的牌。在打出<span class="pokerworldtext">梅林</span>前，你决定将该牌视为<span class="pokerworldtext">巫师</span>或<span class="pokerworldtext">小丑</span>。
							</td>
						</tr>
				</div>
			</div>
		</div>
	</div>
</body>
</html>