<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Pokewhat</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/pokewhatTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/pokewhatMainController.js"></script>
<body ng-app="pokewhatMainApp" ng-controller="pokewhatMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<button style="padding-top: 0px; color: rgb(249,51,24); font-size: 24px; background-color:white">宝可纳尼</button>
		<!-- 
		<button ng-click="goto('index')">Home</button>
		<button ng-click="goto('citadels')">Citadels</button>
		<button style="padding-top: 0px; color: blue; font-size: 24px; background-color:white">Coslash</button>
		<button ng-click="goto('dominion')">Dominion</button>
		<button ng-click="goto('mafia')">Mafia</button>
		<button ng-click="goto('minigame')">Minigames</button>
		<button>Others</button>
		 -->
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">规则</a>
				    </li>
				  </ul>
			</div>
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>游戏</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
				</div>
				<div id="rulestab" class="content container tab-pane fade">
					<h2><b>基本规则</b></h2>
					<table>
						<!-- 
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="nothanksheader"><b>背景</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 在一个平行于本世界的另一个世界，有一个岛国名叫彩虹国，该国有个名叫<b>游戏恒大克</b>的公司，以制作该世界最大IP:
								<span class="pokewhattext">宝可纳尼</span>而闻名。到了该世界的2333年，<span class="pokewhattext">宝可纳尼</span>即将发售的作品来到了第28代，宝可纳尼·加 和 宝可纳尼·减。<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 在过去的三年开发周期中，<b>游戏恒大克</b>所有的程序员就公司饮水机的root权限而争执不休，甚至大打出手。
								毕竟一水千金，比起开发<span class="pokewhattext">宝可纳尼</span>而言，饮水机管理员的身份可是重要多了。反正<span class="pokewhattext">宝可纳尼</span>做的再差，玩家也买账。
								最终饮水机root权限被公司最高薪但完全没有开发能力的的百岁老程序猿获得，其它程序员纷纷离职。眼看<span class="pokewhattext">宝可纳尼</span>的配信日期就要到了，整个游戏的开发进程却还不到1%。
								好在<span class="pokewhattext">宝可纳尼</span>的总监<b>增田顺二</b>具有十分强大的公关意识，他立马宣布，本世代只有不到100只<span class="pokewhattext">宝可纳尼</span>回归，没有任何剧情，只提供网络对战。
								
								
								
								</p>
							</td>
						</tr>
						 -->
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>