<div style="height:318px; width: 208px; background-color: darkslategrey; border-radius: 10px">
	<div style="height: 60px; width:60px; border-radius: 30px; border: 1px groove yellow;
		 position: absolute; top: 0px; font-family: 'shxfl';font-size: 35px; padding-left: 20px;" ng-style="c.primaryColor">
		<div style="color: white">{{c.num}}</div>
	</div>
	<div style="height: 40px; margin-top:10px; width: 208px;" ng-style="c.secondaryColor">
		<div style="position: absolute; top:2px; left: 50px; text-align: center; width: 158px;font-size: 35px;font-family: 'shxfl'">{{c.name}}</div>
	</div>
	
	<div style="height: 140px; width: 140px; margin-top: 0px; margin-left: 34px" ng-style="c.avatarStyle">
	</div>
	<div style="height: 110px; line-height: 110px; width: 178px; margin-left: 15px;border-radius: 5px; padding:10px; padding-top: 5px; text-align: center;"
		ng-style="c.secondaryColor">
		<p style="vertical-align: middle;line-height:1.5;display:inline-block;  font-family: 'yzgc'">{{c.description}}</p>
	</div>
</div>
