<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Propnight</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/propnightTheme.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/lib/angular-sanitize.js"></script>
<script src="/js/app/propnightMainController.js"></script>
<body ng-app="propnightMainApp" ng-controller="propnightMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<button ng-click="goto('pokewhat')">宝可纳尼</button>
		<button ng-click="goto('gravepsycho')">盗墓惊魂</button>
		<button ng-click="goto('onenight')">狼人不杀</button>
		<button ng-click="goto('architect')">雕梁画栋</button>
		<!-- 
		<button ng-click="goto('pokerworld')">棋牌世界</button>
		<button ng-click="goto('gardenwar')">花园战争</button>
		 -->
		<button ng-click="goto('threechaodoms')">混沌三国</button>
		<button style="padding-top: 0px; color: darkslategray; font-size: 24px; background-color:white">鬼屋之夜</button>
	</div>
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">规则</a>
				    </li>
				</ul>
			</div>
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>鬼屋之夜</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>状态</td>
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="rulestab" class="content container tab-pane fade">
					<h2><b>规则</b></h2>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>