<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Three Chaodoms</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/propnightTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/propnightOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/propnightGameController.js"></script>
<body ng-app="propnightGameApp" ng-controller="propnightGameCtrl">
	<button ng-click="goto('propnight')">back</button>
	<button ng-click="startGame()">start game</button>
	<!-- 
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	 -->
	
	<div>
		<p ng-repeat="p in players">{{p.name}}</p>
	</div>
	<div id="change role div" ng-show="status == 1">
		<button ng-show="gamedata.myRole != 1" ng-click="changeGhost()">我要当鬼</button>
		<button ng-show="lord == username" ng-click="confirmRoles()">确认身份</button>
	</div>
	<div ng-show="status == 2">
		<table>
			<tr>
				<td ng-repeat="i in [1,2,3,4,5]">
					<div>
						{{i}}
						<div ng-show="(myRole == 0 && phase == 1) || (myRole == 1 && phase == 2)">
							<span ng-show="chosenPlace[i] == 0">未选择</span>
							<button ng-show="chosenPlace[i] == 0" ng-click="clickPlace(i)">选择</button>
							<span ng-show="chosenPlace[i] != 0">已选择</span>
							<button ng-show="chosenPlace[i] != 0" ng-click="clickPlace(i)">取消</button>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td ng-repeat="i in [6,7,8,9,10]">
					<div>
						{{i}}
						<div ng-show="(myRole == 0 && phase == 1) || (myRole == 1 && phase == 2)">
							<span ng-show="chosenPlace[i] == 0">未选择</span>
							<button ng-show="chosenPlace[i] == 0" ng-click="clickPlace(i)">选择</button>
							<span ng-show="chosenPlace[i] != 0">已选择</span>
							<button ng-show="chosenPlace[i] != 0" ng-click="clickPlace(i)">取消</button>
						</div>
						
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div ng-show="phase == 1 || phase == 2">
		<span ng-show="(myRole == 0 && phase == 1) || (myRole == 1 && phase == 2)">请选择{{gamedata.myNumPlaceNextTurn}}个地点</span>
		<span ng-show="(myRole == 0 && phase == 2) || (myRole == 1 && phase == 1)">现在不是你的回合</span>
		<button ng-show="showChoosePlace()" ng-click="submitPlace()" ng-disabled="canSubmitPlace() == false">提交</button>
	</div>
	<div ng-show="phase == 3">
		<span ng-show="confirmed">你已确认，正等待其他玩家确认</span>
		<span ng-show="confirmed == false">回合结束，点击确定结束你的回合</span>
		<button ng-show="confirmed == false" ng-click="confirmReckoning()">确定</button>
	</div>
	<!-- 
	{{chosenPlace}}
	{{gamedata.myNumPlaceNextTurn}}
	 -->
	{{gamedata}}
</body>
</html>