<table>
	<tr>
		<td colspan="2">
			<span style="width:30px">
				<span ng-show="$index == curPlayer" style="font-size:20px; font-weight:bold">&rArr;</span>
			</span>
			<span style="font-size:20px">{{p.name}}</span>
		</td>
	</tr>
	<tr>
		<td>
			<div ng-style="p.avatarOrigin.avatarStyle" style="height:100px; width:100px; postion:relative">
				<div style="position:relative;height:40px; width:40px; padding-top: 55px; padding-left:55px;">
					<div style="height:40px; width:40px;background-image:url('image/Rich/checked.png'); background-size:cover"
						ng-show="curPlayStyle == PLAYSTYLE_CHOOSEPLAYER && chosenPlayer == p.index" ng-click="clickChoosePlayer(p.index)"></div>
					<div style="height:40px; width:40px;background-image:url('image/Rich/not-checked.png'); background-size:cover"
						ng-show="curPlayStyle == PLAYSTYLE_CHOOSEPLAYER && chosenPlayer != p.index" ng-click="clickChoosePlayer(p.index)"></div>
				</div>
				
			</div>
		</td>
		<td style="width: 130px;">
			<div><b>现金：</b>${{p.money}}</div>
			
			<div ng-show="gamedata.settings.useGTA == 1">
				<div style="clear:both; height:3px;"></div>
				<div style="float:left; height: 20px; width: 20px;" 
					ng-repeat="starStyle in p.starDisplay track by $index" ng-style="starStyle"></div>
				<div style="clear:both; height:8px;"></div>
				<div style="float:left; height: 24px; width: 24px;" 
					ng-repeat="hpStyle in p.hpDisplay track by $index" ng-style="hpStyle"></div>
				<div style="clear:both"></div>
				<div>
					{{p.buffs}}
					<!-- 
					<div style="float:left" ng-show="p.buffs[0]>-1">{{p.buffs[0]}}</div>
					 -->
				</div>
			</div>
		</td>
	</tr>
</table>