<div style="background-color: lightgrey; border-radius: 10px 10px 0px 0px;font-size:25px;text-align:center; height: 40px; border-bottom: 2px solid white;
	padding-top:5px; font-family:'tyh'">{{c.name}}</div>
<div ng-style="c.imgStyle" style="height: 126px; width: 126px;margin-left: 41px; 
	border-left: 2px solid white;border-right: 2px solid white;border-bottom: 2px solid white"></div>
<div style="height: 130px; width: 190px; margin-top:10px; margin-left: 9px; border-radius: 10px; text-align:center; border: 2px solid white; padding: 7px;
	 background-color: lightgrey;  font-size:18px;">{{c.desc}}</div>