<div ng-show="g.type==ESTATE">
	{{g.name}}
</div>

<div ng-show="g.type==EMPTY" class="grid-div" style="background-color:LightSkyBlue">
	<div style="padding-top:3px" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 70px; width:70px;margin-left: 25px;margin-top:5px;"></div>
</div>

<div ng-show="g.type==TAX" class="grid-div" style="background-color:LightGoldenRodYellow">
	<div style="padding-top:3px" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 60px; width:60px;margin-left: 30px;"></div>
	<div style="font-size: 14px">{{g.desc}}</div>
</div>

<div ng-show="g.type==STARTPOINT" class="grid-div" ng-style="g.imgStyle" style="background-size:cover;">
	<div style="color: gold" ng-style="g.fontStyle">{{g.name}}</div>
	<div style="font-size: 16px; color: white; font-weight:bold"><span style="font-size:20px;">&#x21E6;&nbsp;&nbsp;</span>由此去</div>
	<div style="font-size: 14px; color: white">{{g.desc}}</div>
</div>

<div ng-show="g.type==FATE" class="grid-div" style="background-color:red">
	<div style="padding-top:3px;color:white" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 70px; width:70px;margin-left: 25px;margin-top:5px;"></div>
</div>

<div ng-show="g.type==JAIL">
	{{g.name}}
</div>

<div ng-show="g.type==GOTOJAIL">
	{{g.name}}
</div>
<!-- 
<div>
	{{g.name}}
</div>
<div ng-show="g.type==ESTATE">
	{{g.level}}/{{g.maxLevel}}
</div>
<div>
	{{g.playersOn}}
</div>
<div ng-show="g.type==ESTATE">
	<span ng-show="g.ownerId != -1">{{g.ownerName}}</span>
</div>
 -->
