<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Rich</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/richCreateGameController.js"></script>
<body ng-app="richCreateGameApp" ng-controller="richCreateGameCtrl">
	富豪游戏
	<div>
		<button ng-click="goto('rich')">退出</button>
		<button ng-click="dismiss()" ng-show="lord == username">解散</button>
		<button ng-click="startGame()" ng-show="lord == username">开始游戏</button>
	</div>
	
	<div>
		<div>
			初始资金:
			<button ng-disabled="startMoney==10000" ng-click="startMoney=10000">10000</button>
			<button ng-disabled="startMoney==15000" ng-click="startMoney=15000">15000</button>
			<button ng-disabled="startMoney==20000" ng-click="startMoney=20000">20000</button>
			<button ng-disabled="startMoney==25000" ng-click="startMoney=25000">25000</button>
		</div>
		
		<div>
			初始收入:
			<button ng-disabled="startSalary==1000" ng-click="startSalary=1000">1000</button>
			<button ng-disabled="startSalary==2000" ng-click="startSalary=2000">2000</button>
			<button ng-disabled="startSalary==2500" ng-click="startSalary=2500">2500</button>
		</div>
		
		<div>
			游戏结束条件:
			<button ng-disabled="endCondition==0" ng-click="endCondition=0">吃鸡模式</button>
			<button ng-disabled="endCondition==1" ng-click="endCondition=1">速战速决</button>
			<button ng-disabled="endCondition==52" ng-click="endCondition=52">52回合</button>
			<button ng-disabled="endCondition==58000" ng-click="endCondition=58000">58同城</button>
		</div>
		
	</div>
</body>
</html>