<table>
	<tr>
		<td colspan="2">
			<span style="width:30px">
				<span ng-show="$index == curPlayer" style="font-size:20px; font-weight:bold">&rArr;</span>
			</span>
			<span style="font-size:20px">{{p.name}}</span>
		</td>
	</tr>
	<tr>
		<td rowspan="2">
			<div ng-style="p.avatarOrigin.avatarStyle" style="height:100px; width:100px; postion:relative">
				<div style="position:relative;height:40px; width:40px; padding-top: 55px; padding-left:55px;">
					<div style="height:40px; width:40px;background-image:url('image/Rich/checked.png'); background-size:cover"
						ng-show="curPlayStyle == PLAYSTYLE_CHOOSEPLAYER && chosenPlayer == p.index" ng-click="clickChoosePlayer(p.index)"></div>
					<div style="height:40px; width:40px;background-image:url('image/Rich/not-checked.png'); background-size:cover"
						ng-show="curPlayStyle == PLAYSTYLE_CHOOSEPLAYER && chosenPlayer != p.index" ng-click="clickChoosePlayer(p.index)"></div>
				</div>
				
			</div>
		</td>
		<td style="width: 130px; vertical-align:top">
			<div><b>总资产：</b>${{p.totalMoney}}</div>
			<div><b>土地数：</b>${{p.estatesCount}}</div>
			<!-- 
			<div><b>现金：</b>${{p.money}}</div>
			<div><b>存款：</b>${{p.saving}}</div>
			<div><b>工资：</b>${{p.salary}}</div>
			 -->
			<div ng-show="gamedata.settings.useGTA == 1">
				<div style="clear:both; height:3px;"></div>
				<div style="float:left; height: 20px; width: 20px;" 
					ng-repeat="starStyle in p.starDisplay track by $index" ng-style="starStyle"></div>
				<div style="clear:both; height:8px;"></div>
				<div style="float:left; height: 24px; width: 24px;" 
					ng-repeat="hpStyle in p.hpDisplay track by $index" ng-style="hpStyle"></div>
				<div style="clear:both"></div>
				<div><b>手牌数： </b>{{p.handSize}}</div>
			</div>
		</td>
		<td style="width: 140px; vertical-align:top" ng-show="gamedata.settings.useGTA == 1">
			<div>
				<div ng-show="p.buffs[0]>-1" style="color:black"><b>掷骰点数: </b>{{p.buffs[0]}}</div>
				<div ng-show="p.buffs[1]>-1" style="color:black"><b>骰子加点: </b>{{p.buffs[1]}}</div>
				<div ng-show="p.buffs[5]>-1" style="color:black"><b>传送: </b>{{map.places[p.buffs[5]].name}}</div>
				<div ng-show="p.buffs[4]>-1" style="color:black"><b>免租回合: </b>{{p.buffs[4]}}</div>
				<div ng-show="p.buffs[2]>-1" style="color: maroon"><b>增伤回合: </b>{{p.buffs[2]}}</div>
				<div ng-show="p.buffs[3]>-1" style="color: darkgreen"><b>精准回合: </b>{{p.buffs[3]}}</div>
				
				<!-- 
				{{p.buffs}}
				<div style="float:left" ng-show="p.buffs[0]>-1">{{p.buffs[0]}}</div>
				 -->
			</div>
		</td>
		
	</tr>
</table>