<div>
	<div style="background-color: lightgrey; border-radius: 10px 10px 0px 0px;font-size:25px;text-align:center; height: 40px; 
		padding-top:5px; font-family:'tyh'" ng-show="c.rarity == 0">{{c.name}}</div>
	<div style="background-color: lightskyblue; border-radius: 10px 10px 0px 0px;font-size:25px;text-align:center; height: 40px; 
		padding-top:5px; font-family:'tyh'" ng-show="c.rarity == 1">{{c.name}}</div>
	<div style="background-color: purple; border-radius: 10px 10px 0px 0px;font-size:25px;text-align:center; height: 40px; 
		padding-top:5px; font-family:'tyh'; color:white" ng-show="c.rarity == 2">{{c.name}}</div>
	<div style="background-color: DarkGoldenRod; border-radius: 10px 10px 0px 0px;font-size:25px;text-align:center; height: 40px; 
		padding-top:5px; font-family:'tyh'; color:white" ng-show="c.rarity == 3">{{c.name}}</div>
</div>

<div ng-style="c.imgStyle" style="height: 122px; width: 122px;margin-left: 43px;"></div>
<div style="height: 132px; width: 190px; margin-top:7px; margin-left: 9px; border-radius: 10px; text-align:center; border: 2px solid white; 
	padding-top: 4px; padding-left: 6px; padding-right: 6px; background-color: lightgrey;  display: inline-block;" 
	ng-style="c.descStyle" ng-bind-html="c.descDisplay"></div>
<div style="height: 30px; width:100px; margin-left: 54px; margin-top:-16px; border: 2px solid white; border-radius: 10px; color: white; background-color:black;
	text-align:center; font-size: 18px; font-family:'tyh'; padding-top: 2px">
	<div ng-show="c.types[0]==true">行动</div>
	<div ng-show="c.types[1]==true">被动</div>
</div>