<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Rich</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/richMainController.js"></script>
<body ng-app="richMainApp" ng-controller="richMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-repeat="tab in allTabs" ng-click="goto(tab.path)" ng-style="tab.style">{{tab.name}}</button>
	</div>
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#accounttab" ng-click="hideTablesTab()">头像</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">基本规则</a>
				    </li>
				    <!-- 
					<li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#gtatab" ng-click="hideTablesTab()">GTA扩展</a>
				    </li>
				     -->
				  </ul>
			</div>
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>富豪游戏</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>地图</td>
							<td>状态</td>
							
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{gameModes[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="accounttab" class="content container tab-pane">
					<h2><b>个人中心</b></h1>
					<h4>选择的头像：{{accountInfo.chosenAvatarEntity.name}}</h4>
					<div ng-style="accountInfo.chosenAvatarEntity.avatarStyle" style="height: 150px; width: 150px;">
					</div>
					<h4>拥有的头像：</h4>
					<div>
						<div style="float:left;width: 100px; text-align:center;" ng-repeat="entity in accountInfo.avatarEntities track by $index">
							<div ng-style="entity.avatarStyle" style="height:100px; width: 100px;cursor:pointer" ng-click="chooseAvatar($index)"></div>
							<div style="clear:both"></div>
							<div>{{entity.name}}</div>
						</div>
					</div>
				</div>
				
				<div id="rulestab" class="content container tab-pane">
					<h2><b>基本规则</b></h2>
					<table>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>背景</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 这是作者本人非常想实现的游戏，最早的想法可以追溯到大约12年前。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>游戏人数</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支持2~4人，最佳人数为3~4人。
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>规则概述</b></h4></td>
						</tr>
						<tr>
							<td colspan="2">
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每名玩家轮流行动。轮到各自的回合，每名玩家掷一次骰子并向前移动相应的步数。到达不同的地点，执行不同的效果
								</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="width: 1000px"><h4 class="pokerworldtext"><b>地点概述</b></h4></td>
						</tr>
					</table>
				</div>
				<div id="gtatab" class="content container tab-pane">
				</div>
			</div>
		</div>
	</div>
</body>
</html>