<div class="player-console" ng-show="status == INGAME">
	<div ng-show="phase == OFFTURN">你在{{gamedata.myCurrentPlace.name}}，现在不是你的回合</div>
	<div ng-show="phase == ROLL && gamedata.inJail">
		<span ng-show="gamedata.settings.useGTA == 0">这是你入狱的第{{gamedata.jailRound}}回合，你可以选择越狱（掷一次骰子，掷到6出狱）或是花费${{map.bailCost}}保释出狱：</span>
		<span ng-show="gamedata.settings.useGTA == 1">这是你入狱的第{{gamedata.jailRound}}回合，你可以选择越狱（掷一次骰子，掷到6出狱，且增加1点通缉值）或是花费${{map.bailCost}}×通缉值保释出狱，同时通缉值清零：</span>
		<button ng-show="chosenCard < 0" ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
		<!-- 
		<button ng-show="chosenCard < 0" ng-repeat="x in [100001,100002,100003,100004,100005,100006] track by $index" ng-click="buttonPress(x)">{{x-100000}}</button>
		 -->
		<button ng-show="chosenCard >= 0 && showPlayButton() && curPlayStyle != PLAYSTYLE_CHOOSEOPTIONS" ng-click="playCard()">打出</button>
		<button ng-show="chosenCard >= 0 && showPlayButton() && curPlayStyle == PLAYSTYLE_CHOOSEOPTIONS" 
			ng-repeat="option in hand[chosenCard].options track by $index" ng-click="playCard($index)">{{option}}</button>
		<button ng-show="chosenCard >= 0" ng-click="throwCard()">丢弃</button>
	</div>
	<div ng-show="phase == ROLL && gamedata.inJail == false">你在{{gamedata.myCurrentPlace.name}}，你的回合开始，请选择一项：
		<button ng-show="chosenCard < 0" ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
		<!-- 
		<button ng-show="chosenCard < 0" ng-repeat="x in [100001,100002,100003,100004,100005,100006] track by $index" ng-click="buttonPress(x)">{{x-100000}}</button>
		 -->
		<button ng-show="chosenCard >= 0 && showPlayButton() && curPlayStyle != PLAYSTYLE_CHOOSEOPTIONS" ng-click="playCard()">打出</button>
		<button ng-show="chosenCard >= 0 && showPlayButton() && curPlayStyle == PLAYSTYLE_CHOOSEOPTIONS" 
			ng-repeat="option in hand[chosenCard].options track by $index" ng-click="playCardOption($index)">{{option}}</button>
		<button ng-show="chosenCard >= 0" ng-click="throwCard()">丢弃</button>
	</div>

	<div ng-show="phase == MOVE">你掷了{{gamedata.lastRolledDisplay}}，将会移动到{{gamedata.myNextPlace}}。
		请选择一项：<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
	</div>
	<div ng-show="phase == RESOLVE">你来到了{{gamedata.myCurrentPlace.name}}，{{gamedata.myLandMsg}}，
		请选择一项：<button ng-show="chosenCard < 0" ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
	</div>
	<div ng-show="phase == ESCAPE">你掷了一个{{gamedata.lastRolled}}，
		<span ng-show="gamedata.inJail == false">越狱成功！</span>
		<span ng-show="gamedata.inJail">越狱失败。</span>
		<span ng-show="gamedata.inJail && gamedata.jailRound == 3 && gamedata.settings.useGTA == 0">因为这是你入狱的第三回合，请支付${{map.bailCost}}保释费出狱。</span>
		<span ng-show="gamedata.inJail && gamedata.jailRound == 3 && gamedata.settings.useGTA == 1">因为这是你入狱的第三回合，请支付保释费${{map.bailCost}}×通缉值出狱。</span>
		<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
	</div>
	<div ng-show="phase == UTILITYPHASE">你来到了{{gamedata.myCurrentPlace.name}}，需要掷一次骰子：
		<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
	</div>
	<div ng-show="phase == STATIONPHASE">你可以移动到其他地点（移动后不能购买且不需支付路费）：
		<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
	</div>
</div>
<div class="player-console" ng-show="status == ENDGAME">游戏结束</div>


<div style="padding-top:30px; margin-left: 20px;">
	<div class="card card-size card-size-discard" ng-repeat="c in gamedata.myHand track by $index" ng-include="'/view/html/richCard.html'"
		 ng-click="clickHand($index)" ng-style="handStyle[$index]"></div>
</div>