<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Rich</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/richGameController.js"></script>
<body ng-app="richGameApp" ng-controller="richGameCtrl">
	<div style="zoom: 1.1">
		<table>
			<tr>
				<td>Special 2</td>
				<td ng-repeat="g in topRow track by $index" class="grid-td">
					<div ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td>Special 3</td>
			</tr>
			<tr ng-if="map.places">
				<td id="players-grid" rowspan="{{map.height-2}}" style="vertical-align:top">
					<div ng-repeat="p in players track by $index">
						{{p.name}}
						{{p.money}}
					</div>
				</td>
				<td class="grid-td">
					<div ng-repeat="g in secondRow[0] track by $index" ng-include="'/view/html/richGrid.html'"></div>
				</td>

				<td colspan="{{map.width-2}}" rowspan="{{map.height-2}}"  ng-repeat="x in [0] track by $index">
					Big big grid
				</td>

				<td class="grid-td">
					<div ng-repeat="g in secondRow[1] track by $index"  ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td rowspan="{{map.height-2}}" >
					<div style="max-height:480px;overflow-y:auto" >
						<div ng-repeat="log in logs track by $index">{{log}}</div>
					</div>
					
				</td>
			</tr>
			<tr ng-repeat="rr in restRows track by $index">
				<td class="grid-td">
					<div ng-repeat="g in rr[0] track by $index" ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td class="grid-td">
					<div ng-repeat="g in rr[1] track by $index" ng-include="'/view/html/richGrid.html'"></div>
				</td>
			</tr>
			<tr>
				<td>Special 1
					<div>{{map.jailPlayersIndex}}</div>
				</td>
				<td ng-repeat="g in bottomRow track by $index" class="grid-td">
					<div ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td>
					<div>
						<button ng-click="goto('rich')">退出</button>
						<button ng-click="dismiss()" ng-show="lord == username">解散</button>
					</div>
				</td>
			</tr>
			
			<!-- End actual map -->
		</table>
	</div>
	<div>
		<div ng-show="phase == OFFTURN">现在不是你的回合</div>
		<div ng-show="phase == ROLL && gamedata.inJail">你的回合开始，这是你入狱的第{{gamedata.jailRound}}回合，你可以选择越狱（掷一次骰子，掷到6出狱）或是花费${{map.bailCost}}保释出狱：
			<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
			<button ng-repeat="x in [100001,100002,100003,100004,100005,100006] track by $index" ng-click="buttonPress(x)">{{x-100000}}</button>
		</div>
		<div ng-show="phase == ROLL && gamedata.inJail == false">你的回合开始，请选择一项：
			<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
			<button ng-repeat="x in [100001,100002,100003,100004,100005,100006] track by $index" ng-click="buttonPress(x)">{{x-100000}}</button>
		</div>
		<div ng-show="phase == MOVE">你掷了一个{{gamedata.lastRolled}}，将会移动到{{gamedata.myNextPlace}}。
			请选择一项：<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button></div>
		<div ng-show="phase == RESOLVE">你来到了{{gamedata.myCurrentPlace}}，{{gamedata.myLandMsg}}，
			请选择一项：<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button></div>
		<div ng-show="phase == ESCAPE">你掷了一个{{gamedata.lastRolled}}，
			<span ng-show="gamedata.inJail == false">越狱成功！</span>
			<span ng-show="gamedata.inJail">越狱失败。</span>
			<span ng-show="gamedata.inJail && gamedata.jailRound == 3">因为这是你入狱的第三回合，请支付${{map.bailCost}}保释费出狱。</span>
			<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
		</div>
		<div ng-show="phase == UTILITYPHASE">你来到了{{gamedata.myCurrentPlace}}，需要掷一次骰子：
			<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
		</div>
		<div ng-show="phase == STATIONPHASE">你可以移动到其他地点（移动后不能购买且不需支付路费）：
			<button ng-repeat="o in gamedata.myOptions track by $index" ng-click="buttonPress($index)">{{o}}</button>
		</div>
	</div>
	<div>
		{{gamedata}}
	</div>
</body>
</html>