<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Rich</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/richGameController.js"></script>
<body ng-app="richGameApp" ng-controller="richGameCtrl" class="noselect" ng-click="bgm.play()">
	<div ng-style="map.mapStyle">
		<table>
			<tr>
				<td>
					<div ng-show="map.cornerNames[2] == 'jail'" ng-include="'/view/html/richJailCorner.html'" style="float:right"></div>
					<div ng-show="map.cornerNames[2] == 'ward'" ng-include="'/view/html/richWardCorner.html'" style="float:right"></div>
				</td>
				<td ng-repeat="g in topRow track by $index" class="grid-td">
					<div ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td>
					<div ng-show="map.cornerNames[3] == 'jail'" ng-include="'/view/html/richJailCorner.html'"></div>
					<div ng-show="map.cornerNames[3] == 'ward'" ng-include="'/view/html/richWardCorner.html'"></div>
				</td>
			</tr>
			<tr ng-if="map.places">
				<td id="players-grid" rowspan="{{map.height-2}}" style="vertical-align:top">
					<div ng-repeat="p in players track by $index" style="border-top: 1px solid grey;border-bottom:1px solid grey" ng-style="p.curStyle">
						<table>
							<tr>
								<td colspan="2">
									<span style="width:30px">
										<span ng-show="$index == curPlayer" style="font-size:20px; font-weight:bold">&rArr;</span>
									</span>
									<span style="font-size:20px">{{p.name}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<div ng-style="p.avatarOrigin.avatarStyle" style="height:80px; width:80px;"></div>
								</td>
								<td style="width: 120px;">
									<div><b>现金：</b>${{p.money}}</div>
									<div ng-show="gamedata.settings.useGTA == 1"><b>hp：</b>{{p.hp}}</div>
								</td>
							</tr>
						</table>
						
					</div>
				</td>
				<td class="grid-td">
					<div ng-repeat="g in secondRow[0] track by $index" ng-include="'/view/html/richGrid.html'"></div>
				</td>

				<td id="central-grid" colspan="{{map.width-2}}" rowspan="{{map.height-2}}"  ng-repeat="x in [0] track by $index"
					style="padding:0px; vertical-align:top">
					<div style="background-color: AntiqueWhite" ng-style="map.centerStyle">
						<div style="float:left; height: 250px; width: 250px; margin:20px; background-size:cover"
							ng-style="gamedata.myCurrentPlace.detail.imgStyle">
						</div>
						<div style="padding-left: 270px;">
							<div style="padding-top:20px;">
								<div ng-style="gamedata.myCurrentPlace.detail.titleStyle" style="padding-bottom:5px;">
									<span style="font-size:28px;">{{gamedata.myCurrentPlace.detail.title}}</span>
									<span style="font-size:28px;float:right; padding-right: 20px">{{gamedata.myCurrentPlace.detail.areaName}}</span>
								</div>
							</div>
							<div style="height: 10px;" ng-show="gamedata.myCurrentPlace.type==ESTATE"></div>
							<div ng-show="gamedata.myCurrentPlace.type==ESTATE">
								<table>
									<tr>
										<td style="width: 280px">
											<span><b>拥有者:</b></span>
											<span ng-show="gamedata.myCurrentPlace.ownerId==-1">-</span>
											<span style="width: 200px;" ng-show="gamedata.myCurrentPlace.ownerId!=-1">{{gamedata.myCurrentPlace.ownerName}}</span>
										</td>
										<td style="width: 160px">
											<span><b>地价:</b></span>
											<span>${{gamedata.myCurrentPlace.cost}}</span>
										</td>
										<td style="width: 160px">
											<span><b>路费:</b></span>
											<span ng-show="gamedata.myCurrentPlace.ownerId==-1">-</span>
											<span ng-show="gamedata.myCurrentPlace.ownerId!=-1 && gamedata.myCurrentPlace.area != UTILITYAREA">
												${{gamedata.myCurrentPlace.rent}}
											</span>
											<span ng-show="gamedata.myCurrentPlace.ownerId!=-1 && gamedata.myCurrentPlace.area == UTILITYAREA">
												${{gamedata.myCurrentPlace.rent}}&times;N
											</span>
										</td>
										<td style="width: 200px">
											<div ng-show="gamedata.myCurrentPlace.area<100">
												<span><b>等级:</b></span>
												<span ng-show="gamedata.myCurrentPlace.level==0">空地</span>
												<span ng-show="gamedata.myCurrentPlace.level==1">一级</span>
												<span ng-show="gamedata.myCurrentPlace.level==2">二级</span>
												<span ng-show="gamedata.myCurrentPlace.level==3">三级</span>
												<span ng-show="gamedata.myCurrentPlace.level==4">四级</span>
												<span ng-show="gamedata.myCurrentPlace.level==5">五级</span>
											</div>
											
										</td>
									</tr>
								</table>
							</div>
							
							<div style="height: 10px"></div>
							<div ng-style="gamedata.myCurrentPlace.detail.descStyle" style="padding-right: 20px;">
								{{gamedata.myCurrentPlace.detail.desc}}
							</div>
							<div style="height: 10px;"></div>
							<div ng-style="gamedata.myCurrentPlace.detail.descStyle" style="padding-right: 20px;">
								{{gamedata.myCurrentPlace.detail.desc2}}
							</div>
						</div>
						<div style="clear:both"></div>
						<div>
							<div style="float:left; width: 724">
								<div style="padding-top: 20px;">
									<div style="padding-left: 20px"><b>当前轮次：</b>{{gamedata.round}}</div>
									<div style="padding-left: 20px"><b>游戏结束条件：</b>
										<span ng-show="gamedata.endCondition == 0">吃鸡模式，当轮次结束时只剩一名玩家的现金不为负数，游戏结束。</span>
										<span ng-show="gamedata.endCondition == 1">速战速决，当轮次结束时任何一名玩家的现金为负数，游戏结束。</span>
										<span ng-show="gamedata.endCondition > 10 && gamedata.endCondition < 1000">{{gamedata.endCondition}}轮之后</span>
										<span ng-show="gamedata.endCondition > 1000">当一名玩家的现金达到${{gamedata.endCondition}}</span>
									</div>
									
								</div>
								
								<div ng-show="gamedata.broadcastMsg != null && gamedata.broadcastMsg != ''" style="padding-left: 20px; padding-top:30px;">
									<table>
										<tr>
											<td><div ng-style="gamedata.broadcastImgStyle" style="height:120px; width:120px;background-size:cover"></div></td>
											<td><div style="padding-left: 10px; font-family:'tyh'; font-size: 18px;width: 580px">{{gamedata.broadcastMsg}}</div></td>
										</tr>
									</table>
								</div>
							</div>
							<div style="float:right; padding:20px; padding-top:120px; width:240px;height:312px;background-color:slategrey;color:white; text-align:center" 
								ng-show="chosenEstateIndex == -1">
								可点击地产格查看细节。点击与显示的地产相同的地产格会关闭地产细节。
							</div>
							<div style="float:right; width:240px;height:312px; background-color:white;" ng-show="chosenEstateIndex != -1">
								<div ng-style="chosenEstate.areaStyle" style="padding:5px;padding-bottom: 7px;text-align:center">
									<span ng-style="{'font-family': chosenEstate.fontStyle['font-family']}" style="color:white; font-size:23px"
										ng-show="chosenEstate.area<100">{{chosenEstate.detail.title}}</span>
									<span ng-style="{'font-family': chosenEstate.fontStyle['font-family']}" style=" font-size:23px"
										ng-show="chosenEstate.area>100">{{chosenEstate.detail.title}}</span>
								</div>
								<div style="height:100px; width:100px;background-size:cover; margin:10px; float:left" ng-show="chosenEstate.area<100"
									ng-style="chosenEstate.imgStyle">
								</div>
								<div style="height:70px; width:70px;background-size:cover; margin:10px; float:left" ng-show="chosenEstate.area>100"
									ng-style="chosenEstate.imgStyle">
								</div>
								<div style="float:left; margin-top:30px" ng-show="chosenEstate.area<100">
									<table>
										<tr><td style="text-align:right; font-weight:bold">地价：</td><td>${{chosenEstate.cost}}</td></tr>
										<tr ng-show="chosenEstate.area<100">
											<td style="text-align:right; font-weight:bold">升级：</td>
											<td>${{chosenEstate.upgradeCost}}</td>
										</tr>
										<tr ng-show="chosenEstate.area>100">
											<td style="text-align:center; font-weight:bold" colspan="2">无法升级</td>
										</tr>
									</table>
								</div>
								<div style="float:left; margin-top:10px; margin-left: 20px" ng-show="chosenEstate.area>100">
									<table>
										<tr><td style="text-align:right; font-weight:bold">地价：</td><td>${{chosenEstate.cost}}</td></tr>
										<tr ng-show="chosenEstate.area<100">
											<td style="text-align:right; font-weight:bold">升级：</td>
											<td>${{chosenEstate.upgradeCost}}</td>
										</tr>
										<tr ng-show="chosenEstate.area>100">
											<td style="text-align:center; font-weight:bold" colspan="2">无法升级</td>
										</tr>
									</table>
								</div>
								<div style="clear:both; text-align:center;width:240px; font-size:18px; font-weight:bold">路费</div>
								<div ng-show="chosenEstate.area<100"  style="font-size:15px;">
									<table>
										<tr>
											<td style="text-align:right; width: 60px;"><b>空地：</b></td>
											<td style="text-align:left; width: 60px;">${{chosenEstate.rents[0]}}</td>
											<td style="text-align:right; width: 60px;"><b>一级：</b></td>
											<td style="text-align:left; width: 60px;">${{chosenEstate.rents[1]}}</td>
										</tr>
										<tr ng-show="chosenEstate.maxLevel>=3">
											<td style="text-align:right; width: 60px;"><b>二级：</b></td>
											<td style="text-align:left; width: 60px;">${{chosenEstate.rents[2]}}</td>
											<td style="text-align:right; width: 60px;"><b>三级：</b></td>
											<td style="text-align:left; width: 60px;">${{chosenEstate.rents[3]}}</td>
										</tr>
										<tr ng-show="chosenEstate.maxLevel>=5">
											<td style="text-align:right; width: 60px;"><b>四级：</b></td>
											<td style="text-align:left; width: 60px;">${{chosenEstate.rents[4]}}</td>
											<td style="text-align:right; width: 60px;"><b>五级：</b></td>
											<td style="text-align:left; width: 60px;">${{chosenEstate.rents[5]}}</td>
										</tr>
									</table>
								</div>
								<div ng-show="chosenEstate.area == UTILITYAREA" style="font-size:13px;">
									<div style="width:240px; text-align:center">到达后掷一次骰子</div>
									<table>
										<tr>
											<td style="text-align:right; width: 120px;"><b>拥有一个{{chosenEstate.areaName}}：</b></td>
											<td style="text-align:left; width: 120px;">${{chosenEstate.rents[0]}}&times;所掷之数</td>
										</tr>
										<tr>
											<td style="text-align:right; width: 120px;"><b>拥有两个{{chosenEstate.areaName}}：</b></td>
											<td style="text-align:left; width: 120px;">${{chosenEstate.rents[1]}}&times;所掷之数</td>
										</tr>
										<tr ng-show="chosenEstate.rents.length>2">
											<td style="text-align:right; width: 120px;"><b>拥有三个{{chosenEstate.areaName}}：</b></td>
											<td style="text-align:left; width: 120px;">${{chosenEstate.rents[2]}}&times;所掷之数</td>
										</tr>
										<tr ng-show="chosenEstate.rents.length>3">
											<td style="text-align:right; width: 120px;"><b>拥有四个{{chosenEstate.areaName}}：</b></td>
											<td style="text-align:left; width: 120px;">${{chosenEstate.rents[3]}}&times;所掷之数</td>
										</tr>
									</table>
								</div>
								<div ng-show="chosenEstate.area == STATIONAREA" style="font-size:13px;">
									<table>
										<tr>
											<td style="text-align:right; width: 150px;"><b>拥有一个{{chosenEstate.areaName}}：</b></td>
											<td style="text-align:left; width: 90px;">${{chosenEstate.rents[0]}}</td>
										</tr>
										<tr>
											<td style="text-align:right; width: 150px;"><b>拥有两个{{chosenEstate.areaName}}：</b></td>
											<td style="text-align:left; width: 90px;">${{chosenEstate.rents[1]}}</td>
										</tr>
										<tr ng-show="chosenEstate.rents.length>2">
											<td style="text-align:right; width: 150px;"><b>拥有三个{{chosenEstate.areaName}}：</b></td>
											<td style="text-align:left; width: 90px;">${{chosenEstate.rents[2]}}</td>
										</tr>
										<tr ng-show="chosenEstate.rents.length>3">
											<td style="text-align:right; width: 150px;"><b>拥有四个{{chosenEstate.areaName}}：</b></td>
											<td style="text-align:left; width: 90px;">${{chosenEstate.rents[3]}}</td>
										</tr>
									</table>
									<div style="width:240px; text-align:center">可移动到其他{{chosenEstate.areaName}}</div>
								</div>
								<div ng-show="chosenEstate.area<100">
									<div ng-show="chosenEstate.maxLevel<5" style="width: 240px;margin-top: 30px;text-align:center; font-size: 20px" 
										ng-style="{'font-family': chosenEstate.fontStyle['font-family']}">{{chosenEstate.areaName}}</div>
								</div>
								<div ng-show="chosenEstate.area == UTILITYAREA">
									<div ng-show="chosenEstate.maxLevel<2" style="width: 240px;margin-top: 45px;text-align:center; font-size: 20px" 
										ng-style="{'font-family': chosenEstate.fontStyle['font-family']}">{{chosenEstate.areaName}}</div>
								</div>
								<div ng-show="chosenEstate.area == STATIONAREA">
									<div ng-show="chosenEstate.maxLevel<2" style="width: 240px;margin-top: 45px;text-align:center; font-size: 20px" 
										ng-style="{'font-family': chosenEstate.fontStyle['font-family']}">{{chosenEstate.areaName}}</div>
								</div>
							</div>
						</div>
						
					</div>
					
					
					<div ng-include="'/view/html/richPlayer.html'"  ng-show="map.height>10"></div>
				</td>

				<td class="grid-td">
					<div ng-repeat="g in secondRow[1] track by $index"  ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td rowspan="{{map.height-2}}" style="vertical-align:top; margin:0px; padding:0px;">
					<div id="log-zone" style="height:480px;width:320px;overflow-y:auto; padding:5px; vertical-align:top; 
						color: white; background-color:darkslategrey" ng-style="map.logStyle">
						<div ng-repeat="log in logs track by $index">{{log}}</div>
					</div>
					<div ng-style="map.nameStyle" style="font-size: 36px;width:320px;text-align:right">
						{{map.name}}
					</div>
				</td>
			</tr>
			<tr ng-repeat="rr in restRows track by $index">
				<td class="grid-td">
					<div ng-repeat="g in rr[0] track by $index" ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td class="grid-td">
					<div ng-repeat="g in rr[1] track by $index" ng-include="'/view/html/richGrid.html'"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div ng-show="map.cornerNames[1] == 'jail'" ng-include="'/view/html/richJailCorner.html'" style="float:right"></div>
					<div ng-show="map.cornerNames[1] == 'ward'" ng-include="'/view/html/richWardCorner.html'" style="float:right"></div>
				</td>
				<td ng-repeat="g in bottomRow track by $index" class="grid-td">
					<div ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td>
					<div style="margin-left: 30px">
						<label for="volumeControl">音乐: </label>
						<input type="range" id="volumeControl" min="0" max="1"step="0.01" ng-model="volume" ng-change="updateVolume()" />
						<span>{{ (volume * 100) | number:0 }}%</span>
					</div>
					<div style="margin-left: 30px">
						<label for="volumeControl">音效: </label>
						<input type="range" id="volumeControl" min="0" max="1"step="0.01" ng-model="seVolume" ng-change="updateSeVolume()" />
						<span>{{ (seVolume * 100) | number:0 }}%</span>
					</div>
					<div  style="margin-left: 30px">
						<button ng-click="goto('rich')">退出</button>
						<button ng-click="dismiss()" ng-show="lord == username">解散</button>
					</div>
				</td>
			</tr>
			
			<!-- End actual map -->
		</table>
	</div>
	<div ng-include="'/view/html/richPlayer.html'" ng-show="map.height<10"></div>
</body>
</html>