<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Rich</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/richOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/app/richGameController.js"></script>
<body ng-app="richGameApp" ng-controller="richGameCtrl">
	<div>
		<table>
			<tr>
				<td>Special 2</td>
				<td ng-repeat="k in colArray track by $index" class="grid-td">
					<div ng-init="g=gamedata.map.places[k+gamedata.map.width+gamedata.map.height-2]" ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td>Special 3</td>
			</tr>
			<tr ng-if="gamedata.map.places">
				<td rowspan="{{gamedata.map.height-2}}">Player Info</td>
				<td class="grid-td" ng-repeat="x in [0]" ng-init="g3=gamedata.map.places[gamedata.map.width+gamedata.map.height-3]">
					<div ng-init="g=g3" ng-include="'/view/html/richGrid.html'"></div>
				</td>

				<td colspan="{{gamedata.map.width-2}}" rowspan="{{gamedata.map.height-2}}"  ng-repeat="x in [0] track by $index">
					Big big grid
				</td>

				<td class="grid-td" ng-repeat="x in [0]" ng-init="g4=gamedata.map.places[gamedata.map.width*2+gamedata.map.height-2]">
					<div ng-init="g=g4" ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td rowspan="{{gamedata.map.height-2}}">logs</td>
			</tr>
			<tr ng-repeat="i in rowArray track by $index"
				ng-init="g1=gamedata.map.places[gamedata.map.width+gamedata.map.height-2-i];
					g2=gamedata.map.places[gamedata.map.width*2+gamedata.map.height-3+i]">
				<td class="grid-td" ng-repeat="x in [0]">
					<div ng-init="g=g1" ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td class="grid-td" ng-repeat="x in [0]">
					<div ng-init="g=g2" ng-include="'/view/html/richGrid.html'"></div>
				</td>
			</tr>
			<tr>
				<td>Special 1</td>
				<td ng-repeat="k in colArray track by $index" class="grid-td">
					<div ng-init="g=gamedata.map.places[gamedata.map.width-k-1]" ng-include="'/view/html/richGrid.html'"></div>
				</td>
				<td>
					<div>
						<button ng-click="goto('rich')">退出</button>
						<button ng-click="dismiss()" ng-show="lord == username">解散</button>
					</div>
				</td>
			</tr>
			
			<!-- End actual map -->
		</table>
	</div>
	<div>
		{{gamedata}}
	</div>
</body>
</html>