<div ng-show="g.type==ESTATE" class="grid-div" style="cursor:pointer" ng-click="clickEstate(g.id)" ng-style="g.estateBackground">
	<div style="height: 60px;">
		<div ng-style="g.fontStyle">{{g.name}}</div>
		<div style="font-size:16px" ng-show="g.ownerId==-1">${{g.cost}}</div>
		<div style="font-size:14px" ng-show="g.ownerId!=-1">{{g.ownerName}}</div>
		<div style="font-size:14px" ng-show="g.ownerId!=-1 && g.area != UTILITYAREA"><b>路费：</b>${{g.rent}}</div>
		
		<div style="font-size:14px" ng-show="g.ownerId!=-1 && g.area == UTILITYAREA"><b>路费：</b>${{g.rent}}&times;N</div>
	</div>
	
	<div style="height: 30px" ng-show="g.area<100">
		
	</div>
	<div style="height: 30px" ng-show="g.area<100" ng-style="g.areaStyle">
		<span style="color:white; font-size: 18px;" ng-show="g.level==1">&#x2617;</span>
		<span style="color:white; font-size: 18px;" ng-show="g.level==2">&#x2617;&#x2617;</span>
		<span style="color:white; font-size: 18px;" ng-show="g.level==3">&#x2617;&#x2617;&#x2617;</span>
		<span style="color:white; font-size: 18px;" ng-show="g.level==4">&#x2617;&#x2617;&#x2617;&#x2617;</span>
		<span style="color:white; font-size: 18px;" ng-show="g.level==5">&#x2617;&#x2617;&#x2617;&#x2617;&#x2617;</span>
	</div>
	
	<div ng-style="g.imgStyle" style="background-size:cover;height: 50px; width:50px;margin-left: 35px;margin-top:5px;" ng-show="g.area>100"></div>
	
	<div class="grid-avatars-div" style="top: 60px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>

<div ng-show="g.type==EMPTY" class="grid-div" style="background-color:LightSkyBlue">
	<div style="padding-top:3px" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 70px; width:70px;margin-left: 25px;margin-top:5px;"></div>
	
	<div class="grid-avatars-div" style="top: 50px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>

<div ng-show="g.type==TAX" class="grid-div" style="background-color:LightGoldenRodYellow">
	<div style="padding-top:3px" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 60px; width:60px;margin-left: 30px;"></div>
	<div style="font-size: 14px">{{g.desc}}</div>
	
	<div class="grid-avatars-div" style="top: 50px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>

<div ng-show="g.type==STARTPOINT" class="grid-div" ng-style="g.imgStyle" style="background-size:cover;">
	<div style="color: gold" ng-style="g.fontStyle">{{g.name}}</div>
	<div style="font-size: 16px; color: white; font-weight:bold"><span style="font-size:20px;">&#x21E6;&nbsp;&nbsp;</span>由此去</div>
	<div style="font-size: 14px; color: white">{{g.desc}}</div>
	
	<div class="grid-avatars-div" style="top: 70px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>

<div ng-show="g.type==FATE" class="grid-div" style="background-color:red">
	<div style="padding-top:3px;color:white" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 70px; width:70px;margin-left: 25px;margin-top:5px;"></div>
	
	<div class="grid-avatars-div" style="top: 50px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>

<div ng-show="g.type==JAIL" class="grid-div" style="background-color:SlateGrey">
	<div style="padding-top:3px; color:white" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 70px; width:70px;margin-left: 25px;margin-top:5px;"></div>
	
	<div class="grid-avatars-div" style="top: 50px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>

<div ng-show="g.type==GOTOJAIL" class="grid-div" style="background-color:SlateBlue">
	<div style="padding-top:3px; color:white" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 70px; width:70px;margin-left: 25px;margin-top:5px;"></div>
	
	<div class="grid-avatars-div" style="top: 50px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>

<div ng-show="g.type==HOSPITAL" class="grid-div" style="background-color:ForestGreen">
	<div style="padding-top:3px; color:white" ng-style="g.fontStyle">{{g.name}}</div>
	<div ng-style="g.imgStyle" style="background-size:cover;height: 70px; width:70px;margin-left: 25px;margin-top:5px;"></div>
	
	<div class="grid-avatars-div" style="top: 50px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>

<div ng-show="g.type==CARDGAINER" class="grid-div" ng-style="g.imgStyle" style="background-size:cover;">
	<div style="color: gold" ng-style="g.fontStyle">{{g.name}}</div>
	<div style="font-size: 14px; color: white;padding:2px; padding-top:20px;">{{g.desc}}</div>
	
	<div class="grid-avatars-div" style="top: 70px;">
		<div ng-repeat="i in g.playersOn track by $index" ng-style="players[i].avatar.avatarBlockStyle" style="float: left">
			<div class="grid-avatar" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId==-1"></div>
			<div class="grid-avatar-with-vehicle" ng-style="players[i].avatar.avatarStyle" ng-show="players[i].vehicleId!=-1"></div>
			<div class="grid-vehicle" ng-style="players[i].avatar.vehicleStyle" ng-show="players[i].vehicleId!=-1"></div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>



<div style="position:relative;height:45px; width:45px; margin-top: -45px; padding-left: 75px; z-index:300">
	<div style="height:40px; width:40px;background-image:url('image/Rich/checked.png'); background-size:cover; cursor:pointer"
		ng-show="curPlayStyle == PLAYSTYLE_CHOOSEGRID && chosenGrid == g.id" ng-click="event.stopPropagation();clickChooseGrid(g.id)"></div>
	<div style="height:40px; width:40px;background-image:url('image/Rich/not-checked.png'); background-size:cover; cursor:pointer"
		ng-show="curPlayStyle == PLAYSTYLE_CHOOSEGRID && chosenGrid != g.id" ng-click="event.stopPropagation();clickChooseGrid(g.id)"></div>
</div>
