<div style="height: 50px; border-top-left-radius: 10px;border-top-right-radius: 10px; padding-top: 5px" ng-style="c.barColor">
	<table>
		<tr style="height: 50px">
			<td style="text-align: center; vertical-align: center; width: 40px; color:white; font-size: 30px; font-family: 'yzgc';">{{c.num}}</td>
			<td style="text-align: center; vertical-align: center; width: 130px; color:white; font-size: 26px; font-family: 'yzgc';">{{c.name}}</td>
			<td style="text-align: center; vertical-align: center; width: 40px; color:white; font-size: 30px; font-family: 'yzgc';">{{c.num}}</td>
		</tr>
	</table>
</div>
<div>
	<div style="width: 150px; height: 150px; margin-left:30px; margin-top: 25px" ng-style="c.iconStyle">
	</div>
</div>

<div style="height: 73px; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px; margin-top: 30px" ng-style="c.barColor">
</div>