<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Sushi</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/sushiTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/sushiOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/sushiGameController.js"></script>
<body ng-app="sushiGameApp" ng-controller="sushiGameCtrl">
	<button ng-click="goto('sushi')">back</button>
	<!-- 
	<p>{{gamedata}}</p>
	 -->
	
</body>
</html>