<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Three Chaodoms</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/threechaodomsTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/threechaodomsOther.css">
<link rel="stylesheet" type="text/css" href="/view/css/threechaodomsCard.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/lib/angular-sanitize.js"></script>
<script src="/js/lib/threechaodomsCardMaker.js"></script>
<script src="/js/app/threechaodomsGameController.js"></script>
<body ng-app="threechaodomsGameApp" ng-controller="threechaodomsGameCtrl">
	<button ng-click="goto('threechaodomscreategame')">back</button>
	<!--
	<button ng-click="startGame()" ng-show="lord == username">start game</button>
	 
	<button ng-click="dismiss()" ng-show="lord == username">dismiss</button>
	 -->
	<!-- 
	<div>
		<p ng-repeat="p in players">{{p.name}}</p>
	</div>
	 -->
	 <div ng-include="'/view/html/threechaodomsCard.html'"></div>
</body>
</html>