<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Three Chaodoms</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/threechaodomsTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/threechaodomsOther.css">
<link rel="stylesheet" type="text/css" href="/view/css/threechaodomsCard.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/angular-websocket.js"></script>
<script src="/js/lib/angular-sanitize.js"></script>
<script src="/js/lib/threechaodomsCardMaker.js"></script>
<script src="/js/app/threechaodomsMainController.js"></script>
<body ng-app="threechaodomsMainApp" ng-controller="threechaodomsMainCtrl">
	<div id="header" class="header">
		<table width="100%">
			<tr>
				<td><h1 class="title">Cosgame</h1></td>
				<td align="right" style="padding-right: 30px">
					<span style="margin-right: 10px; color: white">{{username}}</span>
					<button class="btn btn-info btn-sm" ng-click="logout()">Logout</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tabs" class="tabs">
		<button ng-click="goto('index')">主页</button>
		<button ng-click="goto('citadels')">富饶龙城</button>
		<button ng-click="goto('nothanks')">不了谢谢</button>
		<button ng-click="goto('pokewhat')">宝可纳尼</button>
		<button ng-click="goto('gravepsycho')">盗墓惊魂</button>
		<button ng-click="goto('onenight')">狼人不杀</button>
		<button ng-click="goto('architect')">雕梁画栋</button>
		<!-- 
		<button ng-click="goto('pokerworld')">棋牌世界</button>
		<button ng-click="goto('gardenwar')">花园战争</button>
		 -->
		<button style="padding-top: 0px; color: orangered; font-size: 24px; background-color:white">混沌三国</button>
		<button ng-click="goto('belltower')">小恶魔杀</button>
	</div>
	
	<div id="tabcontent" class="tabcontent">
		<div class="container">
			<div id="sidebar" class="sidebar">
				<ul class="nav nav-tabs flex-column" role="tablist">
				    <li class="nav-item">
				      <a class="nav-link active" data-toggle="tab" href="#listtab" ng-click="showTablesTab()">游戏</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#rulestab" ng-click="hideTablesTab()">规则</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#shopstab" ng-click="hideTablesTab()">商城</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" data-toggle="tab" href="#skinstab" ng-click="hideTablesTab()">皮肤</a>
				    </li>
				  </ul>
			</div>
			<div class="tab-content">
				<div id="listtab" class="content container tab-pane active">
					<h1>混沌三国</h1>
					<table class="table">
						<tr>
							<td><button ng-click="newGame()">新游戏</button></td>
						</tr>
					</table>
					<table class="table">
						<tr>
							<td>房间号</td>
							<td>房主</td>
							<td>状态</td>
							<td></td>
						</tr>
						<tr ng-repeat ="x in boards track by $index">
							<td>{{x}}</td>
							<td>{{lords[$index]}}</td>
							<td>{{statuses[$index]}}</td>
							<td>
								<button ng-show="statuses[$index] == '准备中'" ng-click="goToBoard($index)">加入</button>
								<button ng-show="statuses[$index] == '游戏中' && canBack[$index] == 'y'" ng-click="backToBoard($index)">回桌</button>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="rulestab" class="content container tab-pane fade">
					<h2><b>规则</b></h2>
					
				</div>
				<div id="shopstab" class="content container tab-pane fade">
					<h2><b>商城</b></h2>
					<div>铜币：{{accountInfo.money}}&nbsp;元宝：{{accountInfo.ingot}}&nbsp;钥匙：{{accountInfo.key}}</div>
					<div ng-show="showNewSkin == false && loadingSkin == false">
						你可以花费88枚铜币挖掘皮肤：<button ng-click="dig()" ng-disabled='accountInfo.money<88'>挖掘</button>
					</div>
					<div ng-show="loadingSkin">
						<div>
							<img src="/image/Threechaodoms/dig.gif"/>
						</div>
						<div>
							正在挖掘。。。
						</div>
					</div>
					<div ng-show="showNewSkin">
						<div>
							<div ng-repeat="cardDisplay in newSkinCardStyles">
								<div ng-include="'/view/html/threechaodomsCard.html'" class="skin-size"></div>
							</div>
						</div>
						<div>获得皮肤：{{newSkinCard.title}} - {{newSkinCard.name}}</div>
						<button ng-click="showNewSkin = false">谢谢</button>
					</div>
					<!-- 
					{{accountInfo}}
					 -->
					<!-- 
					<button ng-click="dailyReward()">每日奖励</button>
					<button ng-click="cleanAccount()">清空</button>
					
					<button ng-click="buySkin(2)">购买貂蝉</button>
					<button ng-click="useSkin(2)">使用貂蝉</button>
					<button ng-click="unuseSkin(1)">不使用貂蝉</button>
					 -->
					
				</div>
				<div id="skinstab" class="content container tab-pane fade">
					<h2><b>皮肤</b></h2>
					<div ng-show="skinCardStyles.length>0" style="overflow-y: auto; height: 650px;">
						<table>
							<tr ng-repeat="cardDisplay in skinCardStyles track by $index">
								<td style="text-align: left">
									<div ng-include="'/view/html/threechaodomsCard.html'" class="skin-size"></div>
								</td>
								<td>
									<table>
										<tr><td>{{cardDisplay.card.title}} - {{cardDisplay.card.name}}</td></tr>
										<tr>
											<td>
												<span ng-show="accountInfo.skins[$index].inUse == false">未使用</span>
												<span ng-show="accountInfo.skins[$index].inUse">正在使用</span>
											</td>
										</tr>
										<tr>
											<td>
												<button ng-show="accountInfo.skins[$index].inUse == false" ng-click="useSkin(accountInfo.skins[$index].id)">使用</button>
												<button ng-show="accountInfo.skins[$index].inUse" ng-click="unuseSkin(accountInfo.skins[$index].id)">不使用</button>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<div ng-show="skinCardStyles.length==0">
						你暂时没有皮肤
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>