<div style="height:318px; width: 208px; background-color: goldenrod; border-radius: 10px">
	
	<div style="height: 54px; width:54px; border-radius: 27px; border: 1px groove yellow; color:white; background-color: rgb(0,150,255);
		 position: absolute; top: 0px; left: 0px; font-family: 'lyt';font-size: 35px; text-align: center; padding-top: 2px; z-index: 30;">
		{{c.num}}
	</div>
	<div style="height: 54px; width:54px; border-radius: 27px; border: 1px groove yellow; color:white; background-color: rgb(0,150,255);
		 position: absolute; top: 0px; right: 0px; font-family: 'lyt';font-size: 35px; text-align: center; padding-top: 2px; z-index: 30;">
		{{c.num}}
	</div>
	<div style="height: 170px; width: 128px; left: 40px; top: 8px; position:absolute; z-index: 10;" ng-style="c.avatarStyle">
		
	</div>
	<div style="height: 170px; width: 128px; left: 40px; top: 8px; position:absolute;  z-index: 20;
		 background-image: url(/image/Oink/West/frame.png);background-size:cover;"></div>
	<div style="height: 36px; width: 188px; left: 10px; top: 160px; border-radius: 5px; position:absolute;  z-index: 40;
		background-color: beige; text-align: center; font-family: 'hbt'; font-size: 26px;" >
		{{c.name}}
	</div>
	<div style="height: 105px; width: 188px; left: 10px; bottom: 10px; border-radius: 5px; position:absolute; background-color: darkslategrey; 
		text-align: center; font-size: 16px; padding: 2px; color: white">
		{{c.desc}}
	</div>
	<!-- 
	<div style="height: 40px; margin-top:10px; width: 208px;" ng-style="c.secondaryColor">
		<div style="position: absolute; top:2px; left: 50px; text-align: center; width: 158px;font-size: 35px;font-family: 'shxfl'">{{c.name}}</div>
	</div>
	
	<div style="height: 140px; width: 140px; margin-top: 0px; margin-left: 34px" ng-style="c.avatarStyle">
	</div>
	<div style="height: 110px; line-height: 110px; width: 178px; margin-left: 15px;border-radius: 5px; padding:10px; padding-top: 5px; text-align: center;"
		ng-style="c.secondaryColor">
		<p style="vertical-align: middle;line-height:1.5;display:inline-block;  font-family: 'yzgc'">{{c.description}}</p>
	</div>
	 -->
	 
</div>
