<table>
	<tr>
		<td rowspan="2">#</td>
		<td ng-repeat="p in players track by $index">{{p.name}}</td>
	</tr>
	<tr>
		<td ng-repeat-start="p in players track by $index">bids</td>
		<td>actuals</td>
		<td ng-repeat-end>scores</td>
	</tr>
	<tr ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" ng-show="i<totalRounds">
		<td>{{i+1}}</td>
		<td ng-repeat-start="p in players track by $index">{{p.bids[i]}}</td>
		<td>{{p.actuals[i]}}</td>
		<td ng-repeat-end>{{p.scores[i]}}</td>
	</tr>
</table>