<div class="rank-hand" ng-show="c.rank != 'wizard' && c.rank != 'jester' && c.rank != 'bomb' && c.rank != 'dragon' && c.rank != 'fairy' && c.rank != 'merlin' 
	&& c.rank != '10' && c.rank != 'N' && c.rank != 'S'">
	{{c.rank}}
</div>
<div class="rank-10-hand" ng-show="c.rank == '10'">
	{{c.rank}}
</div>
<div class="rank-f-hand" ng-show="c.rank == 'N'">
	<table>
		<tr>
			<td rowspan="2" style="padding-left: 4px; padding-right: 4px">9</td>
			<td style="border-bottom: 2px solid black" ng-show="c.color == 'black'">3</td>
			<td style="border-bottom: 2px solid red" ng-show="c.color == 'red'">3</td>
			<td style="border-bottom: 2px solid navy" ng-show="c.color == 'navy'">3</td>
		</tr>
		<tr>
			<td style="border-top: 2px solid black">4</td>
		</tr>
	</table>
</div>

<div class="rank-f-hand" ng-show="c.rank == 'S'">
	<table>
		<tr>
			<td rowspan="2" style="padding-left: 4px; padding-right: 4px">7</td>
			<td style="border-bottom: 2px solid black" ng-show="c.color == 'black'">1</td>
			<td style="border-bottom: 2px solid red" ng-show="c.color == 'red'">1</td>
			<td style="border-bottom: 2px solid navy" ng-show="c.color == 'navy'">1</td>
		</tr>
		<tr>
			<td style="border-top: 2px solid black">2</td>
		</tr>
	</table>
</div>
<div class="joker-hand" ng-show="c.rank == 'wizard'">
	<div class="wizard-hand-letter">W</div>
	<div class="wizard-hand-letter">Z</div>
</div>
<div class="joker-hand" ng-show="c.rank == 'jester'">
	<div class="joker-hand-letter">J</div>
	<div class="joker-hand-letter">E</div>
</div>
<div class="joker-hand" ng-show="c.rank == 'bomb'">
	<div class="joker-hand-letter">B</div>
	<div class="joker-hand-letter">M</div>
</div>
<div class="joker-hand" ng-show="c.rank == 'dragon'">
	<div class="joker-hand-letter">D</div>
	<div class="joker-hand-letter">R</div>
</div>
<div class="joker-hand" ng-show="c.rank == 'fairy'">
	<div class="joker-hand-letter">F</div>
	<div class="joker-hand-letter">R</div>
</div>
<div class="joker-hand" ng-show="c.rank == 'merlin'">
	<div class="joker-hand-letter">M</div>
	<div class="joker-hand-letter">E</div>
</div>
<div class="suit-hand" 
	ng-show="c.rank != 'wizard' && c.rank != 'jester' && c.rank != 'bomb' && c.rank != 'dragon' && c.rank != 'fairy' && c.rank != 'merlin' 
	&& c.rank != 'N'  && c.rank != 'S'">
	{{c.suit}}
</div>
<div class="suit-big-hand" ng-show="c.rank != 'wizard' && c.rank != 'jester' && c.rank != 'bomb' && c.rank != 'dragon' && c.rank != 'fairy' && c.rank != 'merlin'">
	{{c.suit}}
</div>
<div class="wizard-big-hand" ng-show="c.rank == 'wizard' && c.custom == null">
</div>
<div class="jester-big-hand" ng-show="c.rank == 'jester' && c.custom == null">
</div>
<div class="bomb-big-hand" ng-show="c.rank == 'bomb' && c.custom == null">
</div>
<div class="dragon-big-hand" ng-show="c.rank == 'dragon' && c.custom == null">
</div>
<div class="fairy-big-hand" ng-show="c.rank == 'fairy' && c.custom == null">
</div>
<div class="merlin-big-hand" ng-show="c.rank == 'merlin' && c.custom == null">
</div>
<div class="custom-big-hand" ng-show="c.custom != null" ng-style="c.custom">
</div>

<div class="bonus-big-hand" ng-show="useFiveTenBonus && (c.rank == 5 || c.rank == 10)">
</div>