<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Zodiac</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/zodiacTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/zodiacOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/zodiacCreateGameController.js"></script>
<style>
body {
	background: url('/image/Zodiac/create_bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size:  cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>
<body ng-app="zodiacCreateGameApp" ng-controller="zodiacCreateGameCtrl">
	
	<div class="create-div">
		<table>
			<tr>
				<td>
					<h1 class="create-title">十二生肖</h1>
				</td>
			</tr>
			<tr>
				<td>
					<button ng-click="goto('zodiac')">退出</button>
					<button ng-click="addBot()" ng-show="username == lord">添加bot</button>
					<button ng-click="start()" ng-show="username == lord">开始</button>
				</td>
			</tr>
			<tr>
				<td><h4>玩家列表</h4></td>
			</tr>
			<tr ng-repeat="pn in playerNames track by $index">
				<td>{{pn}}</td>
			</tr>
			
		</table>
		
	</div>
	
</body>