<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Zodiac</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/zodiacTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/zodiacOther.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/zodiacGameController.js"></script>
<style>

</style>
<body ng-app="zodiacGameApp" ng-controller="zodiacGameCtrl">
	
	<div>
		<table>
			<tr>
				<td>
					<h1 class="create-title">十二生肖</h1>
				</td>
			</tr>
			<tr>
				<td>
					<button ng-click="goto('zodiac')">退出</button>
				</td>
			</tr>
			
		</table>
		
	</div>
	
</body>