<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsRules.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsRulesController.js"></script>
<body ng-app="citadelsRulesApp" ng-controller="citadelsRulesCtrl">
	<table>
		<tr>
			<td style="width:200px;vertical-align:top">
				<table>
					<tr><td><button style="background:none;padding:0px;border:none;color:rgb(0,0,102)" ng-click="goto('citadels')"><u><b>返回</b></u></button></td></tr>
					<tr><td> </td></tr>
					<tr><td> </td></tr>
					<tr><td> </td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsroles')">基本角色介绍</button></td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsspecials')">官方特殊建筑</button></td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsnewroles')">官方扩充角色</button></td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsdiycards')">自创特殊建筑</button></td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsduocards')">双类型建筑</button></td></tr>
					<tr><td><button class="selectedsection" disabled>变类型建筑</button></td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsdelicacies')">特产</button></td></tr>
				</table>
			</td>
			<td style="vertical-align:top">
				<div>
					<h2>变类型建筑</h2>
					<table>
						<tr>
							<td style="width: 1000px">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有些建筑可以自动或通过玩家的操作改变自身类型。
								这些建筑被称为<span class="citadelstext">变类型建筑</span>。在获得收益和计算分数时，这些建筑的类型为其当前类型。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">变类型建筑</span>
								默认不加入游戏。房主可以决定是否加入这些建筑。若房主决定加入，2张<span class="citadelstext">技校</span>，2张<span class="citadelstext">奶茶店</span>，
								1张<span class="citadelstext">路障</span>和1张<span class="citadelstext">新闻大厦</span>会加入牌堆。
								<span class="citadelstext">招待所</span>，<span class="citadelstext">办事处</span>，
								<span class="citadelstext">商务宾馆</span>，和<span class="citadelstext">写字楼</span>中会随机2张加入牌堆。</br>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="showedCard='o41b'" ng-disabled="showedCard == 'o41b'">技校</button>
								<button ng-click="showedCard='g23'" ng-disabled="showedCard == 'g23'">奶茶店</button>
								<button ng-click="showedCard='o01r'" ng-disabled="showedCard == 'o01r'">路障</button>
								<button ng-click="showedCard='o43y'" ng-disabled="showedCard == 'o43y'">新闻大厦</button>
								<button ng-click="showedCard='o11p'" ng-disabled="showedCard == 'o11p'">招待所</button>
								<button ng-click="showedCard='o21p'" ng-disabled="showedCard == 'o21p'">办事处</button>
								<button ng-click="showedCard='o42p'" ng-disabled="showedCard == 'o42p'">商务宾馆</button>
								<button ng-click="showedCard='o51p'" ng-disabled="showedCard == 'o51p'">写字楼</button>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'o41b'">
						<tr>
							<td style="width: 1000px">
								<img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg">
								<img ng-src="/image/Citadels/Cards/o41g.png" class="newsImg">
								<img ng-src="/image/Citadels/Cards/o41r.png" class="newsImg">
								<img ng-src="/image/Citadels/Cards/o41y.png" class="newsImg">
							</td>
							
						</tr>
						<tr>
							<td style="width: 1000px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 技校</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你回合结束时该建筑会改变类型，顺序为：</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教育（蓝色） ->  商业（绿色） -> 治安（红色） -> 市政（黄色）-> 教育（蓝色） -> ... </br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如此循环。该效果自动发动，你无法避免。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">技校</span>的初始类型为教育（蓝色）。</br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'g23'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 奶茶店</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽然价格和类型相同，
								<span class="citadelstext">奶茶店</span>和<span class="citadelstext">菜场</span>、<span class="citadelstext">小吃店</span>不同名。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加入<span class="citadelstext">奶茶店</span>的目的是为了平衡商业建筑的数量。
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'o01r'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 路障</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以免费建造<span class="citadelstext">路障</span>，
								建造<span class="citadelstext">路障</span>不占用你的建筑回合上限。本回合若你已建造了建筑， 你依然可以建造<span class="citadelstext">路障</span>。
								虽然免费，<span class="citadelstext">路障</span>是一个合法的建筑，所以如果建造<span class="citadelstext">路障</span>后达到游戏结束的建筑上限，
								当回合结束后游戏结束。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你下一次建造后拆除<span class="citadelstext">路障</span>，
								该效果立即自动发动，你无法避免。
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'o43y'">
						<tr>
							<td style="width: 1000px">
								<img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg">
								<img ng-src="/image/Citadels/Cards/o43p.png" class="newsImg">
							</td>
						</tr>
						<tr>
							<td style="width: 1000px; vertical-align:top" rowspan="2">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 新闻大厦</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你执行行动后从牌堆顶放置1张牌于该牌最下方。回合结束时若该建筑下方有2张牌，
								你立即得到该2张牌，该建筑失去特效且变成特殊（紫色）类型。该效果立即自动发动，你无法避免。正常情况下，你建造该建筑后2回合会获得2张牌，同时该建筑改变其类型。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该建筑改变类型后是本游戏有史以来第一张无效果描述的特殊（紫色）建筑（反倒是其市政类型的形态有）。</br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'o11p'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 招待所</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你执行行动前展示牌堆顶的一张牌并将其放置于牌堆底，如果展示的牌不为双类型，
								<span class="citadelstext">招待所</span>的类型变为展示牌的类型。该效果立即自动发动，你无法避免。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若展示的牌为双类型，该建筑不会改变类型。</br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'o21p'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 办事处</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你建造完该建筑后可以立即弃置一张牌。
								若你以此法弃置的牌为单类型，该建筑的类型变为你弃置牌的类型。在此之后你无法通过弃置牌来改变该建筑的类型。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造完该建筑后你可以选择不弃置任何牌，
								若如此做，该建筑仍为特殊（紫色）类型。</br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'o42p'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 商务宾馆</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你之后每建造一个单类型的建筑，
								<span class="citadelstext">商务宾馆</span>的类型会变为和你新造的建筑相同。该效果立即自动发动，你无法避免。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你建造一个双类型建筑，该建筑不会改变类型。</br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'o51p'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 写字楼</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你可以在回合内展示一张单类型的牌，
								并将<span class="citadelstext">写字楼</span>的类型变更为你展示的牌的类型。每回合限一次</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你展示一个双类型建筑，该建筑不会改变类型。</br>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>