<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cosgame Citadels</title>
<link rel="stylesheet" type="text/css" href="/view/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/view/css/mainTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsTheme.css">
<link rel="stylesheet" type="text/css" href="/view/css/citadelsRules.css">
</head>
<script src="/js/lib/angular.js"></script>
<script src="/js/lib/jquery.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/app/citadelsRulesController.js"></script>
<body ng-app="citadelsRulesApp" ng-controller="citadelsRulesCtrl">
	<table>
		<tr>
			<td style="width:200px;vertical-align:top">
				<table>
					<tr><td><button style="background:none;padding:0px;border:none;color:rgb(0,0,102)" ng-click="goto('citadels')"><u><b>返回</b></u></button></td></tr>
					<tr><td> </td></tr>
					<tr><td> </td></tr>
					<tr><td> </td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsroles')">基本角色介绍</button></td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsspecials')">官方特殊建筑</button></td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsnewroles')">官方扩充角色</button></td></tr>
					<tr><td><button class="selectedsection" disabled>自创特殊建筑</button></td></tr>
					<tr><td><button class="othersection" ng-click="goto('citadelsduocards')">双类型建筑</button></td></tr>
					<!-- 
					<tr><td><button class="othersection" ng-click="goto('citadelsomnicards')">变类型建筑</button></td></tr>
					 -->
					
				</table>
			</td>
			<td style="vertical-align:top">
				<div>
					<h2>自创特殊建筑</h2>
					<table>
						<tr>
							<td>按上线时间顺序排序</td>
						</tr>
						<tr>
							<td>
								<button ng-click="showedCard='p609'" ng-disabled="showedCard == 'p609'">文化宫</button>
								<button ng-click="showedCard='p404'" ng-disabled="showedCard == 'p404'">小商品市场</button>
								<button ng-click="showedCard='p610'" ng-disabled="showedCard == 'p610'">大成三厂</button>
								<button ng-click="showedCard='p405'" ng-disabled="showedCard == 'p405'">紫荆公园</button>
								<button ng-click="showedCard='p303'" ng-disabled="showedCard == 'p303'">澳门城</button>
								<button ng-click="showedCard='p509'" ng-disabled="showedCard == 'p509'">天目湖</button>
								<button ng-click="showedCard='p612'" ng-disabled="showedCard == 'p612'">九龙山</button>
								<button ng-click="showedCard='p304'" ng-disabled="showedCard == 'p304'">常州金店</button>
								<button ng-click="showedCard='p406'" ng-disabled="showedCard == 'p406'">中联大厦</button>
								<button ng-click="showedCard='p407'" ng-disabled="showedCard == 'p407'">别墅区</button>
								<button ng-click="showedCard='p510'" ng-disabled="showedCard == 'p510'">青枫公园</button>
							</td>
						</tr>
						<tr>
							<td>
								<button ng-click="showedCard='p408'" ng-disabled="showedCard == 'p408'">护王府</button>
								<button ng-click="showedCard='p513'" ng-disabled="showedCard == 'p513'">瓜田</button>
								<button ng-click="showedCard='p613'" ng-disabled="showedCard == 'p613'">福利院</button>
								<button ng-click="showedCard='p614'" ng-disabled="showedCard == 'p614'">保险大厦</button>
								<button ng-click="showedCard='p203'" ng-disabled="showedCard == 'p203'">报刊亭</button>
								<button ng-click="showedCard='p204'" ng-disabled="showedCard == 'p204'">神亭岭</button>
								<button ng-click="showedCard='p511'" ng-disabled="showedCard == 'p511'">运河五号</button>
								<button ng-click="showedCard='p514'" ng-disabled="showedCard == 'p514'">东坡公园</button>
								<button ng-click="showedCard='p615'" ng-disabled="showedCard == 'p615'">古炮台</button>
								<button ng-click="showedCard='p515'" ng-disabled="showedCard == 'p515'">揽月湾</button>
							</td>
						<tr></tr>
						<tr><td></td></tr>
						<tr><td></td></tr>
						<tr><td></td></tr>
					</table>
					<table ng-show="showedCard == 'p609'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 文化宫</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月4日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你选择的<span class="citadelstext">角色</span>无法通过某种类型的建筑获得收益，
								<span class="citadelstext">执行行动</span>后你额外获得1<span class="citadelstext">￥</span>。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>文化宫是作为群众文化和娱乐活动之用的公共建筑。
								苏联在十月革命后，为了满足职工群众对文化生活和娱乐活动的需要，兴建了许多文化宫。其他社会主义国家也有这类建筑</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p404'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 小商品市场</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月4日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造完该<span class="citadelstext">建筑</span>后立即获得1<span class="citadelstext">￥</span>并摸一张牌，
								该效果立即自动发动。</br></br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p610'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 大成三厂</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月4日上线， 2020年9月18日修改）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从本回合起，每回合你可以额外建造一个<span class="citadelstext">建筑</span>，
								建造完该<span class="citadelstext">建筑</span>后立即获得2<span class="citadelstext">￥</span>。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>大成三厂旧址位于茶山街道。
								大成三厂旧址为刘国钧实业主体之一，是我市目前保存体量最大、最为完整的民国早期纺织业建筑遗存，是常州地区民族工业的特色建筑群。
								</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p405'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 紫荆公园</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月5日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造完该<span class="citadelstext">建筑</span>后立即获得<span class="citadelstext">市长标记</span>，
								该效果立即自动发动。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>紫荆公园位于江苏省常州市东北部的创意产业园内，东经120路路口，占地面积20.15公顷，是常州最大的月季主题公园。
								公园内拥有世界独一无二的无辐式摩天轮（虽然因为安全原因无法使用）。</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p303'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 澳门城</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月5日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每回合可支付3<span class="citadelstext">￥</span>并展示牌堆顶的一张牌。
								你获得和展示的牌价格相同数量的<span class="citadelstext">￥</span>，每回合限一次。 若你无法支付3￥则无事发生（可能会被嘲讽）。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>澳门城位于西太湖产业园区，是江苏省与澳门特区的合作园区。</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p509'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 天目湖</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月5日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">执行行动</span>后展示牌堆顶的一张牌。
								你每有一张和展示的牌类型相同的<span class="citadelstext">建筑</span>就获得1<span class="citadelstext">￥</span>，
								该效果在<span class="citadelstext">执行行动</span>后自动发动。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>天目湖位于常州溧阳市南八公里处，因属天目山余脉，故名“天目湖”。
								天目湖被誉为“江南明珠”、“绿色仙境”，天目湖全区拥有300平方公里的生态保护区，区内坐落着沙河、大溪两座国家级大型水库。是江苏省首批生态旅游示范区。</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p612'">
						<tr style="width: 1000px">
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 九龙山</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月5日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造该建筑只需要支付6<span class="citadelstext">￥</span>，
								回合结束计算分数时该建筑为8分。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造完该<span class="citadelstext">建筑</span>后立即获得1<span class="citadelstext">￥</span>，
								该效果立即自动发动。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">8号角色</span>指定该建筑为目标时，
								该建筑的价格为6<span class="citadelstext">￥</span>（<span class="citadelstext">城管</span>拆除该建筑只需支付5<span class="citadelstext">￥</span>）。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;游戏结束时若该牌依然为你的手牌，你的总分-2。尽量在游戏结束之前建造该牌或在游戏结束之前将该牌交给其他玩家。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>该山位于孟河镇，相传为常州的龙脉。</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p304'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 常州金店</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月7日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你建造完 <span class="citadelstext">常州金店</span>
								后，如果你有超过3￥，你将3￥装饰在该建筑上，否则你将所有的￥装饰在该建筑上，你无法选择不发动该效果。<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造 <span class="citadelstext">常州金店</span> 的当回合你不能从该建筑上拿回1￥。
								从下一回合起，若该建筑的装饰等级大于0你可以从该牌上拿回1￥，你也可以选择不拿。一回合最多拿回1￥。<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
								装饰在该牌上的￥也可以通过发动建筑特效拿回。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>常州金店有限公司创建于1985年，是中国黄金协会常务理事单位。</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p406'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 中联大厦</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月7日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">中联大厦</span>
								会在每回合结束时自动提升一级装饰等级。你不需要支付1￥，装饰所需的1￥从金库中直接获取并放置于该建筑上。当该建筑装饰等级超过3时，自动拆除该建筑。<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="citadelstext">家具商</span>
								可以在建造该建筑的当回合装饰该建筑，但是会让该建筑早一回合自动拆除。若该建筑的装饰等级已大于0（建造该建筑之后的回合），家具商无法装饰该建筑。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>中联大厦建造于1986年，位于文化宫广场南面，集合了商场、餐饮、娱乐等多功能设施，是常州历史上第一座商业综合体。
								中联大厦有12层，55米，曾是常州第一高楼，2017年4月25日拆除。</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p407'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 别墅区</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月7日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从你建造完 <span class="citadelstext">别墅区</span>
								起，每当你建造一个价格为5￥及以上的建筑，若该新造建筑的装饰等级小于3，该新造建筑会自动提升一级装饰等级。你不需要支付1￥，装饰所需的1￥从金库中直接获取并放置于该建筑上。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;之前建造的价格5￥及以上的建筑不会提高装饰等级。</br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p510'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 青枫公园</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月7日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;执行行动阶段当你选择获得牌，若 <span class="citadelstext">青枫公园</span>
								装饰等级小于3会自动提升一级装饰等级。你不需要支付1￥。装饰所需的1￥从金库中直接获取并放置于该建筑上。<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因为角色技能或是建筑效果获得牌无法触发 <span class="citadelstext">青枫公园</span> 的效果。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>2008年5月建成的青枫公园位于钟楼开发区，是常州最大的开放式公园，总面积达45公顷。青枫公园是常州市第一个森林公园。</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p408'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 护王府</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月12日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你选择1号角色或2号角色执行行动后，若 <span class="citadelstext">护王府</span>
								的装饰等级小于3，会自动提升一级装饰等级。你不需要支付1￥，装饰所需的1￥从金库中直接获取并放置于该建筑上。<br/></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>护王府位于局前街，是陈坤书的府第遗址。
								护王陈坤书是广西桂平人，1851年参加太平天国金田起义，1862年由苏州移驻常州，被天王洪秀全晋封为“护王”。护王府是1862年陈坤书移防常州时所建。
								1864年4月李鸿章率清军收复常州，同年5月，护王陈坤书在肉搏战中力竭受伤后被俘，不屈而死。</i>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p513'">	
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 瓜田</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月12日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当一名其他玩家所选的角色成为1号角色的目标，在该玩家跳过其回合时你获得1￥。<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你本回合选择了1号角色且成功命中一名玩家，你依然可以获得1￥。
								如果本回合你选择的角色为1号角色的目标，你无法获得1￥。<br/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果本回合没有玩家选择1号角色指定的目标角色，你无法获得1￥。<br/>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p613'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 福利院</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月12日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从你建造完 <span class="citadelstext">福利院</span>
								起，每当你建造一个价格为2￥及以下的建筑，若该新造建筑的装饰等级小于3，该新造建筑会自动提升一级装饰等级。你不需要支付1￥，装饰所需的1￥从金库中直接获取并放置于该建筑上。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;之前建造的价格2￥及以下的建筑不会提高装饰等级。</br>
							</td>
						</tr>
					</table>
					<table ng-show="showedCard == 'p614'">		
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 保险大厦</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月12日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你成为一名角色技能的目标，在技能效果结算完毕后你能获得1￥。你以此法获得1￥的时机如下：</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-当你选择了送葬者指定的角色且你被带走时；</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-当你的所有￥在你的回合开始时被盗贼偷走之后；</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-当魔术师和你交换手牌后；</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-当城管拆除你其它建筑后。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你没有钱时被盗贼偷窃，你依然会获得1￥。
								若魔术师和你交换手牌时你的手牌数量不降反增（基本上不大可能），你依然会获得1￥。当城管拆除该建筑后，你不会获得1￥。</br>
							</td>
						</tr>
					</table>
					
					<table ng-show="showedCard == 'p203'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 报刊亭</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月16日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你建造完 <span class="citadelstext">报刊亭</span>
								后，立即将牌堆顶的2张牌放置于 <span class="citadelstext">报刊亭</span>下方。这2张牌不会带来额外得分。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你每回合可以获得 <span class="citadelstext">报刊亭</span>
								下方的第一张牌 ，但是你不能同时获得下方的2张。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当<span class="citadelstext">报刊亭</span>
								下方没有牌时，立即拆除<span class="citadelstext">报刊亭</span>。若你不想<span class="citadelstext">报刊亭</span>被拆除，
								请不要在<span class="citadelstext">报刊亭</span>下方还有1张牌的时候拿走那张牌。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当<span class="citadelstext">报刊亭</span>被各种方式拆除后，
								将<span class="citadelstext">报刊亭</span>和其下方的所有牌放置于牌堆底。
							</td>
						</tr>
					</table>
					
					<table ng-show="showedCard == 'p204'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 神亭岭</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月16日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若你已建造<span class="citadelstext">神亭岭</span>，
								每当你建造一个治安（红色）<span class="citadelstext">建筑</span>后立即摸一张牌，该效果立即自动发动。<br/></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>神亭岭，位于金坛区薛埠镇，茅麓茶场以东。
								公元195年，小霸王<del style="background-color:grey">孙笨</del>孙策在攻打刘繇时曾在此和刘繇部将太史慈发生过一场恶战。（《三国志·吴书·太史慈传》：
								“时独与一骑卒遇策。策从骑十三，皆韩当、宋谦、黄盖辈也。慈便前斗，正与策对。策刺慈马，而揽得慈项上手戟；慈亦得策兜鍪。会两家兵骑并各来赴，于是解散。）
								</i>
								
							</td>
						</tr>
					</table>
					
					<table ng-show="showedCard == 'p511'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 运河五号</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月16日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;你每回合可以花费1￥装饰<span class="citadelstext">运河五号</span>，每回合限一次。
								若你本回合已使用<span class="citadelstext">家具商</span>的技能效果装饰该<span class="citadelstext">建筑</span>，
								你依然可以发动<span class="citadelstext">运河五号</span>的效果花费1￥装饰。
								当该建筑的装饰等级为3时你无法装饰该建筑。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该<span class="citadelstext">建筑</span>上每有1<span class="citadelstext">￥</span>，
								你建造特殊（紫色）<span class="citadelstext">建筑</span>少支付1<span class="citadelstext">￥</span>。
								该特效不会降低你特殊（紫色）<span class="citadelstext">建筑</span>的分值。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>运河五号创意街区建成于2008年12月15日，位于常州市三堡街，京杭大运河南岸。
								运河五号创意街区利用原常州恒源畅厂、常州第五毛纺织厂、常州梳篦厂、常州航海仪器厂等工业遗存和文化遗迹，加以改造和利用，
								建设成一个设施完备、功能完善、服务全面、氛围独特的吸引设计类创意人才和企业创业和发展的平台。这里也是常州市钟楼区艺术教育实践基地。
								</i>
								
							</td>
						</tr>
					</table>
					
					<table ng-show="showedCard == 'p514'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 东坡公园</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月16日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每回合你可以展示牌堆顶的2张牌，将所有特殊（紫色）类型的牌收为手牌，并将其余展示的牌置于牌堆底。
								每回合限发动一次该效果。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若2张展示的牌都为特殊（紫色）类型，你将该两张牌都收为手牌。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>东坡公园位于红梅公园东南侧，古运河东去的咽喉要地。
								整个景区是由一个三面环水的半岛和古运河中的半月岛组成，二岛间由一座明代古桥相连。相传北宋大文豪家苏东坡先生曾11次来常州，并终老于此。
								东坡公园便是苏东坡当年弃舟登岸入城之地。后南宋有人为纪念在常州终老的苏东坡，建舣舟亭以示怀念。
								</i>
								
							</td>
						</tr>
					</table>
					
					<table ng-show="showedCard == 'p615'">
						<tr>
							<td><img ng-src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 古炮台</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月16日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回合内若<span class="citadelstext">古炮台</span>下方没有牌，你将一张手牌背面朝上置于<span class="citadelstext">古炮台</span>下方，
								否则你将该<span class="citadelstext">古炮台</span>下方的牌弃置并弃置任意一名其他玩家总价值不超过4<span class="citadelstext">￥</span>的建筑弃置。
								每回合只能发动一次<span class="citadelstext">古炮台</span>的效果，即你不能在放置牌的同一回合弃置其他玩家的<span class="citadelstext">建筑</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若<span class="citadelstext">古炮台</span>下方没有牌，你不能弃置其他玩家的<span class="citadelstext">建筑</span>。
								若<span class="citadelstext">古炮台</span>下方有牌，你不能放置牌。<span class="citadelstext">古炮台</span>下方的牌不会带来额外的分数。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一个<span class="citadelstext">建筑</span>的价值等于该<span class="citadelstext">建筑</span>的价格和其装饰等级相加。</br>
								</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>该炮台位于长江南岸的江阴鹅鼻嘴公园，修建于1949年。
								</i>
								
							</td>
						</tr>
					</table>
					
					<table ng-show="showedCard == 'p515'">
						<tr style="width: 1000px">
							<td><img src="/image/Citadels/Cards/{{showedCard}}.png" class="newsImg"></td>
							<td style="width: 790px; vertical-align:top">
								<h4 class="citadelstext">&nbsp;&nbsp;&nbsp;&nbsp; 揽月湾</h4>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2020年9月18日上线）</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建造完该<span class="citadelstext">建筑</span>后，
								你可以额外支付1￥并免费建造一个价格不超过3￥的<span class="citadelstext">建筑</span>。你以此法建造的<span class="citadelstext">建筑</span>不计入回合上限。
								除非特殊情况，否则你不能以此法建造相同名字的<span class="citadelstext">建筑</span>。</br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该效果在建造完之后立即发动，你也可以选择不发动，但是之后无法发动该效果。</br></br>
								<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>建筑资料</i></h5>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>西太湖揽月湾广场，熠熠湖水，阵阵涟漪，直径88米、高100米的大型喷泉冲天而起，变幻多姿；音乐、喷泉、激光、灯光，在西太湖揽月湾绘织成了一幅美轮美奂的水景图；
								西太湖揽月湾打造出了优美的“月光水城”幽静的西太湖延岸，最惬意的河边散步。
								</i>
							</td>
						</tr>
					</table>
					
				</div>
			</td>
		</tr>
	</table>
</body>
</html>